Repository mendix/widgets-resources, pull requests merged in 2021-02, with the labels that each got.

#425 Add action to release atlas theme folder
  .github/workflows/AtlasReleaseThemeFiles.yml
  packages/theming/atlas/package.json
Labels: Atlas, Web

#430 feat(datagrid-web): add text template and reorder properties
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: Enhancement, Web

#429 Align variables & fix css import
  packages/theming/atlas/src/theme/web/custom-variables.scss
  packages/theming/atlas/src/theme/web/settings.json
  packages/theming/atlas/src/themesource/atlas_ui_resources/web/_variables.scss
Labels: Atlas, Web

#413 Webview improvements (on message and shared cookies)
  packages/pluggableWidgets/web-view-native/src/WebView.tsx
  packages/pluggableWidgets/web-view-native/src/WebView.xml
  packages/pluggableWidgets/web-view-native/src/__tests__/__snapshots__/WebView.spec.tsx.snap
  packages/pluggableWidgets/web-view-native/typings/WebViewProps.d.ts
Labels: Enhancement, Native

#434 Fix versioning scripts atlas
  packages/theming/atlas/scripts/bump-major.js
  packages/theming/atlas/scripts/bump-minor.js
  packages/theming/atlas/scripts/bump-patch.js
  packages/theming/atlas/scripts/lib/readFile.js
  packages/theming/atlas/scripts/lib/writeFile.js
Labels: Atlas

#435 feat(web-view-native): bump version
  packages/pluggableWidgets/web-view-native/package.json
  packages/pluggableWidgets/web-view-native/src/package.xml
Labels: Native

#432 Data grid - Introduce row concept
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/ui/Datagrid.scss
Labels: Enhancement, Web

#438 Data Grid - Fix wrong context when filter is applied
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
Labels: Web, bug

#437 Data grid - Empty header & placeholder fix
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/ui/Datagrid.scss
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: Web, enhancement

#442 maps-web: fix error using mx version 9
  packages/pluggableWidgets/maps-web/package.json
Labels: Web, bug

#443 fix: fix gh actions
  .github/workflows/ScriptTests.yml
  .github/workflows/UnitTests.yml
  .github/workflows/WebAutomatedTests.yml
Labels: Cross-Platform, bug

#448 [NC-148] Fix webview native dependency
  package-lock.json
  packages/pluggableWidgets/signature-native/package.json
  packages/pluggableWidgets/signature-native/src/__tests__/__snapshots__/Signature.android.spec.tsx.snap
  packages/pluggableWidgets/signature-native/src/__tests__/__snapshots__/Signature.ios.spec.tsx.snap
  packages/pluggableWidgets/signature-native/src/package.xml
  packages/pluggableWidgets/web-view-native/package.json
  packages/pluggableWidgets/web-view-native/src/package.xml
Labels: Native, bug

#445 [WC-117] Data grid - Organize properties
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: Web, enhancement

#449 [WC-140] Transform groups into tabs for Studio - Apply to Data Grid
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/tools/piw-utils/src/utils/PageEditorUtils.ts
Labels: Web, enhancement

#453 [WC-148] Add header to Data grid preview
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
Labels: Web, enhancement

#447 [NC-20] Add preview for native rating
  packages/pluggableWidgets/rating-native/package.json
  packages/pluggableWidgets/rating-native/src/Rating.editorConfig.ts
  packages/pluggableWidgets/rating-native/src/assets/StructurePreviewRatingEmpty.svg
  packages/pluggableWidgets/rating-native/src/assets/StructurePreviewRatingFilled.svg
  packages/pluggableWidgets/rating-native/src/package.xml
  packages/pluggableWidgets/rating-native/tsconfig.json
Labels: Mx9, Native

#450 [NC-24] Add preview for QRCode
  packages/pluggableWidgets/qr-code-native/package.json
  packages/pluggableWidgets/qr-code-native/src/QRCode.editorConfig.ts
  packages/pluggableWidgets/qr-code-native/src/assets/StructurePreviewQRCode.svg
  packages/pluggableWidgets/qr-code-native/src/package.xml
  packages/pluggableWidgets/qr-code-native/tsconfig.json
Labels: Mx9, Native

#446 Add custom variables import
  packages/theming/atlas/src/themesource/atlas_ui_resources/web/buildingblocks/_card.scss
  packages/theming/atlas/src/themesource/atlas_ui_resources/web/buildingblocks/_formblock.scss
  packages/theming/atlas/src/themesource/atlas_ui_resources/web/buildingblocks/_pageheader.scss
  packages/theming/atlas/src/themesource/atlas_ui_resources/web/core/helpers/_helperclasses.scss
  packages/theming/atlas/src/themesource/atlas_ui_resources/web/main.scss
Labels: Atlas, Mx9, Web, bug

#441 [NC-45] Add new design properties for image
  packages/theming/atlas/src/themesource/atlas_ui_resources/native/core/helpers/images.ts
  packages/theming/atlas/src/themesource/atlas_ui_resources/native/core/widgets/popupmenu.ts
  packages/theming/atlas/src/themesource/atlas_ui_resources/native/design-properties.json
Labels: Atlas, Native, enhancement

#460 [WC-73] Atlas: adding design properties for Table and removing classes
  packages/theming/atlas/src/themesource/atlas_ui_resources/web/core/helpers/_tables.scss
  packages/theming/atlas/src/themesource/atlas_ui_resources/web/design-properties.json
Labels: Atlas, enhancement

#457 [NC-36] Fix native image styles
  packages/theming/atlas/src/themesource/atlas_ui_resources/native/core/helpers/images.ts
  packages/theming/atlas/src/themesource/atlas_ui_resources/native/core/widgets/images.ts
Labels: Atlas, Native, Web

#440 [WC-30] Timeline web structure preview
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/timeline-web/src/Timeline.editorConfig.ts
  packages/pluggableWidgets/timeline-web/src/Timeline.tsx
  packages/pluggableWidgets/timeline-web/src/assets/lineAndDot.svg
  packages/pluggableWidgets/timeline-web/src/package.xml
  packages/pluggableWidgets/timeline-web/src/utils/utils.ts
  packages/pluggableWidgets/timeline-web/tsconfig.json
  packages/pluggableWidgets/timeline-web/typings/TimelineProps.d.ts
Labels: Web, enhancement

#461 feat(datagrid-web): add requestTotalCount
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
Labels: Mx9, Web, enhancement

#458 fix(qr-code-native): bump major
  packages/pluggableWidgets/qr-code-native/package.json
  packages/pluggableWidgets/qr-code-native/src/package.xml
Labels: Native

#469 Add new build status badges & dependency fixes
  README.md
  package-lock.json
  package.json
  packages/pluggableWidgets/bar-chart-native/src/utils/__tests__/StyleUtils.spec.ts
  packages/tools/generator-widget/package.json
  packages/tools/pluggable-widgets-tools/configs/eslint.ts.base.json
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/tests/commands.js
  packages/tools/utils-react-widgets/package.json
Labels: Cross-Platform

#478 Fix broken build script
  packages/theming/atlas/scripts/build.js
Labels: Atlas, bug

#479 Update build script Atlas
  packages/theming/atlas/scripts/build.js
  scripts/test/updateAtlas.js
Labels: Atlas, bug

#482 PIW-Tools: implementing eslint rules for hooks
  package-lock.json
  packages/tools/pluggable-widgets-tools/configs/eslint.js.base.json
  packages/tools/pluggable-widgets-tools/configs/eslint.ts.base.json
  packages/tools/pluggable-widgets-tools/package.json
Labels: Cross-Platform, enhancement

#463 [GH Action] Forcing to use only added and modified files
  .github/workflows/ScriptTests.yml
  .github/workflows/UnitTests.yml
  .github/workflows/WebAutomatedTests.yml
Labels: Cross-Platform, enhancement
