Repository mendix/widgets-resources, pull requests merged in 2021-11, with the labels that each got.

#1041 [WC-843] Optimize Image widget for Studio
  packages/modules/atlas-core/CHANGELOG.md
  packages/pluggableWidgets/image-web/CHANGELOG.md
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/image-web/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-web/src/Image.editorPreview.tsx
  packages/pluggableWidgets/image-web/src/Image.tsx
  packages/pluggableWidgets/image-web/src/Image.xml
  packages/pluggableWidgets/image-web/src/components/Image/Image.tsx
  packages/pluggableWidgets/image-web/src/components/__tests__/Image.spec.tsx
  packages/pluggableWidgets/image-web/src/package.xml
  packages/pluggableWidgets/image-web/typings/ImageProps.d.ts
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
Labels: enhancement, Web

#1050 chore: specify npm version requirement in README for monorepo
  README.md
Labels: documentation

#1020 [NC-533] New Switch Widget
  packages/pluggableWidgets/switch-native/CHANGELOG.md
  packages/pluggableWidgets/switch-native/README.md
  packages/pluggableWidgets/switch-native/detox.config.js
  packages/pluggableWidgets/switch-native/image-snapshots/android/Switch renders correctly when false 1-snap.png
  packages/pluggableWidgets/switch-native/image-snapshots/android/Switch renders correctly when true 1-snap.png
  packages/pluggableWidgets/switch-native/image-snapshots/ios/Switch renders correctly when false 1-snap.png
  packages/pluggableWidgets/switch-native/image-snapshots/ios/Switch renders correctly when true 1-snap.png
  packages/pluggableWidgets/switch-native/package.json
  packages/pluggableWidgets/switch-native/src/Switch.editorConfig.ts
  packages/pluggableWidgets/switch-native/src/Switch.icon.png
  packages/pluggableWidgets/switch-native/src/Switch.tile.png
  packages/pluggableWidgets/switch-native/src/Switch.tsx
  packages/pluggableWidgets/switch-native/src/Switch.xml
  packages/pluggableWidgets/switch-native/src/__tests__/Switch.spec.tsx
  packages/pluggableWidgets/switch-native/src/assets/checked.svg
  packages/pluggableWidgets/switch-native/src/package.xml
  packages/pluggableWidgets/switch-native/src/ui/Styles.ts
  packages/pluggableWidgets/switch-native/tests/e2e/Switch.spec.ts
  packages/pluggableWidgets/switch-native/tsconfig.json
  packages/pluggableWidgets/switch-native/typings/SwitchProps.d.ts
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/theme/native/exclusion-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/switch.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/checkbox.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/switch.ts
  packages/theming/atlas/src/themesource/atlas_core/native/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/native/main.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/widgets.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, Native

#1048 [WC-842] Add line chart e2e test
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartColoredLineMarkers--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartCurved--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPercentage--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPercentageOfParent--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPercentageOfWidth--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPercentagePixels--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPixels--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPixelsPercentageOfParent--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartGridLinesBoth--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartGridLinesHorizontal--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartGridLinesVertical--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartLegend--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartLineBasic--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartLineMarkers--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartLinear--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartNoLegend--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartXLabel--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartXYLabels--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartYLabel--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/specs/LineChart.spec.ts
  packages/pluggableWidgets/line-chart-web/tests/e2e/tsconfig.json
Labels: test, Web

#1052 [WC-861] Fix failing builds on windows machines
  package-lock.json
  packages/tools/piw-utils-internal/src/builders/ListValueBuilder.ts
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/bin/mx-scripts.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#1055 chore: update readme
  .nvmrc
  CONTRIBUTING.md
  README.md
Labels: documentation, Cross-Platform

#1057 fix: change path for release widget script
  scripts/release/createWidgetRelease.js
Labels: bug, Web

#1058 fix: fix widget automation
  scripts/release/createWidgetRelease.js
Labels: bug, Web

#1059 fix: widget automation
  scripts/release/createWidgetRelease.js
Labels: bug, Web

#1061 Feat/move web automation
  .github/workflows/CreateWebRelease.yml
  .github/workflows/MarketplaceRelease.yml
  packages/modules/atlas-web-content/CHANGELOG.md
  packages/modules/atlas-web-content/README.md
  packages/modules/atlas-web-content/package.json
  packages/modules/atlas-web-content/scripts/build.ts
  packages/modules/atlas-web-content/tsconfig.json
  scripts/release/createWebModules.js
Labels: enhancement, Web

#1062 fix: web automation workflow
  .github/workflows/CreateWebRelease.yml
Labels: bug, Web

#1064 fix: web automation
  .github/workflows/CreateWebRelease.yml
Labels: bug, Web

#1067 feat: reusing docker images from github container registry
  scripts/release/module-automation/commons.js
Labels: enhancement, Cross-Platform

#1069 fix: module automation using ghrc
  .github/workflows/CreateWebRelease.yml
  .github/workflows/MarketplaceRelease.yml
Labels: enhancement, Cross-Platform

#1071 Revert usage of GHCR
  .github/workflows/CreateWebRelease.yml
  .github/workflows/MarketplaceRelease.yml
  scripts/release/module-automation/commons.js
Labels: bug, Cross-Platform

#1070 Updating mono for mxbuild
  packages/tools/pluggable-widgets-tools/scripts/mxbuild.Dockerfile
Labels: enhancement, Cross-Platform

#1047 [WC-845] Implement developer mode for charts (playground)
  package-lock.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/rollup.config.js
  packages/pluggableWidgets/line-chart-web/src/LineChart.editorConfig.ts
  packages/pluggableWidgets/line-chart-web/src/LineChart.editorPreview.tsx
  packages/pluggableWidgets/line-chart-web/src/LineChart.tsx
  packages/pluggableWidgets/line-chart-web/src/LineChart.xml
  packages/pluggableWidgets/line-chart-web/src/__tests__/LineChart.spec.tsx
  packages/pluggableWidgets/line-chart-web/src/components/LineChart.tsx
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartColoredLineMarkers--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartCurved--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPercentage--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPercentageOfParent--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPercentageOfWidth--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPercentagePixels--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPixels--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartDimensionPixelsPercentageOfParent--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartGridLinesBoth--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartGridLinesHorizontal--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartGridLinesVertical--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartLegend--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartLineBasic--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartLineMarkers--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartLinear--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartNoLegend--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartXLabel--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartXYLabels--firefox.png
  packages/pluggableWidgets/line-chart-web/tests/e2e/screenshot-baseline/lineChartYLabel--firefox.png
  packages/pluggableWidgets/line-chart-web/typings/LineChartProps.d.ts
  packages/shared/charts/hooks/package.json
  packages/shared/charts/package.json
  packages/shared/charts/src/assets/close.svg
  packages/shared/charts/src/components/Chart.tsx
  packages/shared/charts/src/components/ChartWidget.tsx
  packages/shared/charts/src/components/Playground/CodeEditor.tsx
  packages/shared/charts/src/components/Playground/Playground.tsx
  packages/shared/charts/src/components/Playground/Sidebar.tsx
  packages/shared/charts/src/components/Playground/utils.ts
  packages/shared/charts/src/components/__tests__/Chart.spec.tsx
  packages/shared/charts/src/hooks/index.ts
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
  packages/shared/charts/src/index.tsx
  packages/shared/charts/src/ui/Chart.scss
  packages/shared/charts/src/ui/Panel.scss
  packages/shared/charts/src/ui/Playground.scss
  packages/shared/charts/src/ui/Sidebar.scss
  packages/shared/charts/src/utils/configs.ts
  packages/shared/charts/tsconfig.json
  packages/shared/charts/typings/json-source-map.d.ts
Labels: enhancement, Web

#1073 fix: common scripts for automation
  scripts/release/module-automation/commons.js
Labels: bug, Cross-Platform

#1080 fix(data-widgets): bump version
  packages/modules/data-widgets/package.json
Labels: bug, Web

#1077 [WC-863] Render SVG instead of actual Map
  packages/pluggableWidgets/maps-web/src/Maps.editorPreview.tsx
  packages/pluggableWidgets/maps-web/src/assets/GoogleMapsDesign.svg
Labels: enhancement, Web

#1049 [WC-874] Video Player - Change default data source to dynamic
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.xml
  packages/pluggableWidgets/video-player-web/src/package.xml
Labels: enhancement, Web

#1053 [WC-246] Added visibility option for popup items
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.editorConfig.ts
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.xml
  packages/pluggableWidgets/popup-menu-web/src/__tests__/PopupMenu.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/components/PopupMenu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/typings/PopupMenuProps.d.ts
Labels: enhancement, Web

#1089 Fix line-chart screenshot test failing
  packages/pluggableWidgets/line-chart-web/tests/e2e/specs/LineChart.spec.ts
Labels: test, Web

#1085 fix(pluggable-widgets-tools): fix jest web mocks
  packages/tools/pluggable-widgets-tools/test-config/__mocks__/FilterBuilders.js
  packages/tools/pluggable-widgets-tools/test-config/__mocks__/WebIcon.js
  packages/tools/pluggable-widgets-tools/test-config/transform.js
Labels: bug, Web

#1078 [WC-856]: Fix parsing of styles in rollup
  package-lock.json
  packages/theming/atlas/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Web

#1090 [WC-856] backport rollup fixes
  package-lock.json
  packages/theming/atlas/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/test-config/__mocks__/FilterBuilders.js
  packages/tools/pluggable-widgets-tools/test-config/__mocks__/WebIcon.js
  packages/tools/pluggable-widgets-tools/test-config/transform.js
Labels: bug, Web

#1036 [WC-583] Rewrite slider to pluggable
  packages/customWidgets/slider-web/src/Slider.webmodeler.ts
  packages/customWidgets/slider-web/src/Slider.xml
  packages/customWidgets/slider-web/src/components/Alert.ts
  packages/customWidgets/slider-web/src/components/Slider.ts
  packages/customWidgets/slider-web/src/components/SliderContainer.ts
  packages/customWidgets/slider-web/src/components/__tests__/Alert.spec.ts
  packages/customWidgets/slider-web/src/components/__tests__/Slider.spec.ts
  packages/customWidgets/slider-web/src/ui/Slider.scss
  packages/customWidgets/slider-web/src/ui/_slider-theme.scss
  packages/customWidgets/slider-web/src/ui/_variables.scss
  packages/customWidgets/slider-web/tsconfig.json
  packages/customWidgets/slider-web/tsconfig.spec.json
  packages/customWidgets/slider-web/webpack.config.dev.js
  packages/customWidgets/slider-web/webpack.config.prod.js
  packages/pluggableWidgets/slider-web/CHANGELOG.md
  packages/pluggableWidgets/slider-web/README.md
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/slider-web/src/Slider.editorConfig.ts
  packages/pluggableWidgets/slider-web/src/Slider.editorPreview.tsx
  packages/pluggableWidgets/slider-web/src/Slider.icon.png
  packages/pluggableWidgets/slider-web/src/Slider.tile.png
  packages/pluggableWidgets/slider-web/src/Slider.tsx
  packages/pluggableWidgets/slider-web/src/Slider.xml
  packages/pluggableWidgets/slider-web/src/components/Slider.tsx
  packages/pluggableWidgets/slider-web/src/components/__tests__/Slider.spec.tsx
  packages/pluggableWidgets/slider-web/src/components/__tests__/__snapshots__/Slider.spec.tsx.snap
  packages/pluggableWidgets/slider-web/src/package.xml
  packages/pluggableWidgets/slider-web/src/ui/Slider.scss
  packages/pluggableWidgets/slider-web/src/utils/createHandleGenerator.tsx
  packages/pluggableWidgets/slider-web/src/utils/getMaxValue.ts
  packages/pluggableWidgets/slider-web/src/utils/getMinValue.ts
  packages/pluggableWidgets/slider-web/src/utils/getPreviewValues.ts
  packages/pluggableWidgets/slider-web/src/utils/getStepValue.ts
  packages/pluggableWidgets/slider-web/src/utils/getStyleProp.ts
  packages/pluggableWidgets/slider-web/src/utils/isValidMinMax.ts
  packages/pluggableWidgets/slider-web/src/utils/isVertical.ts
  packages/pluggableWidgets/slider-web/src/utils/marks.ts
  packages/pluggableWidgets/slider-web/src/utils/useMarks.ts
  packages/pluggableWidgets/slider-web/src/utils/useOnChangeDebounced.ts
  packages/pluggableWidgets/slider-web/tests/e2e/objects/Slider.widget.ts
  packages/pluggableWidgets/slider-web/tests/e2e/specs/Slider.spec.ts
  packages/pluggableWidgets/slider-web/tests/e2e/tsconfig.json
  packages/pluggableWidgets/slider-web/tsconfig.json
  packages/pluggableWidgets/slider-web/typings/SliderProps.d.ts
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_slider-color-variant.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_slider.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_range-slider.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_slider.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/sliders--firefox.png
Labels: enhancement, Web

#1093 [NC-561] Fix jsactions rollup config glob pattern windows
  configs/jsactions/rollup.config.js
Labels: bug, Cross-Platform

#1095 [WC-490] Pluggable Bar chart
  packages/pluggableWidgets/bar-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-web/README.md
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/rollup.config.js
  packages/pluggableWidgets/bar-chart-web/src/BarChart.editorConfig.ts
  packages/pluggableWidgets/bar-chart-web/src/BarChart.editorPreview.tsx
  packages/pluggableWidgets/bar-chart-web/src/BarChart.tsx
  packages/pluggableWidgets/bar-chart-web/src/BarChart.xml
  packages/pluggableWidgets/bar-chart-web/src/__tests__/BarChart.spec.tsx
  packages/pluggableWidgets/bar-chart-web/src/package.xml
  packages/pluggableWidgets/bar-chart-web/tsconfig.json
  packages/pluggableWidgets/bar-chart-web/typings/BarChartProps.d.ts
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
Labels: enhancement, Web

#1097 [WC-869] Finish more (line) chart features
  packages/pluggableWidgets/bar-chart-web/rollup.config.js
  packages/pluggableWidgets/bar-chart-web/src/BarChart.editorPreview.tsx
  packages/pluggableWidgets/bar-chart-web/src/BarChart.tsx
  packages/pluggableWidgets/bar-chart-web/src/__tests__/BarChart.spec.tsx
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/rollup.config.js
  packages/pluggableWidgets/line-chart-web/src/LineChart.editorPreview.tsx
  packages/pluggableWidgets/line-chart-web/src/LineChart.tsx
  packages/pluggableWidgets/line-chart-web/src/LineChart.xml
  packages/pluggableWidgets/line-chart-web/src/__tests__/LineChart.spec.tsx
  packages/pluggableWidgets/line-chart-web/src/package.xml
  packages/shared/charts/src/assets/information-circle.svg
  packages/shared/charts/src/components/ChartWidget.tsx
  packages/shared/charts/src/components/Playground/Playground.tsx
  packages/shared/charts/src/components/__tests__/Chart.spec.tsx
  packages/shared/charts/src/components/__tests__/configs.spec.ts
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
  packages/shared/charts/src/ui/Playground.scss
  packages/shared/charts/src/utils/configs.ts
  packages/shared/charts/src/utils/themeFolderConfig.ts
Labels: enhancement, Web

#1098 [NC-412] Floating action button tests
  packages/pluggableWidgets/background-image-native/tests/e2e/background-image.spec.ts
  packages/pluggableWidgets/floating-action-button-native/detox.config.js
  packages/pluggableWidgets/floating-action-button-native/image-snapshots/android/Badge renders correct appearance after toggling secondary buttons 1-snap.png
  packages/pluggableWidgets/floating-action-button-native/image-snapshots/android/Badge renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/floating-action-button-native/package.json
  packages/pluggableWidgets/floating-action-button-native/src/FloatingActionButton.tsx
  packages/pluggableWidgets/floating-action-button-native/src/__tests__/FloatingActionButton.spec.tsx
  packages/pluggableWidgets/floating-action-button-native/src/__tests__/__snapshots__/FloatingActionButton.spec.tsx.snap
  packages/pluggableWidgets/floating-action-button-native/tests/e2e/FloatingActionButton.spec.ts
  packages/pluggableWidgets/floating-action-button-native/tsconfig.json
  packages/pluggableWidgets/rating-native/tests/e2e/Rating.spec.ts
  packages/pluggableWidgets/switch-native/tests/e2e/Switch.spec.ts
  tests/e2e/helpers-native/expectToMatchImageSnapshot.ts
Labels: Native
