Repository mendix/widgets-resources, pull requests merged in 2021-08, with the labels that each got.

#829 feat(maps-web): renaming properties
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/Maps.xml
  packages/pluggableWidgets/maps-web/src/package.xml
Labels: Web, enhancement

#832 feat(pluggable-widgets-tools): add changelog and bump version
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: Cross-Platform, enhancement

#813 [WC-671] Process image viewer feedback for Studio
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.editorConfig.ts
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.xml
  packages/tools/piw-utils-internal/src/utils/PageEditorUtils.ts
  packages/tools/piw-utils-internal/src/utils/__tests__/PageEditorUtils.spec.ts
Labels: enhancement, Web

#834 Add variable export for native accordion
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, Native

#790 Crafting: Automate creation and release of modules
  .github/workflows/MarketplaceRelease.yml
  package.json
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/nanoflow-actions-hybrid/package.json
  packages/jsActions/nanoflow-actions-native/package.json
  packages/jsActions/nanoflow-actions-web/package.json
  scripts/release/createNativeModules.js
  scripts/release/marketplaceRelease.js
Labels: enhancement, Cross-Platform, crafting

#798 [WC-354] Add lazy loading for tree view nodes
  packages/pluggableWidgets/tree-view-web/src/TreeView.editorConfig.ts
  packages/pluggableWidgets/tree-view-web/src/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/TreeView.xml
  packages/pluggableWidgets/tree-view-web/src/assets/loading-circle.svg
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/TreeViewBranchContext.ts
  packages/pluggableWidgets/tree-view-web/src/components/__tests__/TreeView.spec.tsx
  packages/pluggableWidgets/tree-view-web/src/ui/TreeView.scss
  packages/pluggableWidgets/tree-view-web/typings/TreeViewProps.d.ts
Labels: enhancement, Web

#830 [NC-420] Add native e2e tests for progress circle
  packages/pluggableWidgets/activity-indicator-native/tests/e2e/ActivityIndicator.spec.ts
  packages/pluggableWidgets/badge-native/tests/e2e/Badge.spec.ts
  packages/pluggableWidgets/progress-bar-native/tests/e2e/ProgressBar.spec.ts
  packages/pluggableWidgets/progress-circle-native/detox.config.js
  packages/pluggableWidgets/progress-circle-native/package.json
  packages/pluggableWidgets/progress-circle-native/tests/e2e/ProgressCircle.spec.ts
  tests/e2e/helpers-native/Helpers.ts
Labels: test, Native

#836 fix: automation for forked PRs
  .github/workflows/WebAutomatedTests.yml
Labels: bug, Cross-Platform

#826 [WC-695] Gallery Sorting
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/README.md
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.editorConfig.ts
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.editorPreview.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.xml
  packages/pluggableWidgets/dropdown-sort-web/src/assets/asc.svg
  packages/pluggableWidgets/dropdown-sort-web/src/assets/desc.svg
  packages/pluggableWidgets/dropdown-sort-web/src/components/SortComponent.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/DropdownSort.spec.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/SortComponent.spec.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/__snapshots__/SortComponent.spec.tsx.snap
  packages/pluggableWidgets/dropdown-sort-web/src/package.xml
  packages/pluggableWidgets/dropdown-sort-web/src/ui/dropdown-sort-main.scss
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.eot
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.svg
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.ttf
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.woff
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.woff2
  packages/pluggableWidgets/dropdown-sort-web/tsconfig.json
  packages/pluggableWidgets/dropdown-sort-web/typings/DropdownSortProps.d.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.xml
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
  packages/tools/piw-utils-internal/src/utils/SortProvider.ts
  packages/tools/piw-utils-internal/src/utils/index.ts
Labels: enhancement, wait for merge other PR, Web

#839 [WC-672] Process Image viewer web studio pro feedback
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.editorConfig.ts
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.editorPreview.tsx
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.tsx
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.xml
  packages/pluggableWidgets/image-viewer-web/typings/ImageViewerProps.d.ts
Labels: enhancement, Web

#841 fix(pluggable-widgets-tools): fix commonjs require settings
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#835 Disabled quill before update
  packages/customWidgets/rich-text-web/src/components/RichText.ts
Labels: enhancement, Web

#842 feat(rich-text-web): adding changelog and bump version
  packages/customWidgets/rich-text-web/CHANGELOG.md
  packages/customWidgets/rich-text-web/package.json
  packages/customWidgets/rich-text-web/src/package.xml
Labels: enhancement, Web

#814 [WC-635 & WC-636] Improve take a picture action
  packages/jsActions/nanoflow-actions-web/CHANGELOG.md
  packages/jsActions/nanoflow-actions-web/package.json
  packages/jsActions/nanoflow-actions-web/src/TakePicture.ts
Labels: enhancement, Web

#843 fix(atlas-ui): fix menubar z-index
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/package.json
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas.scss
Labels: bug, Atlas, Web

#844 fix(pluggable-widgets-tools): update rollup plugins
  package-lock.json
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/nanoflow-actions-native/package.json
  packages/jsActions/nanoflow-actions-web/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#845 [WC-605] Design properties for Gallery widget
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/src/theme/web/exclusion-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/_exclusion-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_gallery.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_gallery.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/web/main.scss
Labels: enhancement, Web

#847 [WC-709] Accordion - Fix previews with no data
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/accordion-web/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-web/src/Accordion.editorPreview.tsx
  packages/pluggableWidgets/accordion-web/src/package.xml
Labels: bug, Web

#848 [WC-702] Video Player - Renaming properties
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorConfig.ts
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorPreview.tsx
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.xml
  packages/pluggableWidgets/video-player-web/src/package.xml
  packages/pluggableWidgets/video-player-web/src/ui/VideoPlayerPreview.css
Labels: enhancement, Web

#852 [WC-722]: adding padding of dataviews
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/package.json
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_data-view.scss
Labels: enhancement, Web

#838 [WC-647] Implement accessibility keyboard controls for tree view widget
  package-lock.json
  packages/pluggableWidgets/tree-view-web/package.json
  packages/pluggableWidgets/tree-view-web/src/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/__tests__/TreeView.spec.tsx
  packages/pluggableWidgets/tree-view-web/src/components/hooks/treeViewAccessibility.tsx
  packages/pluggableWidgets/tree-view-web/src/components/hooks/useKeyboardHandler.tsx
  packages/pluggableWidgets/tree-view-web/src/ui/TreeView.scss
  packages/tools/pluggable-widgets-tools/package.json
Labels: enhancement, Web

#812 [WC-686] Create gh workflow to publish docker images
  .github/workflows/PublishDockerImage.yml
  .github/workflows/WebAutomatedTests.yml
  configs/e2e/mendix-versions.json
  packages/tools/pluggable-widgets-tools/scripts/e2e.js
Labels: test, Web, crafting

#853 Update mx8 version 8.18.10
  configs/e2e/mendix-versions.json
Labels: test, Web

#744 fix: Align image preview props type (9.5!)
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/index.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/list-image.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generatePreviewTypes.ts
Labels: enhancement, Cross-Platform, 9.5.0

#855 feat: aligning typings
  packages/pluggableWidgets/accessibility-helper-web/typings/AccessibilityHelperProps.d.ts
  packages/pluggableWidgets/accordion-native/typings/AccordionProps.d.ts
  packages/pluggableWidgets/accordion-web/typings/AccordionProps.d.ts
  packages/pluggableWidgets/animation-native/typings/AnimationProps.d.ts
  packages/pluggableWidgets/background-image-native/typings/BackgroundImageProps.d.ts
  packages/pluggableWidgets/bottom-sheet-native/typings/BottomSheetProps.d.ts
  packages/pluggableWidgets/carousel-native/typings/CarouselProps.d.ts
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/feedback-native/typings/FeedbackProps.d.ts
  packages/pluggableWidgets/fieldset-web/typings/FieldsetProps.d.ts
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
  packages/pluggableWidgets/intro-screen-native/typings/IntroScreenProps.d.ts
  packages/pluggableWidgets/listview-swipe-native/typings/ListViewSwipeProps.d.ts
  packages/pluggableWidgets/maps-web/typings/MapsProps.d.ts
  packages/pluggableWidgets/popup-menu-native/typings/PopupMenuProps.d.ts
  packages/pluggableWidgets/popup-menu-web/typings/PopupMenuProps.d.ts
  packages/pluggableWidgets/progress-bar-web/typings/ProgressBarProps.d.ts
  packages/pluggableWidgets/progress-circle-web/typings/ProgressCircleProps.d.ts
  packages/pluggableWidgets/rating-native/typings/RatingProps.d.ts
  packages/pluggableWidgets/repeater-native/typings/RepeaterProps.d.ts
  packages/pluggableWidgets/safe-area-view-native/typings/SafeAreaViewProps.d.ts
  packages/pluggableWidgets/timeline-web/typings/TimelineProps.d.ts
  packages/pluggableWidgets/tree-view-web/typings/TreeViewProps.d.ts
Labels: enhancement, Cross-Platform

#856 [WC-713] Add gallery e2e test
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryContent--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryDateFilter--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryDropdownSort--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryNumberFilter--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryTextFilter--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/specs/Gallery.spec.ts
  packages/pluggableWidgets/gallery-web/tests/e2e/tsconfig.json
Labels: test, Web

#858 fix(pluggable-widgets-tools): downgrade rollup-plugin-sass version
  package-lock.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#857 [WC-689] Tree view feedback
  packages/pluggableWidgets/tree-view-web/src/TreeView.editorConfig.ts
  packages/pluggableWidgets/tree-view-web/src/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/TreeView.xml
  packages/pluggableWidgets/tree-view-web/src/components/ChevronIcon.tsx
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/TreeViewBranchContext.ts
  packages/pluggableWidgets/tree-view-web/src/components/__tests__/TreeView.spec.tsx
  packages/pluggableWidgets/tree-view-web/src/components/__tests__/__snapshots__/TreeView.spec.tsx.snap
  packages/pluggableWidgets/tree-view-web/src/components/hooks/lazyLoading.ts
  packages/pluggableWidgets/tree-view-web/src/components/hooks/useAnimatedHeight.tsx
  packages/pluggableWidgets/tree-view-web/src/ui/TreeView.scss
  packages/pluggableWidgets/tree-view-web/typings/TreeViewProps.d.ts
Labels: enhancement, Web

#850 [NC-393] Local notification actions
  packages/pluggableWidgets/notifications-native/CHANGELOG.md
  packages/pluggableWidgets/notifications-native/package.json
  packages/pluggableWidgets/notifications-native/src/Notifications.tsx
  packages/pluggableWidgets/notifications-native/src/Notifications.xml
  packages/pluggableWidgets/notifications-native/src/package.xml
Labels: bug, Native

#871 feat: update Studio Pro version
  configs/e2e/mendix-versions.json
Labels: enhancement, Web, 9.5.0
