Repository mendix/widgets-resources, pull requests merged in 2021-04, with the labels that each got.

#555 [WC-171] Calendar-web: fix start date attribute inside the view tab
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/calendar-web/src/components/CalendarContainer.ts
  packages/customWidgets/calendar-web/src/package.xml
Labels: Web, bug

#553 feat: adding docs for data grid packages
  packages/pluggableWidgets/datagrid-date-filter-web/README.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/README.md
  packages/pluggableWidgets/datagrid-number-filter-web/README.md
  packages/pluggableWidgets/datagrid-text-filter-web/README.md
  packages/pluggableWidgets/datagrid-web/README.md
Labels: Web, documentation

#562 Adding Rollup plugin for JSActions
  configs/jsactions/rollup-plugin-bigjs-import-replacer.js
  configs/jsactions/rollup.config.js
Labels: Native, bug

#563 fix(badge-button-web): fixing e2e screenshot
  packages/pluggableWidgets/badge-button-web/tests/e2e/screenshot-baseline/badgeButtonPageContent--firefox.png
Labels: Web, bug

#567 Fixing repository code owners
  .github/CODEOWNERS
  packages/pluggableWidgets/badge-web/tests/e2e/screenshot-baseline/badgePageContent--firefox.png
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/timeline-web/tests/e2e/specs/timeline.spec.ts
Labels: Cross-Platform, bug

#557 [WC-255] use useLoadScript instead of LoadScript component to avoid duplicate api load
  packages/pluggableWidgets/maps-web/src/components/GoogleMap.tsx
  packages/pluggableWidgets/maps-web/src/components/__tests__/GoogleMap.spec.ts
  packages/pluggableWidgets/maps-web/src/components/__tests__/__snapshots__/GoogleMap.spec.ts.snap
Labels: Web, enhancement

#560 feat: update README
  README.md
Labels: Mx9, enhancement

#571 feat(maps-web): new major release version
  packages/pluggableWidgets/maps-web/src/package.xml
Labels: Web

#564 [WC-214] Implementing selectable column for Studio & Design mode
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: Web, enhancement

#573 [WC-274] fall back to default structure preview when user opts for custom visualization
  packages/pluggableWidgets/timeline-web/src/Timeline.editorConfig.ts
  packages/pluggableWidgets/timeline-web/typings/TimelineProps.d.ts
Labels: Web, enhancement

#577 fix: code owners
  .github/CODEOWNERS
Labels: Cross-Platform, bug

#566 Introducing PR Template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: Cross-Platform, enhancement

#578 Fix codeowners
  .github/CODEOWNERS
  .github/pull_request_template.md
Labels: Cross-Platform

#584 fix: code owners
  .github/CODEOWNERS
Labels: Cross-Platform

#585 Fix e2e test for the progress-bar-web
  packages/pluggableWidgets/progress-bar-web/tests/e2e/specs/onClick.spec.ts
Labels: Web, test

#572 [WC-26] Implement popup menu web structure preview
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.editorConfig.ts
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/typings/PopupMenuProps.d.ts
Labels: Web, enhancement

#591 [WC-355] Improve build script error output
  packages/theming/atlas/scripts/build.js
Labels: Cross-Platform, enhancement

#590 test(progress-bar-web): increase timeout and decrease maxInstances
  packages/pluggableWidgets/badge-button-web/tests/e2e/specs/differentViews.spec.ts
  packages/pluggableWidgets/progress-bar-web/tests/e2e/specs/onClick.spec.ts
  packages/tools/pluggable-widgets-tools/test-config/wdio.conf.js
Labels: Web, test

#587 CHANGELOG template & Switch-web CHANGELOG
  CHANGELOG-template.md
  packages/pluggableWidgets/switch-web/CHANGELOG.md
Labels: Cross-Platform, documentation, wait for merge other PR

#592 fix(calendar-web): fixing drop and resize events
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/calendar-web/src/components/Calendar.ts
  packages/customWidgets/calendar-web/src/components/__tests__/Calendar.spec.ts
  packages/customWidgets/calendar-web/src/package.xml
Labels: Web, bug

#589 Atlas feedback core and web content
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_list-view.scss
  packages/theming/atlas/src/themesource/atlas_web_content/web/pagetemplates/_statuspage.scss
Labels: Atlas, Web

#599 fix(timeline-web): update baseline screenshots
  .github/workflows/WebAutomatedTests.yml
  packages/pluggableWidgets/timeline-web/tests/e2e/screenshot-baseline/timelineBasic--firefox.png
  packages/pluggableWidgets/timeline-web/tests/e2e/screenshot-baseline/timelineCustom--firefox.png
Labels: Cross-Platform, bug

#570 [WC-29] Switch structure preview
  packages/pluggableWidgets/switch-web/src/Switch.editorConfig.ts
  packages/pluggableWidgets/switch-web/src/assets/checked.svg
  packages/pluggableWidgets/switch-web/tsconfig.json
Labels: Web, wait for merge other PR

#598 [WC-364]: use CSS transform on custom marker icon using Leaflet.DivIcon to center its anchor
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/src/components/LeafletMap.tsx
  packages/pluggableWidgets/maps-web/src/components/__tests__/__snapshots__/LeafletMap.spec.ts.snap
  packages/pluggableWidgets/maps-web/src/ui/Maps.css
Labels: Web, enhancement

#596 [WC-381] Widget generator: fix NPM v7.x.x peer dependency install issue
  packages/tools/generator-widget/CHANGELOG.md
  packages/tools/generator-widget/README.md
  packages/tools/generator-widget/generators/app/index.js
  packages/tools/generator-widget/generators/app/templates/commons/README.md.ejs
  packages/tools/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/tools/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/tools/generator-widget/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/README.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: Cross-Platform, bug

#580 [NC-202] Fix native maps zoomlevel issue
  packages/pluggableWidgets/maps-native/src/Maps.editorConfig.ts
  packages/pluggableWidgets/maps-native/typings/MapsProps.d.ts
Labels: Atlas, Native

#582 [NC-26] Add preview for native maps
  packages/pluggableWidgets/maps-native/CHANGELOG.md
  packages/pluggableWidgets/maps-native/src/Maps.editorConfig.ts
  packages/pluggableWidgets/maps-native/src/assets/StructurePreviewMaps.svg
  packages/pluggableWidgets/maps-native/tsconfig.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
Labels: Cross-Platform, Native

#601 [W] Release Switch 3.0.0
  packages/pluggableWidgets/switch-web/CHANGELOG.md
Labels: Web

#603 [WC-183] Update changelogs of tooling
  packages/tools/generator-widget/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
Labels: Cross-Platform, enhancement
