Repository mendix/widgets-resources, pull requests merged in 2021-07, with the labels that each got.

#694 [WC-623] Fix datagrid 2 default sorting issue
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: Web

#692 Update outdated CHANGELOG.md files
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: Web, documentation

#701 Add missing package-lock
  package-lock.json
Labels: Cross-Platform, bug

#686 [WC-528] Video player web - Improve dimensions tab
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorConfig.ts
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorPreview.tsx
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.tsx
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.xml
  packages/pluggableWidgets/video-player-web/src/components/Dailymotion.tsx
  packages/pluggableWidgets/video-player-web/src/components/Html5.tsx
  packages/pluggableWidgets/video-player-web/src/components/SizeContainer.tsx
  packages/pluggableWidgets/video-player-web/src/components/Vimeo.tsx
  packages/pluggableWidgets/video-player-web/src/components/Youtube.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Dailymotion.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Html5.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/SizeContainer.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Utils.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Vimeo.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Youtube.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Dailymotion.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Html5.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/SizeContainer.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Video.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Vimeo.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Youtube.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/ui/VideoPlayer.css
  packages/pluggableWidgets/video-player-web/src/utils/Utils.ts
  packages/pluggableWidgets/video-player-web/typings/VideoPlayerProps.d.ts
Labels: Web, enhancement

#680 [WC-526] Video player web - Improve design mode preview
  package-lock.json
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorPreview.tsx
  packages/pluggableWidgets/video-player-web/src/components/Error.tsx
  packages/pluggableWidgets/video-player-web/src/components/Html5.tsx
  packages/pluggableWidgets/video-player-web/src/components/Video.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Error.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Html5.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Video.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Error.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Html5.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/src/ui/VideoPlayer.css
  packages/pluggableWidgets/video-player-web/tsconfig.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/test-config/jest.config.js
Labels: Web, enhancement

#704 [WC-576] Video player (web) - prepare for v1.1.0 release
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/package.json
Labels: Web

#705 Video player (web) - Align version in XML
  packages/pluggableWidgets/video-player-web/src/package.xml
Labels: Web

#702 feat(image-viewer-web): put an . at the end of descriptions
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.xml
Labels: Web, enhancement

#695 [WC-634] Data Grid - adding support for boolean in dropdown filter
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
Labels: Web, enhancement

#693 [WC-349] Exclusion variables for core styles + bootstrap
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/CHANGELOG-atlas-nativecontent.md
  packages/theming/atlas/CHANGELOG-atlas-webcontent.md
  packages/theming/atlas/package.json
  packages/theming/atlas/src/theme/web/exclusion-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/_exclusion-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/_legacy/_mxui.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/_legacy/bootstrap/_bootstrap-rtl.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/_legacy/bootstrap/_bootstrap.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_animation.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_base.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_flex.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_login.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_reset.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_spacing.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/mixins/_animations.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/mixins/_buttons.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/mixins/_groupbox.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/mixins/_layout-spacing.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/mixins/_spacing.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_list-view.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_rating.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_rating.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-phone.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-responsive.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-tablet.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas.scss
  packages/theming/atlas/src/themesource/atlas_core/web/main.scss
Labels: Atlas, Web, enhancement

#719 [WC-594 & WC-595] Structure previews for progress bar and progress circle
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-bar-web/src/ProgressBar.editorConfig.ts
  packages/pluggableWidgets/progress-bar-web/src/assets/structure-preview.svg
  packages/pluggableWidgets/progress-bar-web/src/package.xml
  packages/pluggableWidgets/progress-bar-web/tsconfig.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/progress-circle-web/src/ProgressCircle.editorConfig.ts
  packages/pluggableWidgets/progress-circle-web/src/assets/structure-preview.svg
  packages/pluggableWidgets/progress-circle-web/src/package.xml
  packages/pluggableWidgets/progress-circle-web/tsconfig.json
Labels: Web, enhancement

#728 Add progress bar and circle changelogs
  packages/pluggableWidgets/progress-bar-web/CHANGELOG.md
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
Labels: Web, documentation

#730 fix: codeowner of gitmodules
  .github/CODEOWNERS
Labels: Web, enhancement

#732 Update mendix version
  configs/e2e/mendix-versions.json
Labels: Web, enhancement

#711 [WC-529] add text template properties for urls
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorConfig.ts
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.tsx
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.xml
  packages/pluggableWidgets/video-player-web/src/package.xml
  packages/pluggableWidgets/video-player-web/tests/e2e/specs/VideoPlayer.spec.ts
  packages/pluggableWidgets/video-player-web/typings/VideoPlayerProps.d.ts
Labels: Web, enhancement

#726 [WC-311] Add structure preview to video player web
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/assets/structure-preview-video-with-controls.svg
  packages/pluggableWidgets/video-player-web/assets/structure-preview-video-without-controls.svg
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorConfig.ts
  packages/pluggableWidgets/video-player-web/src/package.xml
Labels: Web, enhancement

#720 [WC-637] Fix atlas toggle button, font and link cursor
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/package.json
  packages/theming/atlas/src/theme/web/custom-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/_variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/_legacy/_mxui.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-responsive.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas.scss
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/layout-topbar--chrome.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/layout-topbar--firefox.png
Labels: Atlas, Web, bug

#734 [WC-645] Remove git submodules usage
  .github/workflows/WebAutomatedTests.yml
  .gitmodules
  README.md
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/carousel-web/package.json
  packages/customWidgets/color-picker-web/package.json
  packages/customWidgets/range-slider-web/package.json
  packages/customWidgets/rich-text-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/customWidgets/slider-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/image-viewer-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tree-view-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/tests/e2e/specs/VideoPlayer.spec.ts
  packages/theming/atlas/package.json
  packages/tools/pluggable-widgets-tools/scripts/e2e.js
  scripts/test/updateAtlas.js
Labels: Web, test

#643 [NC-3] Add native accordion widget
  packages/pluggableWidgets/accordion-native/CHANGELOG.md
  packages/pluggableWidgets/accordion-native/README.md
  packages/pluggableWidgets/accordion-native/package.json
  packages/pluggableWidgets/accordion-native/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-native/src/Accordion.tsx
  packages/pluggableWidgets/accordion-native/src/Accordion.xml
  packages/pluggableWidgets/accordion-native/src/__tests__/Accordion.spec.tsx
  packages/pluggableWidgets/accordion-native/src/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-native/src/components/AccordionGroup.tsx
  packages/pluggableWidgets/accordion-native/src/components/CollapsibleView.tsx
  packages/pluggableWidgets/accordion-native/src/components/GroupIcon.tsx
  packages/pluggableWidgets/accordion-native/src/package.xml
  packages/pluggableWidgets/accordion-native/src/ui/Styles.ts
  packages/pluggableWidgets/accordion-native/tsconfig.json
  packages/pluggableWidgets/accordion-native/typings/AccordionProps.d.ts
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/theme/native/exclusion-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/accordion.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/accordion.ts
  packages/theming/atlas/src/themesource/atlas_core/native/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/native/main.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/widgets.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, Native

#736 [WC-256] Fix datasource preview typings
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/Maps.editorConfig.ts
  packages/pluggableWidgets/maps-web/typings/MapsProps.d.ts
  packages/pluggableWidgets/tree-view-web/typings/TreeViewProps.d.ts
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/datasource.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generatePreviewTypes.ts
Labels: Cross-Platform, Web, bug

#742 Maps (web) - Update changelog
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: Web, documentation

#743 Maps (web) - Fix inconsistent version xml
  packages/pluggableWidgets/maps-web/src/package.xml
Labels: Web

#737 Fix native widgets datasource preview typings & usage
  packages/pluggableWidgets/bar-chart-native/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/bar-chart-native/src/BarChart.editorConfig.ts
  packages/pluggableWidgets/bar-chart-native/src/package.xml
  packages/pluggableWidgets/bar-chart-native/typings/BarChartProps.d.ts
  packages/pluggableWidgets/carousel-native/typings/CarouselProps.d.ts
  packages/pluggableWidgets/line-chart-native/CHANGELOG.md
  packages/pluggableWidgets/line-chart-native/package.json
  packages/pluggableWidgets/line-chart-native/src/LineChart.editorConfig.ts
  packages/pluggableWidgets/line-chart-native/src/package.xml
  packages/pluggableWidgets/line-chart-native/typings/LineChartProps.d.ts
  packages/pluggableWidgets/maps-native/CHANGELOG.md
  packages/pluggableWidgets/maps-native/package.json
  packages/pluggableWidgets/maps-native/src/Maps.editorConfig.ts
  packages/pluggableWidgets/maps-native/src/package.xml
  packages/pluggableWidgets/maps-native/typings/MapsProps.d.ts
Labels: Native, bug

#691 Crafting: Marketplace auto release on tag
  .github/workflows/MarketplaceRelease.yml
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/carousel-web/package.json
  packages/customWidgets/color-picker-web/package.json
  packages/customWidgets/range-slider-web/package.json
  packages/customWidgets/rich-text-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/customWidgets/slider-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/image-viewer-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  scripts/release/marketplaceRelease.js
Labels: Web, crafting, enhancement

#747 Add reinstall command to root package.json
  package.json
Labels: Cross-Platform, enhancement

#739 feat(image-viewer-web): rename new image viewer web to new name
  packages/pluggableWidgets/image-viewer-web/package.json
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.xml
  packages/pluggableWidgets/image-viewer-web/src/package.xml
Labels: Web, enhancement

#684 [NC-296] mx8 Update take picture actions to support android 11
  package-lock.json
  package.json
  packages/jsActions/native-mobile-resources/CHANGELOG.md
  packages/jsActions/native-mobile-resources/package.json
  packages/jsActions/native-mobile-resources/src/camera/TakePicture.ts
  packages/jsActions/native-mobile-resources/src/camera/TakePictureAdvanced.ts
  packages/jsActions/native-mobile-resources/typings/Camera.d.ts
  packages/pluggableWidgets/datagrid-web/src/ui/Datagrid.scss
Labels: Native, Web

#750 fix: prettier task
  package.json
Labels: Cross-Platform, bug

#729 [WC-402 ] Accordion web - Add remaining advanced mode features
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-web/src/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/Accordion.xml
  packages/pluggableWidgets/accordion-web/src/components/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/components/AccordionGroup.tsx
  packages/pluggableWidgets/accordion-web/src/components/Header.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Accordion.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/AccordionGroup.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/typings/AccordionProps.d.ts
Labels: Web, enhancement

#735 [WC-403] Accordion (web) - Add structure preview
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-web/src/assets/ChevronStructurePreview.svg
Labels: Web, enhancement

#738 [WC-651] Make headers composable and introduce custom icons
  packages/pluggableWidgets/tree-view-web/src/TreeView.editorConfig.ts
  packages/pluggableWidgets/tree-view-web/src/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/TreeView.xml
  packages/pluggableWidgets/tree-view-web/src/components/Icon.tsx
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/__tests__/TreeView.spec.tsx
  packages/pluggableWidgets/tree-view-web/src/ui/TreeView.scss
  packages/pluggableWidgets/tree-view-web/typings/TreeViewProps.d.ts
Labels: Web, enhancement

#752 fix(atlas-ui): fixing sub menu items
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas.scss
Labels: Atlas, Web, bug

#754 fix(atlas-ui): remove box-shadow
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas.scss
Labels: Atlas, Web, bug

#748 [WC-656] Data grid drop-down filter: fixing default value
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
Labels: Web, bug

#758 Crafting: slack notification
  .github/workflows/DGSlackNotify.yml
Labels: Web, crafting

#470 RFC: Validate widgets' versions
  package.json
  packages/tools/pluggable-widgets-tools/src/typings-generator/index.ts
  scripts/validation/validate-versions-staged-files.js
Labels: Cross-Platform, crafting

#759 fix: gh action command
  .github/workflows/MarketplaceRelease.yml
Labels: Web, bug

#761 Crafting: Add slack integration to Marketplace release GH action
  .github/workflows/MarketplaceRelease.yml
Labels: Cross-Platform, crafting

#762 Update mp release gh action
  .github/workflows/MarketplaceRelease.yml
Labels: Cross-Platform, bug, crafting

#731 Introduce Scroll Container
  packages/pluggableWidgets/scroll-container-web/CHANGELOG.md
  packages/pluggableWidgets/scroll-container-web/README.md
  packages/pluggableWidgets/scroll-container-web/package.json
  packages/pluggableWidgets/scroll-container-web/src/ScrollContainer.editorConfig.ts
  packages/pluggableWidgets/scroll-container-web/src/ScrollContainer.editorPreview.tsx
  packages/pluggableWidgets/scroll-container-web/src/ScrollContainer.tsx
  packages/pluggableWidgets/scroll-container-web/src/ScrollContainer.xml
  packages/pluggableWidgets/scroll-container-web/src/components/ScrollContainer.tsx
  packages/pluggableWidgets/scroll-container-web/src/components/__tests__/ScrollContainer.spec.tsx
  packages/pluggableWidgets/scroll-container-web/src/components/__tests__/__snapshots__/ScrollContainer.spec.tsx.snap
  packages/pluggableWidgets/scroll-container-web/src/package.xml
  packages/pluggableWidgets/scroll-container-web/src/ui/scroll-container.scss
  packages/pluggableWidgets/scroll-container-web/tsconfig.json
  packages/pluggableWidgets/scroll-container-web/typings/ScrollContainerProps.d.ts
Labels: Web, enhancement

#749 [WC-588] Nodes that do not have children shouldn't be expandable or collapsible
  packages/pluggableWidgets/tree-view-web/src/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/TreeViewBranchContext.ts
  packages/pluggableWidgets/tree-view-web/src/components/__tests__/TreeView.spec.tsx
Labels: Web, enhancement

#799 [WC-661 ] Accordion (web) - Prepare for release v1.1.0
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/accordion-web/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-web/src/Accordion.editorPreview.tsx
  packages/pluggableWidgets/accordion-web/src/Accordion.xml
  packages/pluggableWidgets/accordion-web/src/package.xml
Labels: Web, documentation, enhancement

#801 [WC-661] Accordion (web) - Fix default property values
  package.json
  packages/pluggableWidgets/accordion-web/src/Accordion.xml
Labels: Web, bug

#793 [WC-561] Atlas: moving resources to public folder
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/scripts/build.js
  packages/theming/atlas/src/themesource/atlas_core/public/resources/glyphicons-halflings-regular.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/glyphicons-halflings-regular.woff2
  packages/theming/atlas/src/themesource/atlas_core/public/resources/work-do-more.jpeg
  packages/theming/atlas/src/themesource/atlas_core/web/core/_legacy/bootstrap/_bootstrap.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_login.scss
Labels: 9.4.0, Web, enhancement

#751 Align NMR package version with marketplace
  packages/jsActions/native-mobile-resources/package.json
Labels: Native

#806 [WC-547] Update copyrights
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/carousel-web/package.json
  packages/customWidgets/color-picker-web/package.json
  packages/customWidgets/range-slider-web/package.json
  packages/customWidgets/rich-text-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/customWidgets/slider-web/package.json
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/animation-native/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/image-viewer-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/scroll-container-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/tools/generator-widget/generators/app/lib/prompttexts.js
  packages/tools/generator-widget/package.json
  packages/tools/pluggable-widgets-tools/package.json
Labels: Cross-Platform, enhancement

#805 [WC-602] Gallery widget
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/README.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.xml
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
  packages/pluggableWidgets/gallery-web/src/package.xml
  packages/pluggableWidgets/gallery-web/src/ui/gallery-main.scss
  packages/pluggableWidgets/gallery-web/tsconfig.json
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
Labels: Web, enhancement

#803 feat: notify user which project path is used
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: Cross-Platform, External, enhancement

#807 [WC-643] Update test projects to mx9
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/carousel-web/package.json
  packages/customWidgets/color-picker-web/package.json
  packages/customWidgets/range-slider-web/package.json
  packages/customWidgets/rich-text-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/customWidgets/slider-web/package.json
  packages/customWidgets/slider-web/tests/e2e/objects/Slider.widget.ts
  packages/customWidgets/slider-web/tests/e2e/specs/Slider.spec.ts
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/CustomPopUpMenuLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/customPopUpMenuBottom--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/customPopUpMenuRight--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/customPopUpMenuTop--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/customPopUpMenuTopLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/customPopUpMenuTopRight--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/popUpMenuBottom--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/popUpMenuBottomLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/popUpMenuBottomRight--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/popUpMenuLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/popUpMenuRight--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/popUpMenuTop--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/popUpMenuTopLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/tests/e2e/screenshot-baseline/popUpMenuTopRight--firefox.png
Labels: Web, test

#810 [WC-679] Fix wizard BB styles
  configs/e2e/mendix-versions.json
  packages/theming/atlas/src/themesource/atlas_web_content/web/buildingblocks/_wizard.scss
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/accordions--chrome.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/accordions--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/web-wizard-form--chrome.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/web-wizard-form--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/wizardarrow--chrome.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/wizardarrow--firefox.png
Labels: Atlas, Web, bug

#755 [NC-405] Add native e2e tests for badge and activity indicator widgets
  detox.config.js
  detox/README.md
  detox/detox.config.js
  package-lock.json
  package.json
  packages/pluggableWidgets/activity-indicator-native/detox.config.js
  packages/pluggableWidgets/activity-indicator-native/package.json
  packages/pluggableWidgets/activity-indicator-native/tests/e2e/ActivityIndicator.spec.ts
  packages/pluggableWidgets/badge-native/package.json
  packages/pluggableWidgets/badge-native/tests/e2e/Badge.spec.ts
  tests/e2e/helpers-native/Alert.ts
  tests/e2e/helpers-native/Helpers.ts
  tests/e2e/helpers-native/index.ts
  tests/e2e/index.ts
Labels: Native, test

#811 feat(atlas-web): update changelogs
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/CHANGELOG-atlas-webcontent.md
Labels: Atlas, Web, enhancement

#809 [WC-633] Add aspect ratio and poster test for video player
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerAspectRatioFirstTab--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerAspectRatioSecondTab--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerAspectRatioThirdTab--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerExternalPoster--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/specs/VideoPlayer.spec.ts
Labels: Web, test

#721 [WTF-841] Do not export PiW properties if the linked data source is empty
  package-lock.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/inputs/datasource.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/datasource.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generateClientTypes.ts
Labels: 9.4.0, Cross-Platform, enhancement

#804 [WC-288]: add structure preview for a11y helper
  packages/pluggableWidgets/accessibility-helper-web/CHANGELOG.md
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/src/AccessibilityHelper.editorConfig.ts
  packages/pluggableWidgets/accessibility-helper-web/src/package.xml
Labels: Web, enhancement

#800 [WC-354]: add structure preview for fieldset
  packages/pluggableWidgets/fieldset-web/CHANGELOG.md
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/fieldset-web/src/Fieldset.editorConfig.ts
  packages/pluggableWidgets/fieldset-web/src/package.xml
Labels: Web, enhancement

#753 [WC-684] refactor Icon component into internal package
  packages/pluggableWidgets/accordion-web/src/components/Icon.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Icon.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/pluggableWidgets/rating-web/src/components/Icon.tsx
  packages/pluggableWidgets/tree-view-web/src/components/Icon.tsx
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/tools/piw-utils-internal/src/components.tsx
Labels: Web, enhancement

#821 [NC-419] Add native e2e tests for progress bar
  packages/pluggableWidgets/progress-bar-native/detox.config.js
  packages/pluggableWidgets/progress-bar-native/package.json
  packages/pluggableWidgets/progress-bar-native/tests/e2e/ProgressBar.spec.ts
Labels: Native, test

#808 [WC-617] Sidebar (web) - Add sidebar widget & ToggleSidebar JS Action POC features
  packages/jsActions/nanoflow-actions-web/src/ToggleSidebar.ts
  packages/pluggableWidgets/sidebar-web/CHANGELOG.md
  packages/pluggableWidgets/sidebar-web/README.md
  packages/pluggableWidgets/sidebar-web/package.json
  packages/pluggableWidgets/sidebar-web/src/Sidebar.editorConfig.ts
  packages/pluggableWidgets/sidebar-web/src/Sidebar.editorPreview.tsx
  packages/pluggableWidgets/sidebar-web/src/Sidebar.tsx
  packages/pluggableWidgets/sidebar-web/src/Sidebar.xml
  packages/pluggableWidgets/sidebar-web/src/components/Sidebar.tsx
  packages/pluggableWidgets/sidebar-web/src/components/__tests__/Sidebar.spec.tsx
  packages/pluggableWidgets/sidebar-web/src/components/__tests__/__snapshots__/Sidebar.spec.tsx.snap
  packages/pluggableWidgets/sidebar-web/src/package.xml
  packages/pluggableWidgets/sidebar-web/src/ui/Sidebar.scss
  packages/pluggableWidgets/sidebar-web/src/utils/SidebarToggleRegistration.ts
  packages/pluggableWidgets/sidebar-web/src/utils/__tests__/SidebarToggleRegistration.spec.ts
  packages/pluggableWidgets/sidebar-web/tsconfig.json
  packages/pluggableWidgets/sidebar-web/typings/SidebarProps.d.ts
Labels: Web, enhancement
