Repository mendix/widgets-resources, pull requests merged in 2021-06, with the labels that each got.

#646 [NC-312] Dropdown width
  packages/theming/atlas/scripts/build.js
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/dropdown.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, Native

#641 feat(datagrid-web): removing react-table
  package-lock.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnResizer.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/InfiniteBody.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Pagination.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnSelector.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/InfiniteBody.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/utils/settings.ts
Labels: Web, enhancement

#642 fix(popup-menu-web): fixing onclick while inside a parent containing onclick
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/__tests__/PopupMenu.spec.ts
  packages/pluggableWidgets/popup-menu-web/src/components/PopupMenu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
Labels: Web, bug

#647 fix(datagrid-web): fixing on change settings being triggered too often
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/components/ColumnResizer.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/utils/__tests__/settings.spec.ts
  packages/pluggableWidgets/datagrid-web/src/utils/settings.ts
Labels: Web, bug

#649 [WC-551] feat(datagrid-web): optimizing property
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
Labels: Web, enhancement

#656 fix: fixing pipeline for forked prs
  .github/workflows/ScriptTests.yml
  .github/workflows/UnitTests.yml
  .github/workflows/WebAutomatedTests.yml
Labels: Cross-Platform, bug

#594 [NC-227 + NC-176] Add support for markers from datasource & Fix bugs
  packages/pluggableWidgets/maps-native/CHANGELOG.md
  packages/pluggableWidgets/maps-native/package.json
  packages/pluggableWidgets/maps-native/src/Maps.editorConfig.ts
  packages/pluggableWidgets/maps-native/src/Maps.tsx
  packages/pluggableWidgets/maps-native/src/Maps.xml
  packages/pluggableWidgets/maps-native/src/package.xml
  packages/pluggableWidgets/maps-native/src/ui/Styles.ts
  packages/pluggableWidgets/maps-native/src/util/data.ts
  packages/pluggableWidgets/maps-native/typings/MapsProps.d.ts
  packages/pluggableWidgets/maps-native/typings/shared.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/maps.ts
  packages/tools/pluggable-widgets-tools/configs/rollup-plugin-collect-dependencies.js
  packages/tools/pluggable-widgets-tools/scripts/e2e.js
Labels: Native, enhancement

#658 [WC-84]: Implement events for Image Viewer Web + refactor
  package-lock.json
  packages/pluggableWidgets/image-viewer-web/package.json
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.editorConfig.ts
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.tsx
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.xml
  packages/pluggableWidgets/image-viewer-web/src/assets/ic24-close.svg
  packages/pluggableWidgets/image-viewer-web/src/components/ImageViewer/index.tsx
  packages/pluggableWidgets/image-viewer-web/src/components/ImageViewer/ui.tsx
  packages/pluggableWidgets/image-viewer-web/src/components/Lightbox.tsx
  packages/pluggableWidgets/image-viewer-web/src/components/__tests__/ImageViewer.spec.tsx
  packages/pluggableWidgets/image-viewer-web/src/ui/ImageViewer.scss
  packages/pluggableWidgets/image-viewer-web/src/utils/lightboxState.tsx
  packages/pluggableWidgets/image-viewer-web/tsconfig.json
  packages/pluggableWidgets/image-viewer-web/typings/ImageViewerProps.d.ts
Labels: Web, enhancement

#652 [WC-494] Accordion web - animations and icons
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/accordion-web/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-web/src/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/Accordion.xml
  packages/pluggableWidgets/accordion-web/src/components/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/components/AccordionGroup.tsx
  packages/pluggableWidgets/accordion-web/src/components/Icon.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Accordion.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/AccordionGroup.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Icon.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/AccordionGroup.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/ui/accordion-main.scss
  packages/pluggableWidgets/accordion-web/src/utils/AccordionGroupStateReducer.ts
  packages/pluggableWidgets/accordion-web/src/utils/__tests__/AccordionGroupStateReducer.spec.tsx
  packages/pluggableWidgets/accordion-web/src/utils/__tests__/__snapshots__/iconGenerator.spec.ts.snap
  packages/pluggableWidgets/accordion-web/src/utils/__tests__/iconGenerator.spec.ts
  packages/pluggableWidgets/accordion-web/src/utils/__tests__/reducers.spec.tsx
  packages/pluggableWidgets/accordion-web/src/utils/iconGenerator.tsx
  packages/pluggableWidgets/accordion-web/src/utils/reducers.ts
  packages/pluggableWidgets/accordion-web/typings/AccordionProps.d.ts
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_accordion.scss
Labels: Atlas, Web, enhancement

#662 [WC-408] Accordion web - Add design mode
  packages/pluggableWidgets/accordion-web/src/Accordion.editorPreview.tsx
  packages/pluggableWidgets/accordion-web/src/components/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/ui/accordion-main.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_accordion.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_accordion.scss
Labels: Atlas, Web, enhancement

#664 [WC-553] move dimensions properties group to tab
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.xml
  packages/pluggableWidgets/image-viewer-web/typings/ImageViewerProps.d.ts
Labels: Web, enhancement

#666 feat(pluggable-widgets-tools): reintroducing dotenv
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/shared.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: Cross-Platform, enhancement

#667 [WC-559] Data grid: moving advanced group to last tab
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
Labels: Web, enhancement

#663 [WC-524] Add accessibility and common properties to image viewer
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.tsx
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.xml
  packages/pluggableWidgets/image-viewer-web/src/components/ImageViewer/index.tsx
  packages/pluggableWidgets/image-viewer-web/src/components/ImageViewer/ui.tsx
  packages/pluggableWidgets/image-viewer-web/src/components/__tests__/ImageViewer.spec.tsx
  packages/pluggableWidgets/image-viewer-web/typings/ImageViewerProps.d.ts
Labels: Web, enhancement

#665 [WC-487] DataGrid v2 - Filters view state
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/FilterSelector.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/FilterComponent.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/FilterSelector.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/utils/filters.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/utils/provider.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/FilterSelector.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/FilterSelector.spec.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/__snapshots__/FilterComponent.spec.tsx.snap
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/__snapshots__/FilterSelector.spec.tsx.snap
  packages/pluggableWidgets/datagrid-number-filter-web/src/utils/filters.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/utils/provider.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/utils/utils.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/FilterSelector.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/FilterSelector.spec.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/__snapshots__/FilterComponent.spec.tsx.snap
  packages/pluggableWidgets/datagrid-text-filter-web/src/utils/filters.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/utils/provider.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/utils/utils.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/provider.ts
  packages/pluggableWidgets/datagrid-web/src/utils/filters.ts
  packages/tools/piw-utils-internal/package.json
  packages/tools/piw-utils-internal/src/assets/DataGridFilterIcons.ts
  packages/tools/piw-utils-internal/src/assets/index.ts
  packages/tools/piw-utils-internal/src/functions.ts
  packages/tools/piw-utils-internal/src/index.ts
  packages/tools/piw-utils-internal/src/utils/FilterProvider.ts
  packages/tools/piw-utils-internal/src/utils/index.ts
  packages/tools/piw-utils-internal/src/widgets/FilterSelector.tsx
  packages/tools/piw-utils-internal/src/widgets/__tests__/FilterSelector.spec.tsx
  packages/tools/piw-utils-internal/src/widgets/__tests__/__snapshots__/FilterSelector.spec.tsx.snap
  packages/tools/piw-utils-internal/src/widgets/index.ts
Labels: Web, enhancement

#670 [WC-85] POC for tree-view-web
  packages/pluggableWidgets/tree-view-web/CHANGELOG.md
  packages/pluggableWidgets/tree-view-web/README.md
  packages/pluggableWidgets/tree-view-web/package.json
  packages/pluggableWidgets/tree-view-web/src/TreeView.editorConfig.ts
  packages/pluggableWidgets/tree-view-web/src/TreeView.editorPreview.tsx
  packages/pluggableWidgets/tree-view-web/src/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/TreeView.xml
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/__tests__/TreeView.spec.tsx
  packages/pluggableWidgets/tree-view-web/src/package.xml
  packages/pluggableWidgets/tree-view-web/src/ui/TreeView.scss
  packages/pluggableWidgets/tree-view-web/tsconfig.json
  packages/pluggableWidgets/tree-view-web/typings/TreeViewProps.d.ts
Labels: Web, enhancement

#669 [WC-405] Accordion web - Improve accessibility
  packages/pluggableWidgets/accordion-web/src/Accordion.editorPreview.tsx
  packages/pluggableWidgets/accordion-web/src/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/components/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/components/AccordionGroup.tsx
  packages/pluggableWidgets/accordion-web/src/components/Icon.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/Accordion.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/AccordionGroup.spec.tsx
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/AccordionGroup.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/components/__tests__/__snapshots__/Icon.spec.tsx.snap
  packages/pluggableWidgets/accordion-web/src/ui/accordion-main.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_accordion.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_accordion.scss
Labels: Atlas, Web, enhancement, work-in-progress

#672 fix(datagrid-web): fixing header size when empty
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
Labels: Web, bug

#674 [WC-562] Process image viewer web citizen dev feedback
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.editorConfig.ts
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.tsx
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.xml
  packages/pluggableWidgets/image-viewer-web/src/components/ImageViewer/index.tsx
  packages/pluggableWidgets/image-viewer-web/src/components/__tests__/ImageViewer.spec.tsx
  packages/pluggableWidgets/image-viewer-web/typings/ImageViewerProps.d.ts
Labels: Web

#675 Add path-exclude to GH tests
  .github/workflows/AtlasBuildTest.yml
  .github/workflows/AtlasReleaseThemeFiles.yml
  .github/workflows/ScriptTests.yml
  .github/workflows/UnitTests.yml
  .github/workflows/WebAutomatedTests.yml
Labels: enhancement

#676 [WC-502] Add design and structure preview for image viewer web
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.editorConfig.ts
  packages/pluggableWidgets/image-viewer-web/src/ImageViewer.editorPreview.tsx
  packages/pluggableWidgets/image-viewer-web/src/assets/placeholder.svg
  packages/pluggableWidgets/image-viewer-web/src/components/ImageViewer/index.tsx
Labels: Web, enhancement

#679 [WC-558] Add ignore path in the automated test workflow for atlas native changes
  .github/workflows/AtlasBuildTest.yml
  .github/workflows/AtlasReleaseThemeFiles.yml
  .github/workflows/WebAutomatedTests.yml
Labels: Cross-Platform, test

#677 [WC-527 + WC-536] Video player web - Improve design mode preview & widget properties
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorConfig.ts
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorPreview.tsx
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.xml
  packages/pluggableWidgets/video-player-web/src/components/Alert.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/Alert.spec.tsx
  packages/pluggableWidgets/video-player-web/src/components/__tests__/__snapshots__/Alert.spec.tsx.snap
  packages/pluggableWidgets/video-player-web/typings/VideoPlayerProps.d.ts
Labels: Web, bug, enhancement

#681 [WC-577] Accordion web - Fix design mode preview image header icon
  packages/pluggableWidgets/accordion-web/src/Accordion.editorPreview.tsx
Labels: Web, bug

#683 [WC-582] Calendar: removing truncated events
  packages/customWidgets/calendar-web/CHANGELOG.md
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/calendar-web/src/Calendar.webmodeler.ts
  packages/customWidgets/calendar-web/src/Calendar.xml
  packages/customWidgets/calendar-web/src/components/Calendar.ts
  packages/customWidgets/calendar-web/src/components/CalendarContainer.ts
  packages/customWidgets/calendar-web/src/components/__tests__/Calendar.spec.ts
  packages/customWidgets/calendar-web/src/components/__tests__/Toobar.spec.ts
  packages/customWidgets/calendar-web/src/package.xml
Labels: Web, bug

#687 [WC-407] Accordion web - Prepare release notes
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: Web, documentation

#688 fix: gh action execution for md files
  .github/workflows/ScriptTests.yml
  .github/workflows/UnitTests.yml
  .github/workflows/WebAutomatedTests.yml
Labels: Cross-Platform, bug

#689 Update mx versions json to Mx 9.3 and Mx 8.18.7
  configs/e2e/mendix-versions.json
Labels: Web, test

#690 Fix e2e tests workflow to execute on master
  .github/workflows/WebAutomatedTests.yml
Labels: Web, test
