Repository mendix/widgets-resources, pull requests merged in 2021-09, with the labels that each got.

#870 [WC-654] prepare 9.5.0 release
  package-lock.json
  packages/jsActions/nanoflow-actions-hybrid/package.json
  packages/jsActions/nanoflow-actions-hybrid/src/camera/ScanBarcode.ts
  packages/jsActions/nanoflow-actions-hybrid/src/contacts/SelectContact.ts
  packages/pluggableWidgets/image-viewer-web/README.md
  packages/pluggableWidgets/image-viewer-web/src/package.xml
  packages/pluggableWidgets/image-web/CHANGELOG.md
  packages/pluggableWidgets/image-web/README.md
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/image-web/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-web/src/Image.editorPreview.tsx
  packages/pluggableWidgets/image-web/src/Image.tsx
  packages/pluggableWidgets/image-web/src/Image.xml
  packages/pluggableWidgets/image-web/src/assets/ic24-close.svg
  packages/pluggableWidgets/image-web/src/assets/placeholder.svg
  packages/pluggableWidgets/image-web/src/components/Image/index.tsx
  packages/pluggableWidgets/image-web/src/components/Image/ui.tsx
  packages/pluggableWidgets/image-web/src/components/Lightbox.tsx
  packages/pluggableWidgets/image-web/src/components/__tests__/Image.spec.tsx
  packages/pluggableWidgets/image-web/src/components/__tests__/__snapshots__/Image.spec.tsx.snap
  packages/pluggableWidgets/image-web/src/package.xml
  packages/pluggableWidgets/image-web/src/ui/Image.scss
  packages/pluggableWidgets/image-web/src/utils/lightboxState.tsx
  packages/pluggableWidgets/image-web/tests/e2e/objects/constants.ts
  packages/pluggableWidgets/image-web/tests/e2e/objects/imageViewer.widget.ts
  packages/pluggableWidgets/image-web/tests/e2e/specs/dataTypes.spec.ts
  packages/pluggableWidgets/image-web/tests/e2e/specs/differentViews.spec.ts
  packages/pluggableWidgets/image-web/tests/e2e/specs/onClick.spec.ts
  packages/pluggableWidgets/image-web/tests/e2e/tsconfig.json
  packages/pluggableWidgets/image-web/tsconfig.json
  packages/pluggableWidgets/image-web/typings/ImageProps.d.ts
  packages/pluggableWidgets/image-web/typings/react-images-lightbox.d.ts
  packages/theming/atlas/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  packages/tools/piw-native-utils-internal/package.json
  packages/tools/piw-utils-internal/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: enhancement, Web, 9.5.0

#876 Prettify all the things
  packages/pluggableWidgets/accordion-native/typings/AccordionProps.d.ts
  packages/pluggableWidgets/accordion-web/typings/AccordionProps.d.ts
  packages/pluggableWidgets/activity-indicator-native/typings/ActivityIndicatorProps.d.ts
  packages/pluggableWidgets/animation-native/typings/AnimationProps.d.ts
  packages/pluggableWidgets/background-image-native/typings/BackgroundImageProps.d.ts
  packages/pluggableWidgets/datagrid-text-filter-web/typings/DatagridTextFilterProps.d.ts
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/dropdown-sort-web/src/ui/dropdown-sort-main.scss
  packages/pluggableWidgets/feedback-native/typings/FeedbackProps.d.ts
  packages/pluggableWidgets/floating-action-button-native/typings/FloatingActionButtonProps.d.ts
  packages/pluggableWidgets/gallery-web/src/ui/gallery-main.scss
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
  packages/pluggableWidgets/image-web/typings/ImageProps.d.ts
  packages/pluggableWidgets/intro-screen-native/typings/IntroScreenProps.d.ts
  packages/pluggableWidgets/maps-native/typings/MapsProps.d.ts
  packages/pluggableWidgets/maps-native/typings/shared.d.ts
  packages/pluggableWidgets/maps-web/typings/MapsProps.d.ts
  packages/pluggableWidgets/popup-menu-web/typings/PopupMenuProps.d.ts
  packages/pluggableWidgets/rating-native/typings/RatingProps.d.ts
  packages/pluggableWidgets/rating-web/typings/StarRatingProps.d.ts
  packages/pluggableWidgets/scroll-container-web/src/ui/scroll-container.scss
  packages/pluggableWidgets/sidebar-toggle-web/typings/SidebarToggleProps.d.ts
  packages/pluggableWidgets/timeline-web/typings/TimelineProps.d.ts
  packages/pluggableWidgets/tree-view-web/typings/TreeViewProps.d.ts
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_gallery.scss
Labels: Web, Native

#875 [WC-740] fix(pluggable-widgets-tools): path containing space
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/bin/mx-scripts.js
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/tests/commands.js
Labels: bug, Cross-Platform

#877 fix(video-player-web): fixing SS
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerAspectRatioFirstTab--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerAspectRatioSecondTab--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/specs/VideoPlayer.spec.ts
Labels: bug, Web

#868 [WC-609] implement design preview for tree view
  packages/pluggableWidgets/tree-view-web/src/TreeView.editorConfig.ts
  packages/pluggableWidgets/tree-view-web/src/TreeView.editorPreview.tsx
  packages/pluggableWidgets/tree-view-web/src/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/TreeView.xml
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/__tests__/TreeView.spec.tsx
  packages/pluggableWidgets/tree-view-web/typings/TreeViewProps.d.ts
Labels: enhancement, Web

#864 [WC-715] Data Grid - Fixing filter positions when virtual scrolling is enabled
  package-lock.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatagridDateFilter.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatePicker.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatagridDateFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/tests/e2e/specs/DataGridDropDownFilter.spec.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/__snapshots__/DatagridNumberFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/__snapshots__/DatagridTextFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnSelector.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/ColumnSelector.spec.tsx.snap
  packages/pluggableWidgets/dropdown-sort-web/src/components/SortComponent.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/SortComponent.spec.tsx
  packages/tools/piw-utils-internal/src/utils/dom.ts
  packages/tools/piw-utils-internal/src/widgets/FilterSelector.tsx
  packages/tools/piw-utils-internal/src/widgets/__tests__/FilterSelector.spec.tsx
  packages/tools/piw-utils-internal/src/widgets/__tests__/__snapshots__/FilterSelector.spec.tsx.snap
  packages/tools/piw-utils-internal/src/widgets/__tests__/usePositionObserver.spec.ts
  packages/tools/piw-utils-internal/src/widgets/index.ts
  packages/tools/piw-utils-internal/src/widgets/usePositionObserver.ts
Labels: bug, Web, 9.6.0

#879 [NC] Add secrets to native module release script
  .github/workflows/MarketplaceRelease.yml
  scripts/release/createNativeModules.js
Labels: Native

#881 [NC] Use PAT for GH CLI
  packages/jsActions/mobile-resources-native/package.json
  scripts/release/createNativeModules.js
Labels: Native

#882 [NC] Use pipe in release script
  scripts/release/createNativeModules.js
Labels: Native

#884 [NC] Set git creds twice
  scripts/release/createNativeModules.js
Labels: Native

#886 [NC] Move set creds below clone
  scripts/release/createNativeModules.js
Labels: Native

#846 [NC-374] [NC-371] Native maps issues
  .gitignore
  packages/pluggableWidgets/maps-native/CHANGELOG.md
  packages/pluggableWidgets/maps-native/package.json
  packages/pluggableWidgets/maps-native/src/Maps.tsx
  packages/pluggableWidgets/maps-native/src/util/data.ts
  packages/pluggableWidgets/maps-native/typings/shared.d.ts
Labels: bug, Native

#869 [WC-579] Image (web) - add image configured check
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/image-web/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-web/src/Image.editorPreview.tsx
  packages/pluggableWidgets/image-web/typings/ImageProps.d.ts
Labels: enhancement, Web

#888 [NC] cd to repo dir
  packages/jsActions/mobile-resources-native/package.json
  scripts/release/createNativeModules.js
Labels: Native

#890 fix(): git hooks for source control UI's
  .husky/commit-msg
  .husky/pre-commit
  README.md
  package-lock.json
  package.json
Labels: Cross-Platform

#893 [NC] Native module release script changes
  scripts/release/createNativeModules.js
Labels: Native

#895 [NC] Only write to changelog if there are changes
  scripts/release/createNativeModules.js
Labels: Native

#897 Update changelog regex for module automation
  scripts/release/createNativeModules.js
Labels: Native

#899 Fix/husky
  .github/CODEOWNERS
  package.json
Labels: bug, Cross-Platform

#898 fix(video-player-web): fixing e2e
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerAspectRatioFirstTab--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerAspectRatioSecondTab--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerAspectRatioThirdTab--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/specs/VideoPlayer.spec.ts
Labels: bug, Web

#874 [WC-742] Improving Data Grid accessibility
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatagridDateFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/FilterComponent.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnResizer.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnResizer.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/ColumnSelector.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/ColumnResizer.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/ColumnSelector.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/tests/e2e/specs/DataGrid.spec.ts
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
  packages/tools/piw-utils-internal/src/widgets/Pagination.tsx
  packages/tools/piw-utils-internal/src/widgets/__tests__/__snapshots__/Pagination.spec.tsx.snap
Labels: enhancement, Web

#900 [WC-749] Pluggable widgets tools - Fix dangerous test project override
  README.md
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/scripts/e2e.js
Labels: bug, Web

#880 [WC-732] Improving Gallery accessibility
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
Labels: enhancement, Web

#902 feat(tree-view-web): change empty header caption for structure preview
  packages/pluggableWidgets/tree-view-web/src/TreeView.editorConfig.ts
Labels: enhancement, Web

#901 [NC-481] Ignore throwing for missing optional peer dependencies
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup-plugin-collect-dependencies.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Native

#903 [NC-481] Prep PIWtools for release
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
Labels: Cross-Platform

#905 [WC-204] Atlas - Validate Sass in CI
  .github/workflows/AtlasBuildTest.yml
  package-lock.json
  packages/theming/atlas/package.json
  packages/theming/atlas/scripts/build.js
Labels: enhancement, Atlas, Web

#904 [NC-481] Handle optional transitive dependencies
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup-plugin-collect-dependencies.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: Native

#909 chore(atlas-ui): reuse piw-utils-internal debounce in build script
  packages/theming/atlas/package.json
  packages/theming/atlas/scripts/build.js
  packages/tools/piw-utils-internal/tsconfig.json
Labels: Atlas, Web

#911 [NC/WC] Fix rollup bundling issues
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/theming/atlas/package.json
  packages/theming/atlas/scripts/build.js
  packages/tools/piw-utils-internal/tsconfig.json
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: Cross-Platform

#915 refactor(tree-node-web): renaming package folder
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/README.md
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorConfig.ts
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorPreview.tsx
  packages/pluggableWidgets/tree-node-web/src/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/TreeNode.xml
  packages/pluggableWidgets/tree-node-web/src/assets/ChevronStructurePreview.svg
  packages/pluggableWidgets/tree-node-web/src/assets/loading-circle.svg
  packages/pluggableWidgets/tree-node-web/src/components/ChevronIcon.tsx
  packages/pluggableWidgets/tree-node-web/src/components/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/components/TreeNodeBranchContext.ts
  packages/pluggableWidgets/tree-node-web/src/components/__tests__/TreeNode.spec.tsx
  packages/pluggableWidgets/tree-node-web/src/components/__tests__/__snapshots__/TreeNode.spec.tsx.snap
  packages/pluggableWidgets/tree-node-web/src/components/hooks/TreeNodeAccessibility.tsx
  packages/pluggableWidgets/tree-node-web/src/components/hooks/lazyLoading.ts
  packages/pluggableWidgets/tree-node-web/src/components/hooks/useAnimatedHeight.tsx
  packages/pluggableWidgets/tree-node-web/src/components/hooks/useKeyboardHandler.tsx
  packages/pluggableWidgets/tree-node-web/src/package.xml
  packages/pluggableWidgets/tree-node-web/src/ui/TreeNode.scss
  packages/pluggableWidgets/tree-node-web/tsconfig.json
  packages/pluggableWidgets/tree-node-web/typings/TreeNodeProps.d.ts
  packages/pluggableWidgets/tree-view-web/src/components/TreeView.tsx
  packages/pluggableWidgets/tree-view-web/src/components/hooks/lazyLoading.ts
Labels: enhancement, Web

#916 Move web components to piw-utils-internal sub-package
  packages/pluggableWidgets/accordion-web/src/components/Icon.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/components/BarcodeScanner.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatagridDateFilter.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/utils/filters.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/DataGridDropdownFilter.spec.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/DatagridNumberFilter.spec.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/utils/filters.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/DatagridTextFilter.spec.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/utils/filters.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/SortComponent.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/DropdownSort.spec.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/utils/filters.ts
  packages/pluggableWidgets/maps-web/src/Maps.editorPreview.tsx
  packages/pluggableWidgets/maps-web/src/components/GoogleMap.tsx
  packages/pluggableWidgets/progress-bar-web/src/components/ProgressBar.tsx
  packages/pluggableWidgets/progress-bar-web/src/components/__tests__/ProgressBar.spec.tsx
  packages/pluggableWidgets/progress-circle-web/src/components/ProgressCircle.tsx
  packages/pluggableWidgets/progress-circle-web/src/components/__tests__/ProgressCircle.spec.tsx
  packages/pluggableWidgets/rating-web/src/components/Icon.tsx
  packages/pluggableWidgets/sidebar-toggle-web/src/components/Toggle.tsx
  packages/pluggableWidgets/switch-web/src/__tests__/Switch.spec.tsx
  packages/pluggableWidgets/switch-web/src/components/Switch.tsx
  packages/pluggableWidgets/tree-node-web/src/components/TreeNode.tsx
  packages/tools/piw-utils-internal/components/web/package.json
  packages/tools/piw-utils-internal/package.json
  packages/tools/piw-utils-internal/src/components/web/FilterSelector.tsx
  packages/tools/piw-utils-internal/src/components/web/InfiniteBody.tsx
  packages/tools/piw-utils-internal/src/components/web/Pagination.tsx
  packages/tools/piw-utils-internal/src/components/web/__tests__/FilterSelector.spec.tsx
  packages/tools/piw-utils-internal/src/components/web/__tests__/InfiniteBody.spec.tsx
  packages/tools/piw-utils-internal/src/components/web/__tests__/Pagination.spec.tsx
  packages/tools/piw-utils-internal/src/components/web/__tests__/__snapshots__/FilterSelector.spec.tsx.snap
  packages/tools/piw-utils-internal/src/components/web/__tests__/__snapshots__/InfiniteBody.spec.tsx.snap
  packages/tools/piw-utils-internal/src/components/web/__tests__/__snapshots__/Pagination.spec.tsx.snap
  packages/tools/piw-utils-internal/src/components/web/__tests__/usePositionObserver.spec.ts
  packages/tools/piw-utils-internal/src/components/web/components.tsx
  packages/tools/piw-utils-internal/src/components/web/index.ts
  packages/tools/piw-utils-internal/src/components/web/usePositionObserver.ts
  packages/tools/piw-utils-internal/src/components/web/utils/FilterProvider.ts
  packages/tools/piw-utils-internal/src/components/web/utils/SortProvider.ts
  packages/tools/piw-utils-internal/src/components/web/utils/dom.ts
  packages/tools/piw-utils-internal/src/components/web/utils/index.ts
  packages/tools/piw-utils-internal/src/index.ts
  packages/tools/piw-utils-internal/src/utils/index.ts
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: enhancement, Cross-Platform

#889 [WC-708] Gallery - Feedback
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatagridDateFilter.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatagridDateFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/DataGridDropdownFilter.spec.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/__snapshots__/DataGridDropdownFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/DatagridNumberFilter.spec.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/__snapshots__/DatagridNumberFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/DatagridTextFilter.spec.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/__snapshots__/DatagridTextFilter.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.editorPreview.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/SortComponent.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/DropdownSort.spec.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/__snapshots__/DropdownSort.spec.tsx.snap
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.xml
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
Labels: bug, enhancement, Web

#918 Module automation - fix changelogs creation & version bump
  scripts/release/README.md
  scripts/release/createNativeModules.js
Labels: Native

#914 feat(atlas-ui): removing gallery and tree node styles
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.editorPreview.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/ui/dropdown-sort-main.scss
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.eot
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.svg
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.ttf
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.woff
  packages/pluggableWidgets/dropdown-sort-web/src/ui/fonts/dropdown-sort.woff2
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/ui/gallery-main.scss
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryContent--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryDateFilter--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryDropdownSort--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryNumberFilter--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryTextFilter--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/specs/Gallery.spec.ts
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorPreview.tsx
  packages/pluggableWidgets/tree-node-web/src/components/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/ui/TreeNode.scss
  packages/theming/atlas/src/themesource/atlas_core/web/_exclusion-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_gallery.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_tree-node.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_gallery.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/web/main.scss
Labels: enhancement, Web

#912 [WC-578] Align design preview of pluggable widgets with proper typing for icon
  packages/pluggableWidgets/accordion-web/src/Accordion.editorPreview.tsx
  packages/pluggableWidgets/rating-web/src/StarRating.editorPreview.tsx
  packages/pluggableWidgets/sidebar-toggle-web/src/SidebarToggle.editorPreview.tsx
  packages/pluggableWidgets/timeline-web/src/Timeline.editorPreview.tsx
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorPreview.tsx
  packages/tools/piw-utils-internal/src/components/web/index.ts
  packages/tools/piw-utils-internal/src/components/web/preview.ts
Labels: enhancement, Web

#860 [WC-687] Add tree view e2e test
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/tree-node-web/tests/e2e/screenshot-baseline/treeViewCollapsed--firefox.png
  packages/pluggableWidgets/tree-node-web/tests/e2e/screenshot-baseline/treeViewExpanded--firefox.png
  packages/pluggableWidgets/tree-node-web/tests/e2e/screenshot-baseline/treeViewMultipleCollapsed--firefox.png
  packages/pluggableWidgets/tree-node-web/tests/e2e/screenshot-baseline/treeViewMultipleExpanded--firefox.png
  packages/pluggableWidgets/tree-node-web/tests/e2e/specs/TreeNode.spec.ts
  packages/pluggableWidgets/tree-node-web/tests/e2e/tsconfig.json
Labels: test, Web

#891 Fixing the autogenerated typings after build
  packages/pluggableWidgets/accordion-native/package.json
  packages/pluggableWidgets/activity-indicator-native/package.json
  packages/pluggableWidgets/animation-native/package.json
  packages/pluggableWidgets/app-events-native/package.json
  packages/pluggableWidgets/background-image-native/package.json
  packages/pluggableWidgets/badge-native/package.json
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/barcode-scanner-native/package.json
  packages/pluggableWidgets/bottom-sheet-native/package.json
  packages/pluggableWidgets/carousel-native/package.json
  packages/pluggableWidgets/color-picker-native/package.json
  packages/pluggableWidgets/feedback-native/package.json
  packages/pluggableWidgets/floating-action-button-native/package.json
  packages/pluggableWidgets/intro-screen-native/package.json
  packages/pluggableWidgets/line-chart-native/package.json
  packages/pluggableWidgets/listview-swipe-native/package.json
  packages/pluggableWidgets/maps-native/package.json
  packages/pluggableWidgets/notifications-native/package.json
  packages/pluggableWidgets/popup-menu-native/package.json
  packages/pluggableWidgets/progress-bar-native/package.json
  packages/pluggableWidgets/progress-circle-native/package.json
  packages/pluggableWidgets/qr-code-native/package.json
  packages/pluggableWidgets/range-slider-native/package.json
  packages/pluggableWidgets/rating-native/package.json
  packages/pluggableWidgets/repeater-native/package.json
  packages/pluggableWidgets/safe-area-view-native/package.json
  packages/pluggableWidgets/signature-native/package.json
  packages/pluggableWidgets/slider-native/package.json
  packages/pluggableWidgets/toggle-buttons-native/package.json
  packages/pluggableWidgets/video-player-native/package.json
  packages/pluggableWidgets/web-view-native/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/bin/mx-scripts.js
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: Cross-Platform

#923 [NC] Update NMR release script with version file change
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  scripts/release/createNativeModules.js
Labels: enhancement, Native

#929 [NC-438] Don't mangle native in production
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: bug, Native

#925 [WC-755] Improve filters accessibility
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.xml
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatePicker.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/__snapshots__/DatePicker.spec.tsx.snap
  packages/pluggableWidgets/datagrid-date-filter-web/typings/DatagridDateFilterProps.d.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.xml
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.xml
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorPreview.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.xml
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.editorPreview.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.xml
  packages/pluggableWidgets/dropdown-sort-web/src/components/SortComponent.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/SortComponent.spec.tsx
  packages/pluggableWidgets/dropdown-sort-web/src/components/__test__/__snapshots__/SortComponent.spec.tsx.snap
  packages/pluggableWidgets/dropdown-sort-web/typings/DropdownSortProps.d.ts
Labels: enhancement, Web

#921 [WC-750] Gallery a11y properties
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.xml
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
  packages/pluggableWidgets/gallery-web/typings/GalleryProps.d.ts
Labels: enhancement, Web

#661 [WC-84 & WC-501] Implement design properties for Image Viewer Web
  packages/pluggableWidgets/image-web/src/Image.tsx
  packages/pluggableWidgets/image-web/src/Image.xml
  packages/pluggableWidgets/image-web/src/ui/Image.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
Labels: enhancement, Web

#932 feat: update mendix version
  configs/e2e/mendix-versions.json
Labels: enhancement, Cross-Platform

#933 [NC] Revert format functionality in rollup (native)
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: Native

#936 Remove ESLint validation for typings
  .eslintrc.js
Labels: Cross-Platform

#937 Revert "Remove ESLint validation for typings"
  .eslintrc.js
Labels: Cross-Platform

#928 [WC-704] Fix navigationtree hover popup
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-responsive.scss
Labels: enhancement, Web

#927 [WC-753] Advanced options widgets - Rename advanced property & remove its usage in browser executed code
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/src/Accordion.editorPreview.tsx
  packages/pluggableWidgets/accordion-web/src/Accordion.tsx
  packages/pluggableWidgets/accordion-web/src/Accordion.xml
  packages/pluggableWidgets/accordion-web/src/utils/__tests__/__snapshots__/iconGenerator.spec.ts.snap
  packages/pluggableWidgets/accordion-web/src/utils/__tests__/iconGenerator.spec.ts
  packages/pluggableWidgets/accordion-web/src/utils/iconGenerator.tsx
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.xml
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/src/Maps.tsx
  packages/pluggableWidgets/maps-web/src/Maps.xml
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.editorConfig.ts
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.xml
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorPreview.tsx
  packages/pluggableWidgets/tree-node-web/src/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/TreeNode.xml
Labels: enhancement, Web

#924 [WC-535] Add background image feature to image widget
  packages/pluggableWidgets/image-web/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-web/src/Image.editorPreview.tsx
  packages/pluggableWidgets/image-web/src/Image.tsx
  packages/pluggableWidgets/image-web/src/Image.xml
  packages/pluggableWidgets/image-web/src/components/Image/index.tsx
  packages/pluggableWidgets/image-web/src/components/Image/ui.tsx
  packages/pluggableWidgets/image-web/src/components/__tests__/Image.spec.tsx
  packages/pluggableWidgets/image-web/src/components/__tests__/__snapshots__/Image.spec.tsx.snap
  packages/pluggableWidgets/image-web/src/ui/Image.scss
  packages/pluggableWidgets/image-web/tests/e2e/objects/constants.ts
  packages/pluggableWidgets/image-web/tests/e2e/objects/imageViewer.widget.ts
  packages/pluggableWidgets/image-web/tests/e2e/specs/dataTypes.spec.ts
  packages/pluggableWidgets/image-web/tests/e2e/specs/differentViews.spec.ts
  packages/pluggableWidgets/image-web/tests/e2e/specs/onClick.spec.ts
  packages/pluggableWidgets/image-web/typings/ImageProps.d.ts
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_image.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
Labels: enhancement, Web

#931 Data widgets automation
  .github/workflows/MarketplaceRelease.yml
  package.json
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/scripts/build.js
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.eot
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.svg
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.ttf
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.woff
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.woff2
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/dropdown-sort.eot
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/dropdown-sort.svg
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/dropdown-sort.ttf
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/dropdown-sort.woff
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/dropdown-sort.woff2
  packages/modules/data-widgets/src/themesource/datawidgets/web/DatePicker.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/design-properties.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/drop-down-sort.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/gallery-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/gallery.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/main.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/tree-node-design-properties.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/tree-node.scss
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/theming/atlas/scripts/build.js
  scripts/release/createDataWidgetsModule.js
  scripts/release/createNativeModules.js
  scripts/release/module-automation/commons.js
Labels: enhancement, Cross-Platform, crafting

#944 fix: updating data widgets workflow
  .github/workflows/DataWidgetsSlackNotify.yml
Labels: bug, Web

#939 [WC-501] fix thumbnail url for design preview and thumbnail className
  packages/pluggableWidgets/image-web/src/components/Image/index.tsx
  packages/pluggableWidgets/image-web/src/components/Image/ui.tsx
  packages/pluggableWidgets/image-web/src/components/__tests__/__snapshots__/Image.spec.tsx.snap
Labels: enhancement, Web

#942 [WC-773] Add help-url to Web Pluggable Widgets
  packages/pluggableWidgets/accessibility-helper-web/src/AccessibilityHelper.xml
  packages/pluggableWidgets/accordion-web/src/Accordion.xml
  packages/pluggableWidgets/badge-button-web/src/BadgeButton.xml
  packages/pluggableWidgets/badge-web/src/Badge.xml
  packages/pluggableWidgets/barcode-scanner-web/src/BarcodeScanner.xml
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.xml
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.xml
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.xml
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/dropdown-sort-web/src/DropdownSort.xml
  packages/pluggableWidgets/fieldset-web/src/Fieldset.xml
  packages/pluggableWidgets/gallery-web/src/Gallery.xml
  packages/pluggableWidgets/image-web/src/Image.xml
  packages/pluggableWidgets/maps-web/src/Maps.xml
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.xml
  packages/pluggableWidgets/progress-bar-web/src/ProgressBar.xml
  packages/pluggableWidgets/progress-circle-web/src/ProgressCircle.xml
  packages/pluggableWidgets/switch-web/src/Switch.xml
  packages/pluggableWidgets/timeline-web/src/Timeline.xml
  packages/pluggableWidgets/tree-node-web/src/TreeNode.xml
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.xml
Labels: enhancement, Web

#943 [WC-776] Update tree node and images atlas screenshot test
  packages/theming/atlas/tests/e2e/allScreens.spec.ts
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/images--firefox.png
Labels: test, Web

#946 fix(atlas-ui): fixing groupbox header styles
  .github/workflows/WebAutomatedTests.yml
  packages/theming/atlas/CHANGELOG-atlas-core.md
  packages/theming/atlas/package.json
  packages/theming/atlas/scripts/build.js
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_group-box.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_group-box.scss
  packages/theming/atlas/tests/e2e/allScreens.spec.ts
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/groupboxes--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/treeviews--firefox.png
Labels: bug, Atlas, Web

#955 fix(data-widgets): fixing automation
  .github/workflows/MarketplaceRelease.yml
  scripts/release/createDataWidgetsModule.js
Labels: bug, Web

#951 Update changelogs for web widgets
  .github/CODEOWNERS
  packages/jsActions/nanoflow-actions-web/CHANGELOG.md
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/accessibility-helper-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/badge-button-web/CHANGELOG.md
  packages/pluggableWidgets/badge-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/dropdown-sort-web/CHANGELOG.md
  packages/pluggableWidgets/fieldset-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/progress-bar-web/CHANGELOG.md
  packages/pluggableWidgets/progress-circle-web/CHANGELOG.md
  packages/pluggableWidgets/rating-web/CHANGELOG.md
  packages/pluggableWidgets/switch-web/CHANGELOG.md
  packages/pluggableWidgets/timeline-web/CHANGELOG.md
  packages/pluggableWidgets/tree-node-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
Labels: documentation, Web

#961 feat(image-web): update image marketplaceid and CHANGELOG
  packages/pluggableWidgets/image-web/CHANGELOG.md
  packages/pluggableWidgets/image-web/package.json
Labels: enhancement, Web, 9.6.0

#954 Nanoflow Commons: add changelog and bump version
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native, 9.6.0

#963 Update MX 9.6 and 8.18.11 version
  configs/e2e/mendix-versions.json
Labels: test, Web
