Repository mendix/widgets-resources, pull requests merged in 2021-03, with the labels that each got.

#486 [Snyk] Update libraries with security issues
  package-lock.json
  packages/customWidgets/star-rating-web/package.json
  packages/customWidgets/star-rating-web/src/package.xml
  packages/jsActions/nanoflow-commons/package.json
  packages/jsActions/native-mobile-resources/package.json
  packages/pluggableWidgets/intro-screen-native/package.json
  packages/pluggableWidgets/intro-screen-native/src/package.xml
  packages/pluggableWidgets/notifications-native/package.json
  packages/pluggableWidgets/notifications-native/src/package.xml
  packages/pluggableWidgets/video-player-native/package.json
  packages/pluggableWidgets/video-player-native/src/package.xml
  packages/pluggableWidgets/web-view-native/package.json
  packages/pluggableWidgets/web-view-native/src/package.xml
Labels: Cross-Platform, security-fix

#436 [NC-34] Convert Badge from class to func component
  packages/pluggableWidgets/badge-native/package.json
  packages/pluggableWidgets/badge-native/src/Badge.tsx
  packages/pluggableWidgets/badge-native/src/__tests__/__snapshots__/Badge.spec.tsx.snap
  packages/pluggableWidgets/badge-native/src/package.xml
  packages/pluggableWidgets/badge-native/src/ui/Styles.ts
  packages/pluggableWidgets/badge-native/tests/testProject/widgets/com.mendix.widget.native.Badge.mpk
Labels: Native, enhancement

#491 fix(atlas-ui): fix tabcontainer border radius
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/tabcontainer.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, bug

#500 Fix Atlas build script for Windows
  packages/theming/atlas/scripts/build.js
Labels: Atlas, Cross-Platform

#503 Fix Atlas build script output
  packages/theming/atlas/scripts/build.js
Labels: Atlas, Cross-Platform

#499 Update GH Action AtlasReleaseThemeFiles
  .github/workflows/AtlasReleaseThemeFiles.yml
Labels: Atlas, Native, Web

#492 [NC-156] Update popupmenu
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/_functions/convertcolors.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/popupmenu.ts
Labels: Atlas, Native

#505 Badge button - Migrating button styles to design properties
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-button-web/src/BadgeButton.editorConfig.ts
  packages/pluggableWidgets/badge-button-web/src/BadgeButton.editorPreview.tsx
  packages/pluggableWidgets/badge-button-web/src/BadgeButton.tsx
  packages/pluggableWidgets/badge-button-web/src/BadgeButton.webmodeler.tsx
  packages/pluggableWidgets/badge-button-web/src/BadgeButton.xml
  packages/pluggableWidgets/badge-button-web/src/components/BadgeButton.tsx
  packages/pluggableWidgets/badge-button-web/src/components/__tests__/BadgeButton.spec.ts
  packages/pluggableWidgets/badge-button-web/src/package.xml
  packages/pluggableWidgets/badge-button-web/src/ui/BadgeButton.css
  packages/pluggableWidgets/badge-button-web/typings/BadgeButtonProps.d.ts
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_badgebutton.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_badgebutton.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/web/main.scss
Labels: Atlas, Web, enhancement

#510 Update styles for native tablet pt
  packages/theming/atlas/src/themesource/atlas_nativemobile_content/native/buildingblocks/header.ts
  packages/theming/atlas/src/themesource/atlas_nativemobile_content/native/buildingblocks/splitview.ts
  packages/theming/atlas/src/themesource/atlas_nativemobile_content/native/main.ts
  packages/theming/atlas/src/themesource/atlas_nativemobile_content/native/pagetemplates/dashboard.ts
Labels: Atlas, Native

#494 [NC-152] Implement conditional imports for native
  package.json
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/theme/native/exclusion-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/image.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/listview.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/image.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/listview.ts
  packages/theming/atlas/src/themesource/atlas_core/native/main.ts
  packages/theming/atlas/src/themesource/atlas_nativemobile_content/native/buildingblocks/splitview.ts
  packages/tools/pluggable-widgets-tools/configs/tsconfig.base.json
Labels: Atlas, Native

#520 Use single prettier config
  .prettierrc
  package.json
Labels: Cross-Platform

#518 Badge button design properties
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_badgebutton.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
Labels: Atlas, Web

#493 [WC-43] Correct atlas font import
  packages/theming/atlas/src/theme/web/custom-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/_variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/main.scss
Labels: Atlas, Web

#509 feat(atlas-ui): add styling for confirmation status page page template
  packages/theming/atlas/src/themesource/atlas_web_content/web/main.scss
  packages/theming/atlas/src/themesource/atlas_web_content/web/pagetemplates/_statuspage.scss
Labels: Atlas

#512 [WC-213] Data grid improvements
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/ui/DatagridPreview.scss
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/tools/piw-utils/src/typings/PageEditor.ts
Labels: Web, enhancement

#532 feat: change gh action for changed files
  .github/workflows/ScriptTests.yml
  .github/workflows/UnitTests.yml
  .github/workflows/WebAutomatedTests.yml
Labels: Cross-Platform, enhancement

#519 fix: publish to npm action
  .github/workflows/PublishNpm.yml
Labels: Cross-Platform, bug

#531 [WC-40] Fix default markers for Openstreet Maps and custom markers for all maps
  package-lock.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/Maps.editorPreview.tsx
  packages/pluggableWidgets/maps-web/src/Maps.tsx
  packages/pluggableWidgets/maps-web/src/components/GoogleMap.tsx
  packages/pluggableWidgets/maps-web/src/components/LeafletMap.tsx
  packages/pluggableWidgets/maps-web/src/components/__tests__/__snapshots__/LeafletMap.spec.ts.snap
  packages/pluggableWidgets/maps-web/typings/MapsProps.d.ts
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/test-config/assetsTransformer.js
  packages/tools/pluggable-widgets-tools/test-config/jest.config.js
Labels: Web, enhancement

#524 Update native exclusion logic
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/dropdown.ts
  packages/theming/atlas/src/themesource/atlas_core/native/main.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, Native, bug

#534 feat(maps-web): add small description for google maps api token key
  packages/pluggableWidgets/maps-web/src/Maps.xml
Labels: Web, enhancement

#540 Added login page with automatic redirect and renamed sso button login…
  package.json
  packages/theming/atlas/src/theme/web/login-with-mendixsso-automatically.html
  packages/theming/atlas/src/theme/web/login-with-mendixsso-button.html
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_login.scss
Labels: Atlas, Web

#541 PWA templates
  packages/theming/atlas/src/theme/web/custom-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/_variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_button.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_list-view.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas.scss
  packages/theming/atlas/src/themesource/atlas_web_content/web/main.scss
  packages/theming/atlas/src/themesource/atlas_web_content/web/pagetemplates/_list-tab.scss
  packages/theming/atlas/src/themesource/atlas_web_content/web/pagetemplates/_login.scss
  packages/theming/atlas/src/themesource/atlas_web_content/web/pagetemplates/_statuspage.scss
Labels: Atlas, Web

#533 [WC-241] update mapbox to new API
  packages/pluggableWidgets/maps-web/src/components/LeafletMap.tsx
  packages/pluggableWidgets/maps-web/src/components/__tests__/__snapshots__/LeafletMap.spec.ts.snap
  packages/pluggableWidgets/maps-web/src/utils/leaflet.ts
Labels: Web, enhancement

#535 Data grid - Fixes & Improvements
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Header.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/ui/DatagridPreview.scss
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: Web, bug, enhancement

#542 Atlas topBar and sidebar
  packages/theming/atlas/src/theme/web/custom-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_navigation-bar.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_navigation-tree.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_simple-menu-bar.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_navigation-tree.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-responsive.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas.scss
Labels: Atlas, Web

#547 Fix native charts version misalignment
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/bar-chart-native/src/BarChart.xml
  packages/pluggableWidgets/bar-chart-native/src/package.xml
  packages/pluggableWidgets/line-chart-native/package.json
  packages/pluggableWidgets/line-chart-native/src/LineChart.xml
  packages/pluggableWidgets/line-chart-native/src/package.xml
Labels: Native

#538 feat(accessibility-helper-web): make consistency checks compatible with Mendix 9
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accessibility-helper-web/src/AccessibilityHelper.editorConfig.ts
  packages/pluggableWidgets/accessibility-helper-web/src/package.xml
Labels: Web, enhancement

#536 feat(maps-web): make consistency checks compatible with Mendix 9
  packages/pluggableWidgets/maps-web/src/Maps.editorConfig.ts
Labels: Web, enhancement

#537 feat(popup-menu-web): make consistency checks compatible with Mendix 9
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.editorConfig.ts
  packages/pluggableWidgets/popup-menu-web/src/package.xml
Labels: Web, enhancement

#552 test(badge-web): update screenshot
  packages/pluggableWidgets/badge-web/tests/e2e/screenshot-baseline/badgePageContent--firefox.png
Labels: Web, test

#549 fix(atlas-ui): align styles from reference app
  packages/theming/atlas/src/theme/web/custom-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/base/_login.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_navigation-bar.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_navigation-tree.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_simple-menu-bar.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_input.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_navigation-bar.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_navigation-tree.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-responsive.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas.scss
  packages/theming/atlas/src/themesource/atlas_web_content/web/buildingblocks/_alert.scss
Labels: Atlas, Web

#550 fix(datagrid-web): fixing consistency check & warning
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
Labels: Web, bug
