Repository mendix/widgets-resources, pull requests merged in 2021-12, with the labels that each got.

#1100 [WC-880] Map studio feedback
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/Maps.editorPreview.tsx
  packages/pluggableWidgets/maps-web/src/Maps.tsx
  packages/pluggableWidgets/maps-web/src/Maps.xml
  packages/pluggableWidgets/maps-web/src/package.xml
  packages/pluggableWidgets/maps-web/src/ui/Maps.css
  packages/pluggableWidgets/slider-web/tsconfig.json
Labels: documentation, Web

#1075 Refactoring Web Automation
  packages/modules/atlas-core/package.json
  scripts/release/createWebModules.js
Labels: enhancement, Web

#1086 [WC-884] Rewrite Range slider to pluggable
  packages/customWidgets/range-slider-web/src/RangeSlider.webmodeler.ts
  packages/customWidgets/range-slider-web/src/RangeSlider.xml
  packages/customWidgets/range-slider-web/src/components/Alert.ts
  packages/customWidgets/range-slider-web/src/components/RangeSlider.ts
  packages/customWidgets/range-slider-web/src/components/RangeSliderContainer.ts
  packages/customWidgets/range-slider-web/src/components/__tests__/Alert.spec.ts
  packages/customWidgets/range-slider-web/src/components/__tests__/RangeSlider.spec.ts
  packages/customWidgets/range-slider-web/src/ui/RangeSlider.scss
  packages/customWidgets/range-slider-web/src/ui/_range-slider-theme.scss
  packages/customWidgets/range-slider-web/src/ui/_variables.scss
  packages/customWidgets/range-slider-web/tsconfig.json
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
  packages/pluggableWidgets/range-slider-web/README.md
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.editorConfig.ts
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.editorPreview.tsx
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.tsx
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.xml
  packages/pluggableWidgets/range-slider-web/src/components/RangeSlider.tsx
  packages/pluggableWidgets/range-slider-web/src/components/__tests__/RangeSlider.spec.tsx
  packages/pluggableWidgets/range-slider-web/src/components/__tests__/__snapshots__/RangeSlider.spec.tsx.snap
  packages/pluggableWidgets/range-slider-web/src/package.xml
  packages/pluggableWidgets/range-slider-web/src/ui/RangeSlider.scss
  packages/pluggableWidgets/range-slider-web/src/utils/createHandleGenerator.tsx
  packages/pluggableWidgets/range-slider-web/src/utils/getMaxValue.ts
  packages/pluggableWidgets/range-slider-web/src/utils/getMinValue.ts
  packages/pluggableWidgets/range-slider-web/src/utils/getPreviewValues.ts
  packages/pluggableWidgets/range-slider-web/src/utils/getStepValue.ts
  packages/pluggableWidgets/range-slider-web/src/utils/getStyleProp.ts
  packages/pluggableWidgets/range-slider-web/src/utils/isVertical.ts
  packages/pluggableWidgets/range-slider-web/src/utils/marks.ts
  packages/pluggableWidgets/range-slider-web/src/utils/useMarks.ts
  packages/pluggableWidgets/range-slider-web/src/utils/useOnChangeDebounced.ts
  packages/pluggableWidgets/range-slider-web/tests/e2e/objects/rangeSlider.widget.ts
  packages/pluggableWidgets/range-slider-web/tests/e2e/specs/dataTypes.spec.ts
  packages/pluggableWidgets/range-slider-web/tests/e2e/tsconfig.json
  packages/pluggableWidgets/range-slider-web/tsconfig.json
  packages/pluggableWidgets/range-slider-web/tsconfig.spec.json
  packages/pluggableWidgets/range-slider-web/typings/RangeSliderProps.d.ts
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_range-slider.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_range-slider.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/range-sliders--firefox.png
Labels: enhancement, Web

#1105 [WC-828] Data Grid - Add design property to wrap texts
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid.scss
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/Table.spec.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: enhancement, Web

#1102 [WC-847] Tooltip Structure Preview
  packages/pluggableWidgets/tooltip-web/assets/Display.png
  packages/pluggableWidgets/tooltip-web/assets/Events.png
  packages/pluggableWidgets/tooltip-web/assets/General.png
  packages/pluggableWidgets/tooltip-web/assets/demo.png
  packages/pluggableWidgets/tooltip-web/assets/tooltip_appstore.png
  packages/pluggableWidgets/tooltip-web/src/Tooltip.editorConfig.ts
  packages/pluggableWidgets/tooltip-web/src/Tooltip.icon.png
  packages/pluggableWidgets/tooltip-web/src/Tooltip.tile.png
  packages/pluggableWidgets/tooltip-web/src/assets/tooltip_icon.svg
  packages/pluggableWidgets/tooltip-web/tsconfig.json
Labels: enhancement, Web

#1120 feat(calendar-web): fix linter warnings
  packages/customWidgets/calendar-web/src/components/CalendarContainer.ts
Labels: enhancement, Web

#1121 feat(data-widgets): bump version
  packages/modules/data-widgets/package.json
Labels: enhancement, Web

#1124 fix(range-slider-web): fixing properties
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.editorPreview.tsx
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.tsx
  packages/pluggableWidgets/range-slider-web/src/ui/RangeSlider.scss
  packages/pluggableWidgets/range-slider-web/typings/RangeSliderProps.d.ts
Labels: bug, Web

#1122 fix: fixing husky commit-msg on windows
  .husky/commit-msg
  package.json
Labels: bug, Cross-Platform

#1106 feat(pluggable-widgets-tools): implement license collection for release
  package-lock.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/configs/rollup.config.native.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: enhancement, Cross-Platform

#1104 [NC-461] Add new native image widget
  package-lock.json
  package.json
  packages/pluggableWidgets/image-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/README.md
  packages/pluggableWidgets/image-native/package.json
  packages/pluggableWidgets/image-native/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-native/src/Image.icon.png
  packages/pluggableWidgets/image-native/src/Image.tile.png
  packages/pluggableWidgets/image-native/src/Image.tsx
  packages/pluggableWidgets/image-native/src/Image.xml
  packages/pluggableWidgets/image-native/src/assets/placeholder.svg
  packages/pluggableWidgets/image-native/src/components/BackgroundImage.tsx
  packages/pluggableWidgets/image-native/src/components/ImageComponents.tsx
  packages/pluggableWidgets/image-native/src/components/ImageIconSVG.tsx
  packages/pluggableWidgets/image-native/src/components/__tests__/Image.spec.tsx
  packages/pluggableWidgets/image-native/src/components/__tests__/__snapshots__/Image.spec.tsx.snap
  packages/pluggableWidgets/image-native/src/components/__tests__/image.png
  packages/pluggableWidgets/image-native/src/components/__tests__/svgXml.ts
  packages/pluggableWidgets/image-native/src/components/fonts/Halflings.ts
  packages/pluggableWidgets/image-native/src/components/fonts/font.tsx
  packages/pluggableWidgets/image-native/src/components/fonts/glyphicons-halflings-regular.ttf
  packages/pluggableWidgets/image-native/src/package.xml
  packages/pluggableWidgets/image-native/src/ui/Styles.ts
  packages/pluggableWidgets/image-native/src/utils/imageUtils.ts
  packages/pluggableWidgets/image-native/src/utils/svgUtils.ts
  packages/pluggableWidgets/image-native/tsconfig.json
  packages/pluggableWidgets/image-native/typings/ImageProps.d.ts
  packages/tools/pluggable-widgets-tools/configs/rollup.config.native.js
Labels: Native

#1108 [WC-491] Implement Column Chart
  packages/pluggableWidgets/bar-chart-web/src/package.xml
  packages/pluggableWidgets/column-chart-web/CHANGELOG.md
  packages/pluggableWidgets/column-chart-web/README.md
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/rollup.config.js
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.editorConfig.ts
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.editorPreview.tsx
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.icon.png
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.tile.png
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.tsx
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.xml
  packages/pluggableWidgets/column-chart-web/src/__tests__/ColumnChart.spec.tsx
  packages/pluggableWidgets/column-chart-web/src/package.xml
  packages/pluggableWidgets/column-chart-web/tsconfig.json
  packages/pluggableWidgets/column-chart-web/typings/ColumnChartProps.d.ts
Labels: enhancement, Web

#1132 Update custom tooltip screenshot baseline
  packages/pluggableWidgets/tooltip-web/tests/e2e/screenshot-baseline/tooltipCustom--firefox.png
Labels: test, Web

#1131 [WC-893] fix(datagrid-date-filter-web): fix issue with locale
  package-lock.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatagridDateFilter.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-date-filter-web/typings/global.d.ts
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/slider-web/typings/SliderProps.d.ts
Labels: bug, Web

#1138 chore: bump mx versions
  configs/e2e/mendix-versions.json
Labels: enhancement, Cross-Platform

#1128 [NC-528] Set explicit border colors for Floating Action Button
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
  packages/theming/atlas/package.json
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/floatingactionbutton.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
  scripts/release/README.md
  scripts/release/createWebModules.js
Labels: Atlas, Native

#1141 Fix image URL broken
  packages/pluggableWidgets/image-web/tests/e2e/objects/constants.ts
  packages/pluggableWidgets/range-slider-web/rollup.config.js
  packages/theming/atlas/tests/e2e/allScreens.spec.ts
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/range-sliders--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/sliders--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/tolltips--firefox.png
Labels: test, Web

#1126 [NC-427] Add more tests for slider widget
  detox/jest.detox.startup.js
  package-lock.json
  package.json
  packages/pluggableWidgets/activity-indicator-native/package.json
  packages/pluggableWidgets/background-image-native/package.json
  packages/pluggableWidgets/badge-native/package.json
  packages/pluggableWidgets/floating-action-button-native/package.json
  packages/pluggableWidgets/progress-bar-native/package.json
  packages/pluggableWidgets/progress-circle-native/package.json
  packages/pluggableWidgets/rating-native/package.json
  packages/pluggableWidgets/slider-native/detox.config.js
  packages/pluggableWidgets/slider-native/image-snapshots/android/Slider renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/slider-native/image-snapshots/android/Slider renders correctly after setting value 1-snap.png
  packages/pluggableWidgets/slider-native/image-snapshots/ios/Slider renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/slider-native/image-snapshots/ios/Slider renders correctly after setting value 1-snap.png
  packages/pluggableWidgets/slider-native/package.json
  packages/pluggableWidgets/slider-native/src/Slider.tsx
  packages/pluggableWidgets/slider-native/src/__tests__/Slider.spec.tsx
  packages/pluggableWidgets/slider-native/tests/e2e/Slider.spec.ts
  packages/pluggableWidgets/slider-native/tsconfig.json
  packages/pluggableWidgets/switch-native/package.json
Labels: enhancement, Native

#1140 [UIA-24] Fix for warning on registerDeviceForRemoteMessages call in RequestNotificationPermission
  packages/jsActions/mobile-resources-native/src/notifications/RequestNotificationPermission.ts
Labels: bug, Native

#1143 [WC-903] Change barcode scanner category to Images, videos & files
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/src/BarcodeScanner.xml
Labels: enhancement, Web

#1130 [WC-639] Remove generated client typings for action that is linked in attribute
  packages/pluggableWidgets/accordion-web/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-web/typings/AccordionProps.d.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/utils/__tests__/settings.spec.ts
  packages/pluggableWidgets/datagrid-web/src/utils/settings.ts
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/src/typings-generator/WidgetXml.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/index.spec.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/inputs/atribute-linked-action.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/atribute-linked-action.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generateClientTypes.ts
Labels: enhancement, Cross-Platform

#1142 [WC-827] Configurable tooltips for columns in Datagrid 2
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorPreview.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.tsx
  packages/pluggableWidgets/datagrid-web/src/Datagrid.xml
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/utils/__tests__/useCellRenderer.spec.ts
  packages/pluggableWidgets/datagrid-web/src/utils/useCellRenderer.tsx
  packages/pluggableWidgets/datagrid-web/typings/DatagridProps.d.ts
Labels: enhancement, Web

#1094 [NC-516] Mendix 8 - Update react native cameraroll library
  .github/workflows/PublishNpm.yml
  .github/workflows/UnitTests.yml
  .github/workflows/WebAutomatedTests.yml
  .nvmrc
  package-lock.json
  packages/jsActions/native-mobile-resources/package.json
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/CustomPopUpMenuLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/customPopUpMenuBottom--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/customPopUpMenuRight--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/customPopUpMenuTop--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/customPopUpMenuTopLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/customPopUpMenuTopRight--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/popUpMenuBottom--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/popUpMenuBottomLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/popUpMenuBottomRight--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/popUpMenuLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/popUpMenuRight--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/popUpMenuTop--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/popUpMenuTopLeft--firefox.png
  packages/pluggableWidgets/popup-menu-web/dist/e2e/tests/screenshot-baseline/popUpMenuTopRight--firefox.png
  packages/pluggableWidgets/timeline-web/dist/e2e/tests/screenshot-baseline/timelineBasic--firefox.png
  packages/pluggableWidgets/timeline-web/dist/e2e/tests/screenshot-baseline/timelineCustom--firefox.png
  packages/tools/pluggable-widgets-tools/scripts/mxbuild.Dockerfile
Labels: Native

#1146 [NC-588] Update readme Atlas
  packages/theming/atlas/README.md
Labels: Atlas

#1033 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
Labels: Native

#1151 feat(slider-web): adds tooltipAlwaysVisible property for slider-web [WC-929]
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.tsx
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.xml
  packages/pluggableWidgets/range-slider-web/src/utils/createHandleGenerator.tsx
  packages/pluggableWidgets/range-slider-web/typings/RangeSliderProps.d.ts
  packages/pluggableWidgets/slider-web/CHANGELOG.md
  packages/pluggableWidgets/slider-web/src/Slider.tsx
  packages/pluggableWidgets/slider-web/src/Slider.xml
  packages/pluggableWidgets/slider-web/src/utils/createHandleGenerator.tsx
  packages/pluggableWidgets/slider-web/typings/SliderProps.d.ts
  packages/tools/piw-utils-internal/src/utils/ReactLifecycleUtils.ts
  packages/tools/piw-utils-internal/src/utils/__tests__/ReactLifecycleUtils.spec.tsx
  packages/tools/piw-utils-internal/src/utils/index.ts
Labels: enhancement, Web

#1160 [WC-872] add repository information for automation of accessibility-helper-web
  packages/pluggableWidgets/accessibility-helper-web/package.json
Labels: enhancement, Web

#1170 [WC-872] Fix widgets for automation 9.9.1
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/package.xml
Labels: enhancement, Web

#1172 [WC-872] Add release notes to sliders for 9.9.1
  packages/pluggableWidgets/range-slider-web/CHANGELOG.md
  packages/pluggableWidgets/slider-web/CHANGELOG.md
Labels: enhancement, Web

#1145 [NC-587] Improve build output native modules
  configs/jsactions/rollup.config.js
Labels: Native

#1184 [NC-461] Update and optimise native image
  packages/pluggableWidgets/image-native/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-native/src/Image.xml
  packages/pluggableWidgets/image-native/src/components/BackgroundImage.tsx
  packages/pluggableWidgets/image-native/src/components/ImageComponents.tsx
  packages/pluggableWidgets/image-native/src/components/ImageIconSVG.tsx
  packages/pluggableWidgets/image-native/src/components/__tests__/__snapshots__/Image.spec.tsx.snap
  packages/pluggableWidgets/image-native/src/ui/Styles.ts
  packages/pluggableWidgets/image-native/src/utils/svgUtils.ts
Labels: Native

#1187 [WC-888] Re-enable slider e2e test
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/slider-web/tests/e2e/objects/Slider.widget.ts
  packages/pluggableWidgets/slider-web/tests/e2e/specs/Slider.spec.ts
  packages/pluggableWidgets/slider-web/tests/e2e/tsconfig.json
Labels: test, Web

#1193 [WC-927]: Re-enable range slider e2e test
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/range-slider-web/tests/e2e/objects/rangeSlider.widget.ts
Labels: test, Web
