Repository mendix/widgets-resources, pull requests merged in 2022-05, with the labels that each got.

#1454 [NC-403] e2e tests for app events
  packages/pluggableWidgets/app-events-native/detox.config.js
  packages/pluggableWidgets/app-events-native/e2e/specs/AppEvents.spec.ts
  packages/pluggableWidgets/app-events-native/package.json
Labels: Native

#1422 [WTF-1093] Update pluggable-widgets-tools for association property in 9.13
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/inputs/association.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/association.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generate.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generateClientTypes.ts
Labels: enhancement, Cross-Platform, 9.13.0

#1456 [WC-1107] Fix issue with slider flex-grow
  packages/pluggableWidgets/slider-web/CHANGELOG.md
  packages/pluggableWidgets/slider-web/src/ui/Slider.scss
Labels: bug, Web

#1460 [NC-413] e2e tests for intro screen
  packages/pluggableWidgets/intro-screen-native/CHANGELOG.md
  packages/pluggableWidgets/intro-screen-native/detox.config.js
  packages/pluggableWidgets/intro-screen-native/e2e/images/android/30/pixel/Intro screen should be able to change screens and fire event 1-snap.png
  packages/pluggableWidgets/intro-screen-native/e2e/images/android/30/pixel/Intro screen should be able to change screens and fire event 2-snap.png
  packages/pluggableWidgets/intro-screen-native/e2e/images/android/30/pixel/Intro screen should be able to change screens and fire event 3-snap.png
  packages/pluggableWidgets/intro-screen-native/e2e/images/android/30/pixel/Intro screen should be able to change screens and fire event 4-snap.png
  packages/pluggableWidgets/intro-screen-native/e2e/images/ios/15.4/iPhone 13/Intro screen should be able to change screens and fire event 1-snap.png
  packages/pluggableWidgets/intro-screen-native/e2e/images/ios/15.4/iPhone 13/Intro screen should be able to change screens and fire event 2-snap.png
  packages/pluggableWidgets/intro-screen-native/e2e/images/ios/15.4/iPhone 13/Intro screen should be able to change screens and fire event 3-snap.png
  packages/pluggableWidgets/intro-screen-native/e2e/images/ios/15.4/iPhone 13/Intro screen should be able to change screens and fire event 4-snap.png
  packages/pluggableWidgets/intro-screen-native/e2e/specs/IntroScreen.spec.ts
  packages/pluggableWidgets/intro-screen-native/package.json
  packages/pluggableWidgets/intro-screen-native/src/SwipeableContainer.tsx
  packages/pluggableWidgets/intro-screen-native/src/package.xml
  packages/pluggableWidgets/intro-screen-native/tsconfig.json
Labels: Native

#1457 [WC-1118] Re-enable carousel e2e test
  packages/pluggableWidgets/carousel-web/cypress/integration/Carousel.spec.js
  packages/pluggableWidgets/carousel-web/cypress/plugins/index.js
  packages/pluggableWidgets/carousel-web/cypress/support/index.js
  packages/pluggableWidgets/carousel-web/package.json
  packages/pluggableWidgets/carousel-web/tests/e2e/objects/carousel.widget.ts
  packages/pluggableWidgets/carousel-web/tests/e2e/specs/arrows.spec.ts
  packages/pluggableWidgets/carousel-web/tests/e2e/specs/datasource.spec.ts
  packages/pluggableWidgets/carousel-web/tests/e2e/specs/errors.spec.ts
  packages/pluggableWidgets/carousel-web/tests/e2e/specs/onClick.spec.ts
  packages/pluggableWidgets/carousel-web/tests/e2e/tsconfig.json
Labels: Web

#1450 [WC-1097] Extend document viewer
  packages/pluggableWidgets/bubble-chart-web/src/utils/index.ts
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.xml
  packages/pluggableWidgets/document-viewer-web/src/components/DocumentViewer.tsx
  packages/pluggableWidgets/document-viewer-web/src/components/__tests__/__snapshots__/DocumentViewer.spec.tsx.snap
  packages/pluggableWidgets/document-viewer-web/src/utils/useFileURL.ts
  packages/pluggableWidgets/document-viewer-web/src/utils/useStyle.ts
  packages/pluggableWidgets/document-viewer-web/typings/DocumentViewerProps.d.ts
  packages/tools/piw-utils-internal/src/utils/StylingPropertyUtils.ts
  packages/tools/piw-utils-internal/src/utils/__tests__/StylingPropertyUtils.spec.ts
Labels: Web

#1465 chore(pluggable-widgets-tools): update changelog
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
Labels: Cross-Platform

#1472 Update mx-version to 9.13 release
  configs/e2e/mendix-versions.json
Labels: Web

#1463 [WC-1161] Tooltip widget is not taking full width
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tooltip-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/src/ui/Tooltip.scss
  packages/theming/atlas/package.json
  packages/theming/atlas/src/themesource/atlas_core/web/_exclusion-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_tooltip.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/web/main.scss
Labels: Atlas, Web, Cross-Platform

#1473 Tooltip: Updating changelogs
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
Labels: Web

#1475 feat(atlas-core): bump min mx version as test project got updated to 9.6.11
  packages/modules/atlas-core/package.json
  packages/modules/atlas-web-content/package.json
Labels: Atlas, Web, Cross-Platform

#1468 [WC-1064] Implement filtering for empty and non-empty values
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.eot
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.svg
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.ttf
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.woff
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.woff2
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid-filters.scss
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.xml
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-date-filter-web/typings/DatagridDateFilterProps.d.ts
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.xml
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/typings/DatagridNumberFilterProps.d.ts
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.xml
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/typings/DatagridTextFilterProps.d.ts
  packages/tools/piw-utils-internal/src/assets/DataGridFilterIcons.ts
Labels: enhancement, Web

#1476 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1477 feat(data-widgets): DG filter dark icons
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
  packages/tools/piw-utils-internal/src/assets/DataGridFilterIcons.ts
Labels: Web

#1478 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
Labels: Web

#1470 [WC-1166] Rich text open links
  .eslintignore
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/rollup.config.js
  packages/pluggableWidgets/rich-text-web/src/RichText.tsx
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/README.md
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/icons/hidpi/openLink.png
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/icons/openLink.png
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/lang/bg.js
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/lang/de.js
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/lang/en.js
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/lang/pl.js
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/lang/ru.js
  packages/pluggableWidgets/rich-text-web/src/assets/plugins/openlink/plugin.js
  packages/pluggableWidgets/rich-text-web/src/package.xml
  packages/pluggableWidgets/rich-text-web/src/utils/ckeditorConfigs.ts
  packages/pluggableWidgets/rich-text-web/tsconfig.json
Labels: Web

#1432 chore: Update content data file
  data/content.json
Labels: Cross-Platform

#1479 [WC-1138] Re-enable rich text e2e tests
  configs/e2e/cypress/cypress.json
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-customModeAllOptions-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-customModeNoneOptions-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-inlineAdvancedMode-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-inlineBasicMode-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-inlineCustomMode-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-readOnlyBordered-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-readOnlyBorderedToolbar-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-readOnlyText-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-toolbarAdvancedMode-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-toolbarBasicMode-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress-visual-screenshots/baseline/RichText.spec-toolbarCustomMode-chrome.png
  packages/pluggableWidgets/rich-text-web/cypress/integration/RichText.spec.js
  packages/pluggableWidgets/rich-text-web/cypress/plugins/index.js
  packages/pluggableWidgets/rich-text-web/cypress/support/index.js
  packages/pluggableWidgets/rich-text-web/package.json
  packages/pluggableWidgets/rich-text-web/src/RichText.xml
  packages/pluggableWidgets/rich-text-web/tests/e2e/objects/richText.widget.ts
  packages/pluggableWidgets/rich-text-web/tests/e2e/pages/home.page.ts
  packages/pluggableWidgets/rich-text-web/tests/e2e/specs/RichText.spec.ts
  packages/pluggableWidgets/rich-text-web/tests/e2e/tsconfig.json
  packages/tools/pluggable-widgets-tools/scripts/e2e.cypress.js
Labels: Web, Cross-Platform

#1447 [NC-686] PIW tools: FedRAMP licenses
  configs/jsactions/rollup.config.js
  packages/tools/piw-native-utils-internal/package.json
  packages/tools/piw-utils-internal/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/helpers/rollup-helper.js
  packages/tools/pluggable-widgets-tools/configs/rollup-plugin-collect-dependencies.js
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/configs/rollup.config.native.js
  packages/tools/pluggable-widgets-tools/configs/shared.js
  packages/tools/pluggable-widgets-tools/tests/commands.js
Labels: Native, Cross-Platform

#1482 RichText: Updating changelogs
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: Web

#1471 [WC-1163] Prevent PWT from assuming that `react-dom/server` is an external dependency
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/configs/rollup.config.native.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: Cross-Platform

#1486 [NC] add detail to native release doc
  scripts/release/README.md
Labels: Cross-Platform

#1487 [WC-1139] Add e2e test for dropdown-sort-web
  packages/pluggableWidgets/dropdown-sort-web/cypress/integration/DropDownSort.spec.js
  packages/pluggableWidgets/dropdown-sort-web/cypress/plugins/index.js
  packages/pluggableWidgets/dropdown-sort-web/cypress/support/index.js
  packages/pluggableWidgets/dropdown-sort-web/package.json
Labels: Web
