Repository mendix/widgets-resources, pull requests merged in 2022-03, with the labels that each got.

#1354 [WTF-1075] Prepare XML for reference set support
  packages/tools/pluggable-widgets-tools/src/typings-generator/WidgetXml.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/inputs/association.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generateClientTypes.ts
Labels: Cross-Platform

#1225 [NC-435] update native feedback widget API
  packages/pluggableWidgets/feedback-native/CHANGELOG.md
  packages/pluggableWidgets/feedback-native/package.json
  packages/pluggableWidgets/feedback-native/src/package.xml
  packages/pluggableWidgets/feedback-native/src/utils/sprintrApi.ts
Labels: enhancement, Native

#1350 [WC-1044] General Studio feedback for Charts
  packages/pluggableWidgets/bar-chart-web/src/BarChart.editorConfig.ts
  packages/pluggableWidgets/bar-chart-web/src/BarChart.tsx
  packages/pluggableWidgets/bar-chart-web/src/BarChart.xml
  packages/pluggableWidgets/bar-chart-web/src/__tests__/BarChart.spec.tsx
  packages/pluggableWidgets/bar-chart-web/typings/BarChartProps.d.ts
  packages/pluggableWidgets/line-chart-web/src/LineChart.editorConfig.ts
  packages/pluggableWidgets/line-chart-web/src/LineChart.tsx
  packages/pluggableWidgets/line-chart-web/src/LineChart.xml
  packages/pluggableWidgets/line-chart-web/src/__tests__/LineChart.spec.tsx
  packages/pluggableWidgets/line-chart-web/typings/LineChartProps.d.ts
Labels: enhancement, Web

#1349 [WC-1061] Structure preview for Carousel
  packages/pluggableWidgets/carousel-web/src/Carousel.editorConfig.ts
  packages/pluggableWidgets/carousel-web/src/ui/dot_blue.svg
  packages/pluggableWidgets/carousel-web/src/ui/dot_empty.svg
  packages/pluggableWidgets/carousel-web/src/ui/dot_grey.svg
Labels: Web

#1352 [WC-1051] Column Chart feedback
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.editorConfig.ts
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.tsx
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.xml
  packages/pluggableWidgets/column-chart-web/src/__tests__/ColumnChart.spec.tsx
  packages/pluggableWidgets/column-chart-web/typings/ColumnChartProps.d.ts
Labels: Web

#1353 [WC-1053] Studio feedback for timeseries
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorConfig.ts
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.tsx
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.xml
  packages/pluggableWidgets/time-series-chart-web/src/__test__/TimeSeries.spec.tsx
  packages/pluggableWidgets/time-series-chart-web/typings/TimeSeriesProps.d.ts
Labels: enhancement, Web, chart

#1358 Carousel: Updating changelogs
  packages/pluggableWidgets/carousel-web/CHANGELOG.md
Labels: Web

#1356 [UIA-47] Fix multiple executions of on open handler in Notifications widget
  packages/pluggableWidgets/notifications-native/CHANGELOG.md
  packages/pluggableWidgets/notifications-native/src/Notifications.tsx
Labels: Native

#1363 [NC] Fix automation for new js actions
  scripts/release/createNativeModules.js
Labels: Cross-Platform

#1365 [NC] Fix NC automation
  scripts/release/createNativeModules.js
Labels: Native

#1366 chore(): prepare for nmr release
  packages/pluggableWidgets/notifications-native/package.json
  packages/pluggableWidgets/notifications-native/src/package.xml
Labels: Native

#1359 [NC-627] Inaccurate Current location using MiN and native
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/src/geolocation/GetCurrentLocationMinimumAccuracy.ts
Labels: bug, Native

#1362 Update Cypress version to 9.5.1
  .github/workflows/WebAutomatedTests.yml
  package-lock.json
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/scripts/e2e.cypress.js
Labels: Cross-Platform

#1369 Nanoflow Commons: Updating changelogs
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1368 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/feedback-native/CHANGELOG.md
  packages/pluggableWidgets/notifications-native/CHANGELOG.md
Labels: Native

#1367 Add e2e pipeline for native android tests
  .github/workflows/NativeAutomatedTestsAndroid.yml
  .gitignore
  detox/detox.config.js
  detox/jest.detox.startup.js
  package.json
  prettier.config.js
  scripts/test/e2e-native.js
Labels: Native, Cross-Platform

#1373 fix(): update changelog
  packages/jsActions/native-mobile-resources/CHANGELOG.md
Labels: Native

#1322 Update Charts versions
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/src/package.xml
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/src/package.xml
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/src/package.xml
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/src/package.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/src/package.xml
Labels: enhancement, Web

#1357 [NC-664] Reduce module sizes
  configs/jsactions/rollup.config.js
  package-lock.json
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/mobile-resources-native/src/camera/TakePicture.ts
  packages/jsActions/mobile-resources-native/src/camera/TakePictureAdvanced.ts
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/src/other/GenerateUniqueID.ts
  packages/tools/pluggable-widgets-tools/configs/rollup-plugin-collect-dependencies.js
  scripts/release/README.md
  scripts/release/createNativeModules.js
Labels: enhancement, Native, Cross-Platform

#1355 chore: Update content data file
  data/content.json
Labels: Cross-Platform

#1383 [WC-1085] Charts Remaining Studio Feedback
  packages/pluggableWidgets/area-chart-web/src/AreaChart.editorConfig.ts
  packages/pluggableWidgets/area-chart-web/src/AreaChart.tsx
  packages/pluggableWidgets/area-chart-web/src/AreaChart.xml
  packages/pluggableWidgets/area-chart-web/src/__tests__/AreaChart.spec.tsx
  packages/pluggableWidgets/area-chart-web/typings/AreaChartProps.d.ts
  packages/pluggableWidgets/bar-chart-web/src/BarChart.xml
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.editorConfig.ts
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.tsx
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.xml
  packages/pluggableWidgets/bubble-chart-web/src/__tests__/BubbleChart.spec.tsx
  packages/pluggableWidgets/bubble-chart-web/typings/BubbleChartProps.d.ts
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.xml
  packages/pluggableWidgets/line-chart-web/src/LineChart.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/src/PieChart.xml
  packages/shared/charts/src/hooks/usePlotChartDataSeries.ts
Labels: enhancement, Web

#1381 [WC-1048] change PWT config to copy CSS assets instead of inlining them
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: Cross-Platform

#1385 [WC-943] remove all inline images from _mxui.scss
  packages/theming/atlas/src/themesource/atlas_core/public/resources/menubar-more-icon.png
  packages/theming/atlas/src/themesource/atlas_core/public/resources/progress-indicator.gif
  packages/theming/atlas/src/themesource/atlas_core/public/resources/swipe-progress.gif
  packages/theming/atlas/src/themesource/atlas_core/public/resources/switcher-toggle.png
  packages/theming/atlas/src/themesource/atlas_core/public/resources/switcher.png
  packages/theming/atlas/src/themesource/atlas_core/public/resources/tabcontainer-loading.gif
  packages/theming/atlas/src/themesource/atlas_core/public/resources/ttp.gif
  packages/theming/atlas/src/themesource/atlas_core/web/core/_legacy/_mxui.scss
Labels: Atlas

#1351 [WC-1060] Document viewer pdf
  packages/pluggableWidgets/document-viewer-web/CHANGELOG.md
  packages/pluggableWidgets/document-viewer-web/README.md
  packages/pluggableWidgets/document-viewer-web/package.json
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.editorConfig.ts
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.editorPreview.tsx
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.tsx
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.xml
  packages/pluggableWidgets/document-viewer-web/src/assets/example-doc.ts
  packages/pluggableWidgets/document-viewer-web/src/components/DocumentViewer.tsx
  packages/pluggableWidgets/document-viewer-web/src/components/__tests__/DocumentViewer.spec.tsx
  packages/pluggableWidgets/document-viewer-web/src/components/__tests__/__snapshots__/DocumentViewer.spec.tsx.snap
  packages/pluggableWidgets/document-viewer-web/src/package.xml
  packages/pluggableWidgets/document-viewer-web/src/ui/DocumentViewer.scss
  packages/pluggableWidgets/document-viewer-web/src/utils/useFileURL.ts
  packages/pluggableWidgets/document-viewer-web/src/utils/useStyle.ts
  packages/pluggableWidgets/document-viewer-web/tsconfig.json
  packages/pluggableWidgets/document-viewer-web/typings/DocumentViewerProps.d.ts
Labels: enhancement, Web

#1389 fix: use same url transform for DEV as in PROD because we disabled cs…
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: enhancement, Cross-Platform

#1394 [NC] Automation: retain two web widgets used in project
  scripts/release/createNativeModules.js
Labels: bug, Cross-Platform

#1392 fix: make sure to publish to aws on merge to master
  .github/workflows/UpdateContentOverview.yml
Labels: Cross-Platform

#1395 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
Labels: Native

#1303 [NC-607] android video player full screen support
  packages/pluggableWidgets/video-player-native/.snyk
  packages/pluggableWidgets/video-player-native/CHANGELOG.md
  packages/pluggableWidgets/video-player-native/package.json
  packages/pluggableWidgets/video-player-native/src/VideoPlayer.tsx
  packages/pluggableWidgets/video-player-native/src/__tests__/VideoPlayer.spec.tsx
  packages/pluggableWidgets/video-player-native/src/__tests__/__snapshots__/VideoPlayer.spec.tsx.snap
  packages/pluggableWidgets/video-player-native/src/package.xml
  packages/pluggableWidgets/video-player-native/src/ui/Styles.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/videoplayer.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/widgets.d.ts
Labels: Atlas, Native

#1397 [WC-1048] atlas dropdown
  packages/theming/atlas/src/themesource/atlas_core/public/resources/arrow.svg
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_input.scss
Labels: Atlas

#1399 feat: use svg file instead of inline svg
  packages/modules/data-widgets/src/themesource/datawidgets/public/resources/dropdown-arrow.svg
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid-filters.scss
Labels: Web

#1384 [NC-411] Add feedback widget tests
  detox/detox.config.js
  package-lock.json
  package.json
  packages/pluggableWidgets/accordion-native/package.json
  packages/pluggableWidgets/activity-indicator-native/package.json
  packages/pluggableWidgets/background-image-native/package.json
  packages/pluggableWidgets/badge-native/package.json
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/color-picker-native/package.json
  packages/pluggableWidgets/feedback-native/CHANGELOG.md
  packages/pluggableWidgets/feedback-native/detox.config.js
  packages/pluggableWidgets/feedback-native/e2e/images/android/30/pixel/Feedback widget should be able to submit a feedback item 1-snap.png
  packages/pluggableWidgets/feedback-native/e2e/images/android/30/pixel/Feedback widget should be able to submit a feedback item 2-snap.png
  packages/pluggableWidgets/feedback-native/e2e/images/ios/15.4/iPhone 13/Feedback widget should be able to submit a feedback item 1-snap.png
  packages/pluggableWidgets/feedback-native/e2e/images/ios/15.4/iPhone 13/Feedback widget should be able to submit a feedback item 2-snap.png
  packages/pluggableWidgets/feedback-native/e2e/specs/Feedback.spec.ts
  packages/pluggableWidgets/feedback-native/package.json
  packages/pluggableWidgets/feedback-native/src/Feedback.tsx
  packages/pluggableWidgets/feedback-native/src/__tests__/Feedback.spec.tsx
  packages/pluggableWidgets/feedback-native/src/__tests__/__snapshots__/Feedback.spec.tsx.snap
  packages/pluggableWidgets/feedback-native/src/package.xml
  packages/pluggableWidgets/feedback-native/tsconfig.json
  packages/pluggableWidgets/floating-action-button-native/package.json
  packages/pluggableWidgets/image-native/package.json
  packages/pluggableWidgets/line-chart-native/package.json
  packages/pluggableWidgets/pie-doughnut-chart-native/package.json
  packages/pluggableWidgets/popup-menu-native/package.json
  packages/pluggableWidgets/progress-bar-native/package.json
  packages/pluggableWidgets/progress-circle-native/package.json
  packages/pluggableWidgets/radio-buttons-native/package.json
  packages/pluggableWidgets/range-slider-native/package.json
  packages/pluggableWidgets/rating-native/package.json
  packages/pluggableWidgets/repeater-native/package.json
  packages/pluggableWidgets/slider-native/package.json
  packages/pluggableWidgets/switch-native/package.json
  packages/pluggableWidgets/web-view-native/package.json
Labels: Native

#1393 [NC-421] Add QR code e2e tests
  package-lock.json
  packages/pluggableWidgets/qr-code-native/CHANGELOG.md
  packages/pluggableWidgets/qr-code-native/detox.config.js
  packages/pluggableWidgets/qr-code-native/e2e/images/android/30/pixel/QR code renders correctly 1-snap.png
  packages/pluggableWidgets/qr-code-native/e2e/images/android/30/pixel/QR code renders correctly 2-snap.png
  packages/pluggableWidgets/qr-code-native/e2e/images/android/30/pixel/QR code renders correctly after change 1-snap.png
  packages/pluggableWidgets/qr-code-native/e2e/images/ios/15.4/iPhone 13/QR code renders correctly 1-snap.png
  packages/pluggableWidgets/qr-code-native/e2e/images/ios/15.4/iPhone 13/QR code renders correctly 2-snap.png
  packages/pluggableWidgets/qr-code-native/e2e/images/ios/15.4/iPhone 13/QR code renders correctly after change 1-snap.png
  packages/pluggableWidgets/qr-code-native/e2e/specs/QRCode.spec.ts
  packages/pluggableWidgets/qr-code-native/package.json
  packages/pluggableWidgets/qr-code-native/src/QRCode.tsx
  packages/pluggableWidgets/qr-code-native/src/__tests__/__snapshots__/QRCode.spec.tsx.snap
  packages/pluggableWidgets/qr-code-native/src/package.xml
  packages/pluggableWidgets/qr-code-native/tsconfig.json
Labels: Native

#1398 [WC-1048] extract assets from CSS into assets folder for carousel
  packages/pluggableWidgets/carousel-web/rollup.config.js
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: enhancement, Web, Cross-Platform

#1401 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/feedback-native/CHANGELOG.md
  packages/pluggableWidgets/qr-code-native/CHANGELOG.md
  packages/pluggableWidgets/video-player-native/CHANGELOG.md
Labels: Native

#1403 [WC-1084] Remount video player on url change to not break history
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
  packages/pluggableWidgets/video-player-web/package.json
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.tsx
  packages/pluggableWidgets/video-player-web/src/package.xml
Labels: Web

#1390 chore: Update content data file
  data/content.json
Labels: Cross-Platform

#1409 VideoPlayer: Updating changelogs
  packages/pluggableWidgets/video-player-web/CHANGELOG.md
Labels: Web

#1400 [NC-548] Add notch area background color to safe area view widget
  packages/pluggableWidgets/safe-area-view-native/CHANGELOG.md
  packages/pluggableWidgets/safe-area-view-native/package.json
  packages/pluggableWidgets/safe-area-view-native/src/SafeAreaView.tsx
  packages/pluggableWidgets/safe-area-view-native/src/__tests__/__snapshots__/SafeAreaView.spec.tsx.snap
  packages/pluggableWidgets/safe-area-view-native/src/package.xml
Labels: Native

#1408 [WC-1086] Add last visible column check to onClick handler in column selector
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: Web
