Repository mendix/widgets-resources, pull requests merged in 2022-07, with the labels that each got.

#1528 Pluggable Widgets Tools: Update changelogs
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
Labels: Cross-Platform

#1529 Fix dropdown sort e2e test failing
  packages/pluggableWidgets/dropdown-sort-web/cypress/integration/DropDownSort.spec.js
Labels: Web

#1481 chore: Update content data file
  data/content.json
Labels: Cross-Platform

#1533 fix(datagrid-web): fix filter widgets layout
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid.scss
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: Web

#1534 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: Web

#1535 Update Mendix versions to 9.15
  configs/e2e/mendix-versions.json
Labels: Web

#1516 [NC-725] Gradient Background: Allow for user styling via Atlas
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
  packages/pluggableWidgets/background-gradient-native/CHANGELOG.md
  packages/pluggableWidgets/background-gradient-native/README.md
  packages/pluggableWidgets/background-gradient-native/e2e/images/ios/15.5/iPhone 13/Background Gradient should render more than one color 1-snap.png
  packages/pluggableWidgets/background-gradient-native/e2e/images/ios/15.5/iPhone 13/Background Gradient should render one color 1-snap.png
  packages/pluggableWidgets/background-gradient-native/package.json
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.editorConfig.ts
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.tsx
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.xml
  packages/pluggableWidgets/background-gradient-native/src/__tests__/__snapshots__/backgroundGradient.spec.tsx.snap
  packages/pluggableWidgets/background-gradient-native/src/__tests__/backgroundGradient.spec.tsx
  packages/pluggableWidgets/background-gradient-native/src/package.xml
  packages/pluggableWidgets/background-gradient-native/src/ui/Styles.ts
  packages/pluggableWidgets/background-gradient-native/typings/BackgroundGradientProps.d.ts
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/backgroundgradient.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/backgroundgradient.ts
  packages/theming/atlas/src/themesource/atlas_core/native/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/native/types/custom-variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/widgets.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, Native, Cross-Platform

#1545 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1544 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/background-gradient-native/CHANGELOG.md
Labels: Native

#1536 [WC-1224] Add new screenshot testing for dg2 number filter
  packages/pluggableWidgets/datagrid-number-filter-web/cypress-visual-screenshots/baseline/DataGridNumberFilter.spec-dataGridNumberFilter-chrome.png
  packages/pluggableWidgets/datagrid-number-filter-web/cypress/integration/DataGridNumberFilter.spec.js
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  scripts/test/updateDataWidgets.js
Labels: Web, Cross-Platform

#1538 [WC-1156] fixed issue with slide over content configuration for sidebar
  packages/modules/atlas-core/CHANGELOG.md
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-responsive.scss
Labels: Atlas, Cross-Platform

#1540 [WC-1220] fix rotation issue on not animated items
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/accordion-web/src/package.xml
  packages/pluggableWidgets/accordion-web/src/ui/accordion-main.scss
Labels: Web

#1547 Accordion: Updating changelogs
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: Web

#1550 chore(atlas-core): update feedback widget
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
Labels: Atlas, Cross-Platform

#1539 [WC-1199] Add new actions to nanoflow commons
  package-lock.json
  packages/jsActions/nanoflow-actions-native/package.json
  packages/jsActions/nanoflow-actions-native/src/client/GetRemoteUrl.ts
  packages/jsActions/nanoflow-actions-native/src/client/IsConnected.ts
  packages/jsActions/nanoflow-actions-native/src/client/ReadCookie.ts
  packages/jsActions/nanoflow-actions-native/src/client/SetCookie.ts
  packages/jsActions/nanoflow-actions-native/src/client/SetFavicon.ts
  packages/jsActions/nanoflow-actions-native/src/datetime/AddMilliseconds.ts
  packages/jsActions/nanoflow-actions-native/src/datetime/AddTime.ts
  packages/jsActions/nanoflow-actions-native/src/datetime/TimeBetween.ts
  packages/jsActions/nanoflow-actions-native/src/geolocation/GetStraightLineDistance.ts
  packages/jsActions/nanoflow-actions-native/src/local-storage/ClearLocalStorage.ts
  packages/jsActions/nanoflow-actions-native/src/other/Base64Decode.ts
  packages/jsActions/nanoflow-actions-native/src/other/Base64DecodeToImage.ts
  packages/jsActions/nanoflow-actions-native/src/other/Base64Encode.ts
  packages/jsActions/nanoflow-actions-native/src/other/FindObjectWithGUID.ts
  packages/jsActions/nanoflow-actions-native/src/other/ScrollToClass.ts
  packages/tools/pluggable-widgets-tools/configs/common/glob.js
  packages/tools/pluggable-widgets-tools/configs/helpers/rollup-helper.js
  packages/tools/pluggable-widgets-tools/configs/rollup-plugin-collect-dependencies.js
Labels: Native, Cross-Platform

#1554 chore(nanoflow-actions-native): bump version
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1555 fix(nanoflow-actions-native): revert version bump
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1557 [WC-1233] Add visual testing to all dg2 filters
  packages/pluggableWidgets/datagrid-date-filter-web/cypress-visual-screenshots/baseline/DataGridDateFilter.spec-dataGridDateFilter-chrome.png
  packages/pluggableWidgets/datagrid-date-filter-web/cypress/integration/DataGridDateFilter.spec.js
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress-visual-screenshots/baseline/DataGridDropDownFilter.spec-dataGridDropDownFilter-chrome.png
  packages/pluggableWidgets/datagrid-dropdown-filter-web/cypress/integration/DataGridDropDownFilter.spec.js
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/cypress-visual-screenshots/baseline/DataGridTextFilter.spec-dataGridTextFilter-chrome.png
  packages/pluggableWidgets/datagrid-text-filter-web/cypress/integration/DataGridTextFilter.spec.js
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGrid.spec-datagrid-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/package.json
Labels: Web

#1552 [WC-1227] Barcode Scanner performance issue
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/src/components/BarcodeScanner.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/components/__tests__/BarcodeScanner.spec.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/components/__tests__/__snapshots__/BarcodeScanner.spec.tsx.snap
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useCodeScanner.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useCustomErrorMessage.ts
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useMediaStream.tsx
  packages/pluggableWidgets/barcode-scanner-web/src/hooks/useReader.ts
  packages/pluggableWidgets/barcode-scanner-web/src/package.xml
  packages/tools/piw-utils-internal/src/hooks/useEventCallback.ts
  packages/tools/piw-utils-internal/src/index.ts
Labels: Web, PWA

#1559 BarcodeScanner: Updating changelogs
  packages/pluggableWidgets/barcode-scanner-web/CHANGELOG.md
Labels: Web, PWA
