Repository mendix/widgets-resources, pull requests merged in 2022-10, with the labels that each got.

#1658 Update Mendix version to 9.18
  configs/e2e/mendix-versions.json
Labels: Web

#1632 [WC-1180] Introduce HTML Node widget 🎉
  packages/pluggableWidgets/html-node-web/CHANGELOG.md
  packages/pluggableWidgets/html-node-web/README.md
  packages/pluggableWidgets/html-node-web/package.json
  packages/pluggableWidgets/html-node-web/src/HTMLNode.editorConfig.ts
  packages/pluggableWidgets/html-node-web/src/HTMLNode.editorPreview.tsx
  packages/pluggableWidgets/html-node-web/src/HTMLNode.tsx
  packages/pluggableWidgets/html-node-web/src/HTMLNode.xml
  packages/pluggableWidgets/html-node-web/src/components/HTMLTag.tsx
  packages/pluggableWidgets/html-node-web/src/components/__tests__/HTMLTag.spec.tsx
  packages/pluggableWidgets/html-node-web/src/components/__tests__/__snapshots__/HTMLTag.spec.tsx.snap
  packages/pluggableWidgets/html-node-web/src/package.xml
  packages/pluggableWidgets/html-node-web/src/utils/__tests__/props-utils.spec.ts
  packages/pluggableWidgets/html-node-web/src/utils/__tests__/style-utils.spec.ts
  packages/pluggableWidgets/html-node-web/src/utils/props-utils.ts
  packages/pluggableWidgets/html-node-web/src/utils/style-utils.ts
  packages/pluggableWidgets/html-node-web/tsconfig.json
  packages/pluggableWidgets/html-node-web/typings/HTMLNodeProps.d.ts
Labels: Web

#1656 [WC-1316] Add language selector e2e test
  package-lock.json
  packages/pluggableWidgets/language-selector-web/cypress/cypress-visual-screenshots/baseline/LanguageSelector.spec-languageSelector-chrome.png
  packages/pluggableWidgets/language-selector-web/cypress/cypress-visual-screenshots/baseline/LanguageSelector.spec-languageSelectorArabic-chrome.png
  packages/pluggableWidgets/language-selector-web/cypress/cypress-visual-screenshots/baseline/LanguageSelector.spec-languageSelectorChinese-chrome.png
  packages/pluggableWidgets/language-selector-web/cypress/integration/LanguageSelector.spec.js
  packages/pluggableWidgets/language-selector-web/cypress/support/e2e.js
  packages/pluggableWidgets/language-selector-web/package.json
  packages/tools/pluggable-widgets-tools/package.json
Labels: Web, Cross-Platform

#1659 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/feedback-native/CHANGELOG.md
Labels: Native

#1660 [NC-773]: fix snapping issue in carousel native widget
  package-lock.json
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
  packages/pluggableWidgets/carousel-native/package.json
  packages/pluggableWidgets/carousel-native/src/Carousel.tsx
  packages/pluggableWidgets/carousel-native/src/package.xml
Labels: Native

#1661 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
Labels: Native

#1665 Update atlas core changelog
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
Labels: Atlas, Cross-Platform

#1667 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1666 [WC-1374]: use local Open Sans font instead of Google Fonts
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
  packages/theming/atlas/src/theme/web/custom-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/LICENSE.txt
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/OpenSans-Bold.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/OpenSans-BoldItalic.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/OpenSans-Italic.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/OpenSans-Light.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/OpenSans-LightItalic.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/OpenSans-Regular.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/OpenSans-SemiBold.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/OpenSans-SemiBoldItalic.woff
  packages/theming/atlas/src/themesource/atlas_core/public/resources/fonts/open-sans/open-sans.css
  packages/theming/atlas/src/themesource/atlas_core/web/_variables.scss
Labels: Atlas, Cross-Platform

#1668 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform
