Repository mendix/widgets-resources, pull requests merged in 2022-01, with the labels that each got.

#1195 fix: creating of PR and automerge for widgets data overview
  .github/workflows/UpdateWidgetsOverview.yml
Labels: bug, Cross-Platform

#1196 [WC-887][WC-383][WC-778] Update Widget Generator templates
  package-lock.json
  package.json
  packages/customWidgets/calendar-web/src/components/Calendar.ts
  packages/customWidgets/color-picker-web/src/components/ColorPickerContainer.ts
  packages/jsActions/nanoflow-actions-hybrid/package.json
  packages/modules/atlas-core/package.json
  packages/pluggableWidgets/accordion-web/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-web/src/Accordion.editorPreview.tsx
  packages/pluggableWidgets/bar-chart-native/src/utils/StyleUtils.ts
  packages/pluggableWidgets/feedback-native/src/ui/styles.ts
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/image-native/src/components/fonts/font.tsx
  packages/pluggableWidgets/line-chart-native/src/utils/StyleUtils.ts
  packages/pluggableWidgets/range-slider-native/src/RangeSlider.tsx
  packages/pluggableWidgets/rating-native/src/utils/fonts/font.ts
  packages/pluggableWidgets/slider-native/src/Slider.tsx
  packages/pluggableWidgets/slider-web/src/utils/useOnChangeDebounced.ts
  packages/pluggableWidgets/tree-node-web/src/components/TreeNode.tsx
  packages/pluggableWidgets/tree-node-web/src/components/hooks/useKeyboardHandler.tsx
  packages/shared/charts/package.json
  packages/shared/charts/src/components/ChartWidget.tsx
  packages/theming/atlas/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  packages/tools/generator-widget/CHANGELOG.md
  packages/tools/generator-widget/generators/app/index.js
  packages/tools/generator-widget/generators/app/lib/prompttexts.js
  packages/tools/generator-widget/generators/app/lib/text.js
  packages/tools/generator-widget/generators/app/templates/commons/.gitattributes
  packages/tools/generator-widget/generators/app/templates/commons/_gitignore
  packages/tools/generator-widget/generators/app/templates/commons/tsconfig.json
  packages/tools/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/tools/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/native/emptyTemplateJs/src/WidgetName.editorConfig.js.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/native/emptyTemplateTs/src/WidgetName.editorConfig.ts.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/native/fullTemplateJs/src/WidgetName.editorConfig.js.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/native/fullTemplateTs/src/WidgetName.editorConfig.ts.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/emptyTemplateJs/src/WidgetName.editorConfig.js.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/emptyTemplateJs/src/WidgetName.jsx.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/emptyTemplateTs/src/WidgetName.editorConfig.ts.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/emptyTemplateTs/src/WidgetName.tsx.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/emptyTemplateTs/tests/e2e/tsconfig.json
  packages/tools/generator-widget/generators/app/templates/pluggable/web/fullTemplateJs/src/WidgetName.editorConfig.js.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/fullTemplateJs/src/WidgetName.jsx.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/fullTemplateTs/src/WidgetName.editorConfig.ts.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/fullTemplateTs/src/WidgetName.tsx.ejs
  packages/tools/generator-widget/generators/app/templates/pluggable/web/fullTemplateTs/tests/e2e/tsconfig.json
  packages/tools/generator-widget/package.json
  packages/tools/piw-native-utils-internal/package.json
  packages/tools/piw-utils-internal/package.json
  packages/tools/piw-utils-internal/src/builders/ValuesUtils.ts
  packages/tools/piw-utils-internal/src/components/web/utils/FilterProvider.ts
  packages/tools/piw-utils-internal/src/components/web/utils/SortProvider.ts
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/prettier.base.json
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/tests/commands.js
Labels: enhancement, Cross-Platform

#1204 fix: gh action for widgets overview
  .github/workflows/UpdateWidgetsOverview.yml
Labels: bug, Cross-Platform

#1200 [WC-937][WC-938] Fix data widgets styles
  packages/modules/data-widgets/CHANGELOG.md
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid.scss
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
Labels: bug, Web

#1202 [WC-924][WC-936] DataGrid - Remove font-awesome
  package-lock.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid.scss
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/components/Header.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/ColumnSelector.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Header.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
  packages/pluggableWidgets/datagrid-web/src/components/icons/FaArrowsAltV.tsx
  packages/pluggableWidgets/datagrid-web/src/components/icons/FaEye.tsx
  packages/pluggableWidgets/datagrid-web/src/components/icons/FaLongArrowAltDown.tsx
  packages/pluggableWidgets/datagrid-web/src/components/icons/FaLongArrowAltUp.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: enhancement, Web

#1197 feat: update copyrights
  package.json
  packages/customWidgets/calendar-web/package.json
  packages/customWidgets/carousel-web/package.json
  packages/customWidgets/color-picker-web/package.json
  packages/customWidgets/rich-text-web/package.json
  packages/customWidgets/signature-web/package.json
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/nanoflow-actions-native/package.json
  packages/modules/atlas-content-native/package.json
  packages/modules/atlas-core/package.json
  packages/modules/atlas-web-content/package.json
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/accessibility-helper-web/package.json
  packages/pluggableWidgets/accordion-web/package.json
  packages/pluggableWidgets/animation-native/package.json
  packages/pluggableWidgets/badge-button-web/package.json
  packages/pluggableWidgets/badge-web/package.json
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/barcode-scanner-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/dropdown-sort-web/package.json
  packages/pluggableWidgets/fieldset-web/package.json
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/image-native/package.json
  packages/pluggableWidgets/image-web/package.json
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-native/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/progress-bar-web/package.json
  packages/pluggableWidgets/progress-circle-web/package.json
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/rating-web/package.json
  packages/pluggableWidgets/scroll-container-web/package.json
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/switch-web/package.json
  packages/pluggableWidgets/timeline-web/package.json
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tree-node-web/package.json
  packages/pluggableWidgets/video-player-web/package.json
  packages/tools/generator-widget/package.json
  packages/tools/pluggable-widgets-tools/package.json
Labels: documentation, Cross-Platform

#1208 [BBP-487][WC-954] Fix security issue in GH actions
  .github/workflows/AtlasReleaseThemeFiles.yml
  .github/workflows/Build.yml
  .github/workflows/DataWidgetsSlackNotify.yml
  .github/workflows/MarketplaceRelease.yml
  .github/workflows/PublishNpm.yml
  .github/workflows/Release.yml
  .github/workflows/ScriptTests.yml
  .github/workflows/UnitTests.yml
  .github/workflows/UpdateWidgetsOverview.yml
  .github/workflows/WebAutomatedTests.yml
  package-lock.json
Labels: security-fix, Cross-Platform

#1209 feat: update gh action shas and add action to check sha versions
  .github/workflows/AtlasBuildTest.yml
  .github/workflows/AtlasReleaseThemeFiles.yml
  .github/workflows/Build.yml
  .github/workflows/CreateWebRelease.yml
  .github/workflows/DataWidgetsSlackNotify.yml
  .github/workflows/MarketplaceRelease.yml
  .github/workflows/PublishDockerImage.yml
  .github/workflows/PublishNpm.yml
  .github/workflows/Release.yml
  .github/workflows/ScriptTests.yml
  .github/workflows/ShaCheck.yml
  .github/workflows/UnitTests.yml
  .github/workflows/UpdateWidgetsOverview.yml
  .github/workflows/WebAutomatedTests.yml
Labels: enhancement, Cross-Platform

#1210 chore: Update widgets data file
  data/widgets.json
Labels: documentation, Cross-Platform

#1212 [WC-956] fix(pluggable-widgets-tools): fix colors version
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#1213 [WC-956] Fix hacked colors library in PIW-tools 9.6
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#1214 [WC-956] Fix hacked colors library in PIW-tools 8.18
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#1198 chore: add more widget properties to overview
  scripts/data/updateWidgetsOverview.ts
Labels: enhancement, Cross-Platform

#1155 [NC-19]feat: adding radio buttons native widget
  package-lock.json
  packages/pluggableWidgets/radio-buttons-native/README.md
  packages/pluggableWidgets/radio-buttons-native/detox.config.js
  packages/pluggableWidgets/radio-buttons-native/image-snapshots/android/Radio Buttons call on change when selected option changed 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/image-snapshots/android/Radio Buttons call on change when selected option changed 2-snap.png
  packages/pluggableWidgets/radio-buttons-native/image-snapshots/android/Radio Buttons renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/package.json
  packages/pluggableWidgets/radio-buttons-native/src/RadioButtons.editorConfig.ts
  packages/pluggableWidgets/radio-buttons-native/src/RadioButtons.icon.dark.png
  packages/pluggableWidgets/radio-buttons-native/src/RadioButtons.icon.png
  packages/pluggableWidgets/radio-buttons-native/src/RadioButtons.tile.dark.png
  packages/pluggableWidgets/radio-buttons-native/src/RadioButtons.tile.png
  packages/pluggableWidgets/radio-buttons-native/src/RadioButtons.tsx
  packages/pluggableWidgets/radio-buttons-native/src/RadioButtons.xml
  packages/pluggableWidgets/radio-buttons-native/src/__tests__/RadioButtons.spec.tsx
  packages/pluggableWidgets/radio-buttons-native/src/__tests__/__snapshots__/RadioButtons.spec.tsx.snap
  packages/pluggableWidgets/radio-buttons-native/src/assets/radioButton_dark.svg
  packages/pluggableWidgets/radio-buttons-native/src/assets/radioButton_light.svg
  packages/pluggableWidgets/radio-buttons-native/src/assets/radioButton_unselected_dark.svg
  packages/pluggableWidgets/radio-buttons-native/src/assets/radioButton_unselected_light.svg
  packages/pluggableWidgets/radio-buttons-native/src/components/RadioButton.tsx
  packages/pluggableWidgets/radio-buttons-native/src/package.xml
  packages/pluggableWidgets/radio-buttons-native/src/ui/Styles.ts
  packages/pluggableWidgets/radio-buttons-native/tests/e2e/RadioButtons.spec.ts
  packages/pluggableWidgets/radio-buttons-native/tsconfig.json
  packages/pluggableWidgets/radio-buttons-native/typings/RadioButtonsProps.d.ts
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/theme/native/exclusion-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/radiobuttons.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/radiobuttons.ts
  packages/theming/atlas/src/themesource/atlas_core/native/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/native/main.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/widgets.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Native

#1218 fix(pluggable-widgets-tools): moving away from colors
  package-lock.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/configs/rollup.config.native.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#1219 chore: Update widgets data file
  data/widgets.json
Labels: documentation, Cross-Platform

#1223 [NC-613] fix(radio-buttons-native): fix e2e
  packages/pluggableWidgets/radio-buttons-native/e2e/images/android/31/pixel/Radio Buttons renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/android/31/pixel/Radio Buttons renders correctly when option changed 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/ios/15.2/iPhone 13/Radio Buttons renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/ios/15.2/iPhone 13/Radio Buttons renders correctly when option changed 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/specs/RadioButtons.spec.ts
  packages/pluggableWidgets/radio-buttons-native/image-snapshots/android/Radio Buttons call on change when selected option changed 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/image-snapshots/android/Radio Buttons call on change when selected option changed 2-snap.png
  packages/pluggableWidgets/radio-buttons-native/image-snapshots/android/Radio Buttons renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/package.json
  packages/pluggableWidgets/radio-buttons-native/tests/e2e/RadioButtons.spec.ts
Labels: bug, Native

#1230 [WC-969] fix(datagrid-dropdown-filter-web): fixing filtering using multiple attributes
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
Labels: bug, Web

#1233 [NC-605] add missing native widgets dark icons and tiles
  packages/pluggableWidgets/activity-indicator-native/CHANGELOG.md
  packages/pluggableWidgets/activity-indicator-native/src/ActivityIndicator.icon.dark.png
  packages/pluggableWidgets/activity-indicator-native/src/ActivityIndicator.tile.dark.png
  packages/pluggableWidgets/app-events-native/CHANGELOG.md
  packages/pluggableWidgets/app-events-native/src/AppEvents.icon.dark.png
  packages/pluggableWidgets/app-events-native/src/AppEvents.tile.dark.png
  packages/pluggableWidgets/bottom-sheet-native/CHANGELOG.md
  packages/pluggableWidgets/bottom-sheet-native/src/BottomSheet.icon.dark.png
  packages/pluggableWidgets/bottom-sheet-native/src/BottomSheet.tile.dark.png
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
  packages/pluggableWidgets/carousel-native/src/Carousel.icon.dark.png
  packages/pluggableWidgets/carousel-native/src/Carousel.icon.png
  packages/pluggableWidgets/carousel-native/src/Carousel.tile.dark.png
  packages/pluggableWidgets/carousel-native/src/Carousel.tile.png
  packages/pluggableWidgets/color-picker-native/CHANGELOG.md
  packages/pluggableWidgets/color-picker-native/src/ColorPicker.icon.dark.png
  packages/pluggableWidgets/color-picker-native/src/ColorPicker.tile.dark.png
  packages/pluggableWidgets/feedback-native/CHANGELOG.md
  packages/pluggableWidgets/feedback-native/src/Feedback.icon.dark.png
  packages/pluggableWidgets/feedback-native/src/Feedback.tile.dark.png
  packages/pluggableWidgets/notifications-native/CHANGELOG.md
  packages/pluggableWidgets/notifications-native/src/Notifications.icon.dark.png
  packages/pluggableWidgets/notifications-native/src/Notifications.tile.dark.png
  packages/pluggableWidgets/safe-area-view-native/CHANGELOG.md
  packages/pluggableWidgets/safe-area-view-native/src/SafeAreaView.icon.dark.png
  packages/pluggableWidgets/safe-area-view-native/src/SafeAreaView.tile.dark.png
  packages/pluggableWidgets/signature-native/CHANGELOG.md
  packages/pluggableWidgets/signature-native/src/Signature.icon.dark.png
  packages/pluggableWidgets/signature-native/src/Signature.icon.png
  packages/pluggableWidgets/signature-native/src/Signature.tile.dark.png
  packages/pluggableWidgets/signature-native/src/Signature.tile.png
  packages/pluggableWidgets/toggle-buttons-native/CHANGELOG.md
  packages/pluggableWidgets/toggle-buttons-native/src/ToggleButtons.icon.dark.png
  packages/pluggableWidgets/toggle-buttons-native/src/ToggleButtons.icon.png
  packages/pluggableWidgets/toggle-buttons-native/src/ToggleButtons.tile.dark.png
  packages/pluggableWidgets/web-view-native/CHANGELOG.md
  packages/pluggableWidgets/web-view-native/src/WebView.icon.dark.png
  packages/pluggableWidgets/web-view-native/src/WebView.tile.dark.png
Labels: enhancement, Mx9, Native

#1228 [WC-960] fix(datagrid-web): column selector checkbox in windows machines
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/components/ColumnSelector.tsx
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: bug, Web

#1229 [WC-959] fix(popup-menu-web): fixing correctPosition function
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/components/PopupMenu.tsx
  packages/pluggableWidgets/popup-menu-web/src/package.xml
Labels: bug, Web

#1180 [WC-914] Bubble chart to pluggable
  packages/pluggableWidgets/bubble-chart-web/CHANGELOG.md
  packages/pluggableWidgets/bubble-chart-web/README.md
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/rollup.config.js
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.editorConfig.ts
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.editorPreview.tsx
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.icon.dark.png
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.icon.png
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.tile.dark.png
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.tile.png
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.tsx
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.xml
  packages/pluggableWidgets/bubble-chart-web/src/__tests__/BubbleChart.spec.tsx
  packages/pluggableWidgets/bubble-chart-web/src/package.xml
  packages/pluggableWidgets/bubble-chart-web/src/utils/index.ts
  packages/pluggableWidgets/bubble-chart-web/tsconfig.json
  packages/pluggableWidgets/bubble-chart-web/typings/BubbleChartProps.d.ts
Labels: enhancement, Web

#1242 [NC] Fix release automation bug
  scripts/release/createNativeModules.js
Labels: Native

#1244 [NC] Correct mendix version for nmr
  packages/jsActions/mobile-resources-native/package.json
Labels: Native

#1251 [NC] Revert automation mode change
  scripts/release/module-automation/commons.js
Labels: Native

#1253 Update atlas screenshot baseline
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/datagrid-2--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/gallery--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/range-sliders--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/sliders--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/tooltips--firefox.png
  packages/theming/atlas/tests/e2e/screenshot-baseline/p/treenodes--firefox.png
Labels: test, Web

#1250 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/accordion-native/CHANGELOG.md
  packages/pluggableWidgets/activity-indicator-native/CHANGELOG.md
  packages/pluggableWidgets/animation-native/CHANGELOG.md
  packages/pluggableWidgets/app-events-native/CHANGELOG.md
  packages/pluggableWidgets/background-image-native/CHANGELOG.md
  packages/pluggableWidgets/badge-native/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-native/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-native/CHANGELOG.md
  packages/pluggableWidgets/bottom-sheet-native/CHANGELOG.md
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
  packages/pluggableWidgets/color-picker-native/CHANGELOG.md
  packages/pluggableWidgets/feedback-native/CHANGELOG.md
  packages/pluggableWidgets/floating-action-button-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/package.json
  packages/pluggableWidgets/image-native/src/package.xml
  packages/pluggableWidgets/intro-screen-native/CHANGELOG.md
  packages/pluggableWidgets/line-chart-native/CHANGELOG.md
  packages/pluggableWidgets/listview-swipe-native/CHANGELOG.md
  packages/pluggableWidgets/maps-native/CHANGELOG.md
  packages/pluggableWidgets/notifications-native/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-native/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-native/CHANGELOG.md
  packages/pluggableWidgets/progress-bar-native/CHANGELOG.md
  packages/pluggableWidgets/progress-circle-native/CHANGELOG.md
  packages/pluggableWidgets/qr-code-native/CHANGELOG.md
  packages/pluggableWidgets/range-slider-native/CHANGELOG.md
  packages/pluggableWidgets/rating-native/CHANGELOG.md
  packages/pluggableWidgets/repeater-native/CHANGELOG.md
  packages/pluggableWidgets/safe-area-view-native/CHANGELOG.md
  packages/pluggableWidgets/signature-native/CHANGELOG.md
  packages/pluggableWidgets/slider-native/CHANGELOG.md
  packages/pluggableWidgets/switch-native/CHANGELOG.md
  packages/pluggableWidgets/switch-native/package.json
  packages/pluggableWidgets/switch-native/src/package.xml
  packages/pluggableWidgets/toggle-buttons-native/CHANGELOG.md
  packages/pluggableWidgets/video-player-native/CHANGELOG.md
  packages/pluggableWidgets/web-view-native/CHANGELOG.md
Labels: documentation, Native

#1256 chore: format fix for long lines in xml
  prettier.config.js
Labels: enhancement, Cross-Platform

#1227 Refactor, export more widget data, and export js action data
  .github/workflows/UpdateContentOverview.yml
  data/content.json
  data/widgets.json
  package.json
  scripts/data/errors.ts
  scripts/data/lib/analyzer.ts
  scripts/data/lib/jsAction.ts
  scripts/data/lib/jsActionPackage.ts
  scripts/data/lib/parsers/Extractor.ts
  scripts/data/lib/parsers/JsonExtractor.ts
  scripts/data/lib/parsers/XmlExtractor.ts
  scripts/data/lib/util.ts
  scripts/data/lib/widget.ts
  scripts/data/lib/widgetPackage.ts
  scripts/data/package-lock.json
  scripts/data/package.json
  scripts/data/updateContentOverview.ts
  scripts/data/updateWidgetsOverview.ts
Labels: enhancement, Cross-Platform

#1252 RadioButtons: Adding changelog
  packages/pluggableWidgets/radio-buttons-native/CHANGELOG.md
Labels: documentation, Native

#1260 [WC-939] Date Filter: fix wrong pattern cleaning while typing dates
  package-lock.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-date-filter-web/typings/StringPrototypeReplaceAll.d.ts
Labels: bug, Web

#1264 [WC-990] Maps: fix issue with styling for leaflet maps
  packages/pluggableWidgets/maps-web/CHANGELOG.md
  packages/pluggableWidgets/maps-web/package.json
  packages/pluggableWidgets/maps-web/src/Maps.editorPreview.tsx
  packages/pluggableWidgets/maps-web/src/Maps.tsx
  packages/pluggableWidgets/maps-web/src/components/GoogleMap.tsx
  packages/pluggableWidgets/maps-web/src/package.xml
  packages/pluggableWidgets/maps-web/src/ui/GoogleMapsPreview.css
  packages/pluggableWidgets/maps-web/src/ui/Maps.scss
  packages/pluggableWidgets/maps-web/src/ui/MapsPreview.scss
  packages/pluggableWidgets/maps-web/tests/e2e/screenshot-baseline/googleMaps--firefox.png
  packages/pluggableWidgets/maps-web/tests/e2e/screenshot-baseline/hereMaps--firefox.png
  packages/pluggableWidgets/maps-web/tests/e2e/screenshot-baseline/mapboxMaps--firefox.png
  packages/pluggableWidgets/maps-web/tests/e2e/screenshot-baseline/osmMaps--firefox.png
  packages/pluggableWidgets/maps-web/tests/e2e/specs/google.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/here.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/mapbox.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/openstreet.spec.ts
Labels: bug, Web
