Repository mendix/widgets-resources, pull requests merged in 2022-04, with the labels that each got.

#1412 chore: Update content data file
  data/content.json
Labels: Cross-Platform

#1410 fix: properly detect e2e tests (detox & cypress)
  data/content.json
  scripts/data/generator/model/widget.ts
Labels: Cross-Platform

#1415 Accordion: Updating changelogs
  packages/pluggableWidgets/accordion-web/CHANGELOG.md
Labels: Web

#1419 Atlas Web Content: Updating changelogs
  packages/modules/atlas-web-content/CHANGELOG.md
Labels: Atlas, Web

#1416 StarRating: Updating changelogs
  packages/pluggableWidgets/rating-web/CHANGELOG.md
Labels: Web

#1418 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1406 [NC-426] Add signature e2e test
  detox/src/helpers.ts
  packages/pluggableWidgets/signature-native/CHANGELOG.md
  packages/pluggableWidgets/signature-native/detox.config.js
  packages/pluggableWidgets/signature-native/e2e/images/android/30/pixel/Signature widget should be able to clear a signature 1-snap.png
  packages/pluggableWidgets/signature-native/e2e/images/android/30/pixel/Signature widget should be able to clear a signature 2-snap.png
  packages/pluggableWidgets/signature-native/e2e/images/android/30/pixel/Signature widget should be able to save a complex signature 1-snap.png
  packages/pluggableWidgets/signature-native/e2e/images/ios/15.4/iPhone 13/Signature widget should be able to clear a signature 1-snap.png
  packages/pluggableWidgets/signature-native/e2e/images/ios/15.4/iPhone 13/Signature widget should be able to clear a signature 2-snap.png
  packages/pluggableWidgets/signature-native/e2e/images/ios/15.4/iPhone 13/Signature widget should be able to save a complex signature 1-snap.png
  packages/pluggableWidgets/signature-native/e2e/specs/Signature.spec.ts
  packages/pluggableWidgets/signature-native/package.json
  packages/pluggableWidgets/signature-native/src/Signature.tsx
  packages/pluggableWidgets/signature-native/src/__tests__/__snapshots__/Signature.android.spec.tsx.snap
  packages/pluggableWidgets/signature-native/src/__tests__/__snapshots__/Signature.ios.spec.tsx.snap
  packages/pluggableWidgets/signature-native/src/package.xml
  packages/pluggableWidgets/signature-native/tsconfig.json
Labels: Native

#1386 chore: update marketplace release script, small fixes
  scripts/release/marketplaceRelease.js
Labels: Cross-Platform

#1433 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/accordion-native/CHANGELOG.md
  packages/pluggableWidgets/activity-indicator-native/CHANGELOG.md
  packages/pluggableWidgets/app-events-native/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-native/CHANGELOG.md
  packages/pluggableWidgets/bottom-sheet-native/CHANGELOG.md
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
  packages/pluggableWidgets/intro-screen-native/CHANGELOG.md
  packages/pluggableWidgets/line-chart-native/CHANGELOG.md
  packages/pluggableWidgets/maps-native/CHANGELOG.md
  packages/pluggableWidgets/notifications-native/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-native/CHANGELOG.md
  packages/pluggableWidgets/range-slider-native/CHANGELOG.md
  packages/pluggableWidgets/repeater-native/CHANGELOG.md
  packages/pluggableWidgets/safe-area-view-native/CHANGELOG.md
  packages/pluggableWidgets/toggle-buttons-native/CHANGELOG.md
  packages/pluggableWidgets/web-view-native/CHANGELOG.md
Labels: Native

#1430 fix(): issue with Notification widget - Request Permission for Androi…
  packages/pluggableWidgets/notifications-native/CHANGELOG.md
  packages/pluggableWidgets/notifications-native/package.json
  packages/pluggableWidgets/notifications-native/src/Notifications.tsx
  packages/pluggableWidgets/notifications-native/src/package.xml
Labels: Native

#1436 chore : native radio buttons readme fix
  packages/pluggableWidgets/radio-buttons-native/README.md
Labels: Native

#1414 [WC-1093] Replace regex with function
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatePicker.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-date-filter-web/src/utils/utils.ts
Labels: Web

#1402 [WC-1083] Fix glyphicon issue on dg2
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid-filters.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid.scss
Labels: Web

#1391 [WC-1078] Convert e2e test of missing charts
  packages/pluggableWidgets/column-chart-web/cypress-visual-screenshots/baseline/ColumnChart.spec-columnChartCustomColor-chrome.png
  packages/pluggableWidgets/column-chart-web/cypress-visual-screenshots/baseline/ColumnChart.spec-columnChartDefaultColor-chrome.png
  packages/pluggableWidgets/column-chart-web/cypress-visual-screenshots/baseline/ColumnChart.spec-columnChartGrouped-chrome.png
  packages/pluggableWidgets/column-chart-web/cypress-visual-screenshots/baseline/ColumnChart.spec-columnChartStacked-chrome.png
  packages/pluggableWidgets/column-chart-web/cypress/integration/ColumnChart.spec.js
  packages/pluggableWidgets/column-chart-web/cypress/plugins/index.js
  packages/pluggableWidgets/column-chart-web/cypress/support/index.js
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/cypress-visual-screenshots/baseline/HeatMapChart.spec-heatmapChartAscending-chrome.png
  packages/pluggableWidgets/heatmap-chart-web/cypress-visual-screenshots/baseline/HeatMapChart.spec-heatmapChartCustomColor-chrome.png
  packages/pluggableWidgets/heatmap-chart-web/cypress-visual-screenshots/baseline/HeatMapChart.spec-heatmapChartDescending-chrome.png
  packages/pluggableWidgets/heatmap-chart-web/cypress/integration/HeatMapChart.spec.js
  packages/pluggableWidgets/heatmap-chart-web/cypress/plugins/index.js
  packages/pluggableWidgets/heatmap-chart-web/cypress/support/index.js
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/cypress-visual-screenshots/baseline/PieChart.spec-pieChartDefaultColor-chrome.png
  packages/pluggableWidgets/pie-doughnut-chart-web/cypress-visual-screenshots/baseline/PieChart.spec-pieChartDoughnutFormat-chrome.png
  packages/pluggableWidgets/pie-doughnut-chart-web/cypress-visual-screenshots/baseline/PieChart.spec-pieChartPieFormat-chrome.png
  packages/pluggableWidgets/pie-doughnut-chart-web/cypress/integration/PieChart.spec.js
  packages/pluggableWidgets/pie-doughnut-chart-web/cypress/plugins/index.js
  packages/pluggableWidgets/pie-doughnut-chart-web/cypress/support/index.js
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/cypress-visual-screenshots/baseline/TimeSeriesChart.spec-timeSeriesChartCustomFillAreaColor-chrome.png
  packages/pluggableWidgets/time-series-chart-web/cypress-visual-screenshots/baseline/TimeSeriesChart.spec-timeSeriesChartMultipleSeries-chrome.png
  packages/pluggableWidgets/time-series-chart-web/cypress-visual-screenshots/baseline/TimeSeriesChart.spec-timeSeriesChartWithoutFillArea-chrome.png
  packages/pluggableWidgets/time-series-chart-web/cypress-visual-screenshots/baseline/TimeSeriesChart.spec-timeSeriesChartWithoutRangeSlider-chrome.png
  packages/pluggableWidgets/time-series-chart-web/cypress-visual-screenshots/baseline/TimeSeriesChart.spec-timeSeriesChartYRangeAuto-chrome.png
  packages/pluggableWidgets/time-series-chart-web/cypress-visual-screenshots/baseline/TimeSeriesChart.spec-timeSeriesChartYRangeNonNegative-chrome.png
  packages/pluggableWidgets/time-series-chart-web/cypress/integration/TimeSeriesChart.spec.js
  packages/pluggableWidgets/time-series-chart-web/cypress/plugins/index.js
  packages/pluggableWidgets/time-series-chart-web/cypress/support/index.js
  packages/pluggableWidgets/time-series-chart-web/package.json
Labels: Web

#1431 [WC-920] Add e2e test for datagrid date filter
  packages/pluggableWidgets/datagrid-date-filter-web/cypress-visual-screenshots/baseline/DataGridDateFilter.spec-dataGridDateFilterDatePicker-chrome.png
  packages/pluggableWidgets/datagrid-date-filter-web/cypress/integration/DataGridDateFilter.spec.js
  packages/pluggableWidgets/datagrid-date-filter-web/cypress/plugins/index.js
  packages/pluggableWidgets/datagrid-date-filter-web/cypress/support/index.js
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
Labels: Web

#1423 Crafting: Add cypress terminal report plugin
  .github/workflows/WebAutomatedTests.yml
  configs/e2e/cypress/plugins/index.js
  configs/e2e/cypress/support/command.js
  package-lock.json
  packages/pluggableWidgets/accordion-web/cypress/integration/Accordion.spec.js
  packages/pluggableWidgets/video-player-web/cypress/integration/VideoPlayer.spec.js
  packages/tools/pluggable-widgets-tools/package.json
Labels: Web, Cross-Platform

#1437 Update MX version to 9.12.1
  configs/e2e/mendix-versions.json
Labels: Web

#1438 [NC-428]: Toggle buttons e2e tests
  packages/pluggableWidgets/color-picker-native/package.json
  packages/pluggableWidgets/toggle-buttons-native/detox.config.js
  packages/pluggableWidgets/toggle-buttons-native/e2e/images/android/30/pixel/Toggle Buttons renders custom style 1-snap.png
  packages/pluggableWidgets/toggle-buttons-native/e2e/images/android/30/pixel/Toggle Buttons renders default state correctly 1-snap.png
  packages/pluggableWidgets/toggle-buttons-native/e2e/images/android/30/pixel/Toggle Buttons renders default state correctly 2-snap.png
  packages/pluggableWidgets/toggle-buttons-native/e2e/images/android/30/pixel/Toggle Buttons renders disabled state correctly 1-snap.png
  packages/pluggableWidgets/toggle-buttons-native/e2e/images/ios/15.4/iPhone 13/Toggle Buttons renders custom style 1-snap.png
  packages/pluggableWidgets/toggle-buttons-native/e2e/images/ios/15.4/iPhone 13/Toggle Buttons renders default state correctly 1-snap.png
  packages/pluggableWidgets/toggle-buttons-native/e2e/images/ios/15.4/iPhone 13/Toggle Buttons renders default state correctly 2-snap.png
  packages/pluggableWidgets/toggle-buttons-native/e2e/images/ios/15.4/iPhone 13/Toggle Buttons renders disabled state correctly 1-snap.png
  packages/pluggableWidgets/toggle-buttons-native/e2e/specs/ToggleButtons.spec.ts
  packages/pluggableWidgets/toggle-buttons-native/package.json
  packages/pluggableWidgets/toggle-buttons-native/tsconfig.json
Labels: Native

#1382 [WC-593] Structure preview for chart widgets
  packages/pluggableWidgets/area-chart-web/src/AreaChart.editorConfig.ts
  packages/pluggableWidgets/area-chart-web/src/assets/AreaChart-legend.dark.svg
  packages/pluggableWidgets/area-chart-web/src/assets/AreaChart-legend.light.svg
  packages/pluggableWidgets/area-chart-web/src/assets/AreaChart.dark.svg
  packages/pluggableWidgets/area-chart-web/src/assets/AreaChart.light.svg
  packages/pluggableWidgets/bar-chart-web/src/BarChart.editorConfig.ts
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-grouped.dark.svg
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-grouped.light.svg
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-legend.dark.svg
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-legend.light.svg
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-stacked.dark.svg
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-stacked.light.svg
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.editorConfig.ts
  packages/pluggableWidgets/bubble-chart-web/src/assets/BubbleChart-legend.dark.svg
  packages/pluggableWidgets/bubble-chart-web/src/assets/BubbleChart-legend.light.svg
  packages/pluggableWidgets/bubble-chart-web/src/assets/BubbleChart.dark.svg
  packages/pluggableWidgets/bubble-chart-web/src/assets/BubbleChart.light.svg
  packages/pluggableWidgets/bubble-chart-web/typings/BubbleChartProps.d.ts
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.editorConfig.ts
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-grouped.dark.svg
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-grouped.light.svg
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-legend.dark.svg
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-legend.light.svg
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-stacked.dark.svg
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-stacked.light.svg
  packages/pluggableWidgets/column-chart-web/typings/ColumnChartProps.d.ts
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.editorConfig.ts
  packages/pluggableWidgets/heatmap-chart-web/src/assets/HeatMap-legend.dark.svg
  packages/pluggableWidgets/heatmap-chart-web/src/assets/HeatMap-legend.light.svg
  packages/pluggableWidgets/heatmap-chart-web/src/assets/HeatMap.dark.svg
  packages/pluggableWidgets/heatmap-chart-web/src/assets/HeatMap.light.svg
  packages/pluggableWidgets/line-chart-web/src/LineChart.editorConfig.ts
  packages/pluggableWidgets/line-chart-web/src/assets/LineChart-legend.dark.svg
  packages/pluggableWidgets/line-chart-web/src/assets/LineChart-legend.light.svg
  packages/pluggableWidgets/line-chart-web/src/assets/LineChart.dark.svg
  packages/pluggableWidgets/line-chart-web/src/assets/LineChart.light.svg
  packages/pluggableWidgets/pie-doughnut-chart-web/src/PieChart.editorConfig.ts
  packages/pluggableWidgets/pie-doughnut-chart-web/src/assets/DoughnutChart.dark.svg
  packages/pluggableWidgets/pie-doughnut-chart-web/src/assets/DoughnutChart.light.svg
  packages/pluggableWidgets/pie-doughnut-chart-web/src/assets/PieChart.dark.svg
  packages/pluggableWidgets/pie-doughnut-chart-web/src/assets/PieChart.light.svg
  packages/pluggableWidgets/pie-doughnut-chart-web/src/assets/PieDoughnut-legend.dark.svg
  packages/pluggableWidgets/pie-doughnut-chart-web/src/assets/PieDoughnut-legend.light.svg
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorConfig.ts
  packages/pluggableWidgets/time-series-chart-web/src/assets/TimeSeries-legend.dark.svg
  packages/pluggableWidgets/time-series-chart-web/src/assets/TimeSeries-legend.light.svg
  packages/pluggableWidgets/time-series-chart-web/src/assets/TimeSeries-range.dark.svg
  packages/pluggableWidgets/time-series-chart-web/src/assets/TimeSeries-range.light.svg
  packages/pluggableWidgets/time-series-chart-web/src/assets/TimeSeries.dark.svg
  packages/pluggableWidgets/time-series-chart-web/src/assets/TimeSeries.light.svg
Labels: enhancement, Web, chart

#1341 [NC-348] Introduce gradient background native widget
  packages/pluggableWidgets/background-gradient-native/CHANGELOG.md
  packages/pluggableWidgets/background-gradient-native/README.md
  packages/pluggableWidgets/background-gradient-native/detox.config.js
  packages/pluggableWidgets/background-gradient-native/e2e/images/android/30/pixel/Background Gradient should render more than one color 1-snap.png
  packages/pluggableWidgets/background-gradient-native/e2e/images/android/30/pixel/Background Gradient should render one color 1-snap.png
  packages/pluggableWidgets/background-gradient-native/e2e/images/ios/15.4/iPhone 13/Background Gradient should render more than one color 1-snap.png
  packages/pluggableWidgets/background-gradient-native/e2e/images/ios/15.4/iPhone 13/Background Gradient should render one color 1-snap.png
  packages/pluggableWidgets/background-gradient-native/e2e/specs/BackgroundGradient.spec.ts
  packages/pluggableWidgets/background-gradient-native/package.json
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.editorConfig.ts
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.icon.dark.png
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.icon.png
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.tile.dark.png
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.tile.png
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.tsx
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.xml
  packages/pluggableWidgets/background-gradient-native/src/__tests__/__snapshots__/backgroundGradient.spec.tsx.snap
  packages/pluggableWidgets/background-gradient-native/src/__tests__/backgroundGradient.spec.tsx
  packages/pluggableWidgets/background-gradient-native/src/assets/backgroundGradient_dark.svg
  packages/pluggableWidgets/background-gradient-native/src/assets/backgroundGradient_light.svg
  packages/pluggableWidgets/background-gradient-native/src/package.xml
  packages/pluggableWidgets/background-gradient-native/src/ui/Styles.ts
  packages/pluggableWidgets/background-gradient-native/tsconfig.json
  packages/pluggableWidgets/background-gradient-native/typings/BackgroundGradientProps.d.ts
  packages/theming/atlas/src/theme/native/custom-variables.ts
  packages/theming/atlas/src/theme/native/exclusion-variables.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/helpers/backgroundgradient.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/backgroundgradient.ts
  packages/theming/atlas/src/themesource/atlas_core/native/design-properties.json
  packages/theming/atlas/src/themesource/atlas_core/native/main.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/variables.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/widgets.d.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, Native

#1441 fix: automation/web-modules: add missing widgetsFolders arg to updateChangelogs fn
  scripts/release/createWebModules.js
Labels: Cross-Platform

#1444 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/background-gradient-native/CHANGELOG.md
  packages/pluggableWidgets/notifications-native/CHANGELOG.md
Labels: Native

#1435 [NC-640]: E2E tests for native maps
  detox/src/helpers.ts
  packages/pluggableWidgets/maps-native/detox.config.js
  packages/pluggableWidgets/maps-native/e2e/images/android/30/pixel/Maps widget should be able to render map with dynamic markers 1-snap.png
  packages/pluggableWidgets/maps-native/e2e/images/android/30/pixel/Maps widget should be able to render map with static markers 1-snap.png
  packages/pluggableWidgets/maps-native/e2e/images/ios/15.4/iPhone 13/Maps widget should be able to render map with dynamic markers 1-snap.png
  packages/pluggableWidgets/maps-native/e2e/images/ios/15.4/iPhone 13/Maps widget should be able to render map with static markers 1-snap.png
  packages/pluggableWidgets/maps-native/e2e/specs/Maps.spec.ts
  packages/pluggableWidgets/maps-native/package.json
  packages/pluggableWidgets/maps-native/tsconfig.json
Labels: Native

#1445 Add description to atlas ui files workflow
  .github/workflows/AtlasReleaseThemeFiles.yml
Labels: Cross-Platform

#1440 fix: Remove title of the content overview to make it look better on Confluence
  scripts/data/pages/index.tsx
Labels: Cross-Platform

#1442 [WC-829] fix(datagrid-web): fix cell size for custom content
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid.scss
  packages/pluggableWidgets/datagrid-web/src/utils/__tests__/useCellRenderer.spec.ts
  packages/pluggableWidgets/datagrid-web/src/utils/useCellRenderer.tsx
Labels: Web

#1439 [WC-1072] feat(datagrid-web): add special css class for data grid
  packages/pluggableWidgets/datagrid-web/src/components/Table.tsx
  packages/pluggableWidgets/datagrid-web/src/components/__tests__/__snapshots__/Table.spec.tsx.snap
Labels: Web

#1449 [WC-1117] Re-enable color picker e2e test
  packages/pluggableWidgets/color-picker-web/cypress/integration/ColorPicker.spec.js
  packages/pluggableWidgets/color-picker-web/cypress/plugins/index.js
  packages/pluggableWidgets/color-picker-web/cypress/support/index.js
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/color-picker-web/tests/e2e/pages/colorFormatPage.ts
  packages/pluggableWidgets/color-picker-web/tests/e2e/pages/modePage.ts
  packages/pluggableWidgets/color-picker-web/tests/e2e/specs/ColorPicker.spec.ts
  packages/pluggableWidgets/color-picker-web/tests/e2e/tsconfig.json
Labels: Web

#1448 [WC-1126] Charts design preview
  packages/pluggableWidgets/area-chart-web/src/AreaChart.editorPreview.tsx
  packages/pluggableWidgets/bar-chart-web/src/BarChart.editorPreview.tsx
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-grouped.dark.svg
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-grouped.light.svg
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-stacked.dark.svg
  packages/pluggableWidgets/bar-chart-web/src/assets/BarChart-stacked.light.svg
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.editorPreview.tsx
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.editorPreview.tsx
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-grouped.dark.svg
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-grouped.light.svg
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-stacked.dark.svg
  packages/pluggableWidgets/column-chart-web/src/assets/ColumnChart-stacked.light.svg
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.editorPreview.tsx
  packages/pluggableWidgets/line-chart-web/src/LineChart.editorPreview.tsx
  packages/pluggableWidgets/pie-doughnut-chart-web/src/PieChart.editorPreview.tsx
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorPreview.ts
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorPreview.tsx
Labels: Web, chart

#1443 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: Web

#1451 chore(data-widgets): bump version
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: Web

#1452 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: Web

#1455 Maps: Updating changelogs
  packages/pluggableWidgets/maps-web/CHANGELOG.md
Labels: Web

#1453 [NC-409] e2e tests for native carousel
  package-lock.json
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
  packages/pluggableWidgets/carousel-native/detox.config.js
  packages/pluggableWidgets/carousel-native/e2e/images/android/30/pixel/Carousel should be able to swipe left and right 1-snap.png
  packages/pluggableWidgets/carousel-native/e2e/images/android/30/pixel/Carousel should be able to swipe left and right 2-snap.png
  packages/pluggableWidgets/carousel-native/e2e/images/ios/15.4/iPhone 13/Carousel should be able to swipe left and right 1-snap.png
  packages/pluggableWidgets/carousel-native/e2e/images/ios/15.4/iPhone 13/Carousel should be able to swipe left and right 2-snap.png
  packages/pluggableWidgets/carousel-native/e2e/specs/Carousel.spec.ts
  packages/pluggableWidgets/carousel-native/package.json
  packages/pluggableWidgets/carousel-native/src/Carousel.tsx
  packages/pluggableWidgets/carousel-native/src/__tests__/__snapshots__/Carousel.spec.tsx.snap
  packages/pluggableWidgets/carousel-native/src/package.xml
  packages/pluggableWidgets/carousel-native/tsconfig.json
Labels: Native
