Repository mendix/widgets-resources, pull requests merged in 2022-06, with the labels that each got.

#1489 [WC-1174] hover issue on dropdown menu, navigation bar
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_navigation-bar.scss
Labels: Atlas, Cross-Platform

#1488 [WC-1155] Document viewer structure preview
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.editorConfig.ts
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.icon.dark.png
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.icon.png
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.tile.dark.png
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.tile.png
  packages/pluggableWidgets/document-viewer-web/src/assets/document-viewer-entity-preview.dark.svg
  packages/pluggableWidgets/document-viewer-web/src/assets/document-viewer-entity-preview.light.svg
  packages/pluggableWidgets/document-viewer-web/src/assets/document-viewer-url-preview.dark.svg
  packages/pluggableWidgets/document-viewer-web/src/assets/document-viewer-url-preview.light.svg
Labels: Web

#1485 [WC-1177] Gallery widget filters container
  packages/pluggableWidgets/gallery-web/CHANGELOG.md
  packages/pluggableWidgets/gallery-web/package.json
  packages/pluggableWidgets/gallery-web/src/Gallery.editorPreview.tsx
  packages/pluggableWidgets/gallery-web/src/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/Gallery.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/Gallery.spec.tsx
  packages/pluggableWidgets/gallery-web/src/components/__tests__/__snapshots__/Gallery.spec.tsx.snap
  packages/pluggableWidgets/gallery-web/src/package.xml
  packages/pluggableWidgets/gallery-web/tsconfig.json
Labels: Web

#1484 feat: add release utils, add pwt publish script
  package-lock.json
  package.json
  packages/tools/release-utils-internal/package.json
  packages/tools/release-utils-internal/src/changelog-parser/cli.ts
  packages/tools/release-utils-internal/src/changelog-parser/index.ts
  packages/tools/release-utils-internal/src/changelog-parser/parser/module/module.pegjs
  packages/tools/release-utils-internal/src/changelog-parser/parser/module/module.ts
  packages/tools/release-utils-internal/src/changelog-parser/parser/widget/widget.pegjs
  packages/tools/release-utils-internal/src/changelog-parser/parser/widget/widget.ts
  packages/tools/release-utils-internal/src/changelog-parser/types.ts
  packages/tools/release-utils-internal/src/config.ts
  packages/tools/release-utils-internal/src/fetch.ts
  packages/tools/release-utils-internal/src/git.ts
  packages/tools/release-utils-internal/src/github.ts
  packages/tools/release-utils-internal/src/index.ts
  packages/tools/release-utils-internal/src/module-build.ts
  packages/tools/release-utils-internal/src/module-release.ts
  packages/tools/release-utils-internal/src/mpk.ts
  packages/tools/release-utils-internal/src/package-info.ts
  packages/tools/release-utils-internal/src/shell.ts
  packages/tools/release-utils-internal/src/version.ts
  packages/tools/release-utils-internal/tsconfig.json
  scripts/release/createPWTRelease.ts
  scripts/release/createWidgetReleaseV2.ts
Labels: Cross-Platform

#1490 [WC-1178] Add chart-widgets module
  packages/modules/chart-widgets/CHANGELOG.md
  packages/modules/chart-widgets/package.json
  packages/modules/chart-widgets/scripts/build-content.ts
  packages/modules/chart-widgets/scripts/build.ts
  packages/modules/chart-widgets/scripts/common.ts
  packages/modules/chart-widgets/scripts/release.ts
  packages/modules/chart-widgets/src/themesource/chartwidgets/public/com.mendix.charts.json
  packages/modules/chart-widgets/tsconfig.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  scripts/release/createWebModules.js
Labels: Web, Cross-Platform

#1464 [WC] Slider: Updating changelogs
  packages/pluggableWidgets/slider-web/CHANGELOG.md
Labels: Web

#1499 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1501 [NC-747] Update structure mode & sort description of Bar chart
  packages/pluggableWidgets/bar-chart-native/CHANGELOG.md
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/bar-chart-native/src/BarChart.xml
  packages/pluggableWidgets/bar-chart-native/src/assets/BarChart.Legend.dark.svg
  packages/pluggableWidgets/bar-chart-native/src/assets/BarChart.Legend.light.svg
  packages/pluggableWidgets/bar-chart-native/src/package.xml
Labels: Native

#1507 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1504 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/bar-chart-native/CHANGELOG.md
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
  packages/pluggableWidgets/column-chart-native/CHANGELOG.md
  packages/pluggableWidgets/intro-screen-native/CHANGELOG.md
Labels: Native

#1509 fix column chart style variables issue
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/columnchart.ts
  packages/theming/atlas/src/themesource/atlas_core/native/variables.ts
Labels: Atlas, Cross-Platform

#1510 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1518 Force react resolution to avoid conflict
  package.json
  packages/tools/pluggable-widgets-tools/tests/commands.js
Labels: Cross-Platform

#1519 use legacy peer deps in npmrc
  .npmrc
  packages/tools/pluggable-widgets-tools/tests/commands.js
Labels: Cross-Platform

#1517 [NC-759] fix native test runner ios
  detox/README.md
  detox/detox.config.js
  detox/scripts/setup-android.js
  detox/scripts/setup-ios.js
  package-lock.json
  package.json
  packages/pluggableWidgets/accordion-native/package.json
  packages/pluggableWidgets/activity-indicator-native/package.json
  packages/pluggableWidgets/app-events-native/package.json
  packages/pluggableWidgets/background-gradient-native/package.json
  packages/pluggableWidgets/background-image-native/package.json
  packages/pluggableWidgets/badge-native/package.json
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/carousel-native/package.json
  packages/pluggableWidgets/color-picker-native/package.json
  packages/pluggableWidgets/column-chart-native/package.json
  packages/pluggableWidgets/feedback-native/package.json
  packages/pluggableWidgets/floating-action-button-native/package.json
  packages/pluggableWidgets/image-native/package.json
  packages/pluggableWidgets/intro-screen-native/package.json
  packages/pluggableWidgets/line-chart-native/package.json
  packages/pluggableWidgets/maps-native/package.json
  packages/pluggableWidgets/pie-doughnut-chart-native/package.json
  packages/pluggableWidgets/popup-menu-native/package.json
  packages/pluggableWidgets/progress-bar-native/package.json
  packages/pluggableWidgets/progress-circle-native/package.json
  packages/pluggableWidgets/qr-code-native/package.json
  packages/pluggableWidgets/radio-buttons-native/package.json
  packages/pluggableWidgets/range-slider-native/package.json
  packages/pluggableWidgets/rating-native/package.json
  packages/pluggableWidgets/repeater-native/package.json
  packages/pluggableWidgets/signature-native/package.json
  packages/pluggableWidgets/slider-native/package.json
  packages/pluggableWidgets/switch-native/package.json
  packages/pluggableWidgets/toggle-buttons-native/package.json
  packages/pluggableWidgets/web-view-native/package.json
Labels: Native

#1523 [NC-731]: revert nc module version
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1491 [WC-1143] Add document viewer e2e test
  packages/pluggableWidgets/document-viewer-web/cypress-visual-screenshots/baseline/DocumentViewer.spec-documentViewerPDFUrl-chrome.png
  packages/pluggableWidgets/document-viewer-web/cypress/integration/DocumentViewer.spec.js
  packages/pluggableWidgets/document-viewer-web/cypress/plugins/index.js
  packages/pluggableWidgets/document-viewer-web/cypress/support/index.js
  packages/pluggableWidgets/document-viewer-web/package.json
  packages/tools/pluggable-widgets-tools/scripts/e2e.cypress.js
Labels: Web, Cross-Platform

#1525 chore(): update README to address backtick issue
  scripts/release/README.md
Labels: Cross-Platform

#1524 Nanoflow Commons: Updating changelogs
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1520 [WC-1218] Property feedback
  packages/pluggableWidgets/area-chart-web/src/AreaChart.xml
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.xml
Labels: Web

#1513 [WC-1201]: Update `@rollup/plugin-commonjs`
  data/content.json
  package-lock.json
  package.json
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/nanoflow-actions-native/package.json
  packages/jsActions/nanoflow-actions-web/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: Web, Native, PWA, Cross-Platform

#1512 fix(datagrid-web): fix column layout
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid.scss
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/cypress-visual-screenshots/baseline/DataGrid.spec-dataGridColumnContent-chrome.png
  packages/pluggableWidgets/datagrid-web/cypress/integration/DataGrid.spec.js
  packages/pluggableWidgets/datagrid-web/package.json
  packages/pluggableWidgets/datagrid-web/src/package.xml
Labels: Web

#1526 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: Web
