Repository mendix/widgets-resources, pull requests merged in 2022-08, with the labels that each got.

#1556 Nanoflow Commons: Updating changelogs
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1558 feat(): change chart ids
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/src/AreaChart.icon.dark.png
  packages/pluggableWidgets/area-chart-web/src/AreaChart.icon.png
  packages/pluggableWidgets/area-chart-web/src/AreaChart.tile.dark.png
  packages/pluggableWidgets/area-chart-web/src/AreaChart.tile.png
  packages/pluggableWidgets/area-chart-web/src/AreaChart.xml
  packages/pluggableWidgets/area-chart-web/src/package.xml
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/src/BarChart.xml
  packages/pluggableWidgets/bar-chart-web/src/package.xml
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.xml
  packages/pluggableWidgets/bubble-chart-web/src/package.xml
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.xml
  packages/pluggableWidgets/column-chart-web/src/package.xml
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.icon.dark.png
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.icon.png
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.tile.dark.png
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.tile.png
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.xml
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/src/LineChart.xml
  packages/pluggableWidgets/line-chart-web/src/package.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/src/PieChart.xml
  packages/pluggableWidgets/pie-doughnut-chart-web/src/package.xml
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.icon.dark.png
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.icon.png
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.tile.dark.png
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.tile.png
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.xml
  packages/pluggableWidgets/time-series-chart-web/src/package.xml
  packages/shared/charts/src/rollup/index.js
Labels: Web

#1562 [WC-1254] Remove code altering output charts path
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartColoredLineMarkers-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartColoredLineMarkers-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartCurved-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartCurved-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentage-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentage-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentageOfParent-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentageOfParent-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentageOfWidth-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentageOfWidth-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentagePixels-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentagePixels-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPixels-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPixels-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPixelsPercentageOfParent-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPixelsPercentageOfParent-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesBoth-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesBoth-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesHorizontal-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesHorizontal-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesVertical-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesVertical-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLegend-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLegend-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLineBasic-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLineBasic-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLineMarkers-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLineMarkers-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLinear-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLinear-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartNoLegend-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartNoLegend-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartXLabel-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartXLabel-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartXYLabels-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartXYLabels-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartYLabel-chrome.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartYLabel-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress/integration/LineChart.spec.js
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/shared/charts/src/rollup/index.js
Labels: Web

#1532 chore: Update content data file
  data/content.json
Labels: Cross-Platform

#1563 [WC-1208] fix: sync value with defaultValue in datagrid filters
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatagridDateFilter.spec.tsx
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/components/__tests__/DataGridDropdownFilter.spec.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/DatagridNumberFilter.spec.tsx
  packages/pluggableWidgets/datagrid-number-filter-web/src/components/__tests__/__snapshots__/FilterComponent.spec.tsx.snap
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-text-filter-web/src/components/__tests__/DatagridTextFilter.spec.tsx
Labels: Web

#1565 [WC-1258] Fix firefox e2e test failing
  packages/pluggableWidgets/badge-web/cypress-visual-screenshots/baseline/Badge.spec-badgePageContent-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartColoredLineMarkers-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartCurved-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentage-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentageOfParent-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentageOfWidth-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPercentagePixels-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPixels-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartDimensionPixelsPercentageOfParent-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesBoth-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesHorizontal-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartGridLinesVertical-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLegend-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLineBasic-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLineMarkers-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartLinear-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartNoLegend-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartXLabel-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartXYLabels-firefox.png
  packages/pluggableWidgets/line-chart-web/cypress-visual-screenshots/baseline/LineChart.spec-lineChartYLabel-firefox.png
  packages/pluggableWidgets/maps-web/cypress-visual-screenshots/baseline/google.spec-googleMaps-firefox.png
  packages/pluggableWidgets/maps-web/cypress-visual-screenshots/baseline/here.spec-hereMaps-firefox.png
  packages/pluggableWidgets/maps-web/cypress-visual-screenshots/baseline/mapbox.spec-mapboxMaps-firefox.png
  packages/pluggableWidgets/maps-web/cypress-visual-screenshots/baseline/openstreet.spec-osmMaps-firefox.png
  packages/pluggableWidgets/timeline-web/cypress-visual-screenshots/baseline/timeline.spec-timelineBasic-firefox.png
Labels: Web

#1567 chore(): update filters changelog
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/package.json
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/package.json
  packages/pluggableWidgets/datagrid-number-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
Labels: Web

#1568 Update mx-versions to 9.16.1
  configs/e2e/mendix-versions.json
Labels: Web

#1561 [WC-1113] chore: move props utils to pwt
  packages/pluggableWidgets/accessibility-helper-web/src/AccessibilityHelper.editorConfig.ts
  packages/pluggableWidgets/accordion-native/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/accordion-web/src/Accordion.editorConfig.ts
  packages/pluggableWidgets/area-chart-web/src/AreaChart.editorConfig.ts
  packages/pluggableWidgets/background-gradient-native/src/BackgroundGradient.editorConfig.ts
  packages/pluggableWidgets/bar-chart-native/src/BarChart.editorConfig.ts
  packages/pluggableWidgets/bar-chart-web/src/BarChart.editorConfig.ts
  packages/pluggableWidgets/barcode-scanner-web/src/BarcodeScanner.editorConfig.ts
  packages/pluggableWidgets/bottom-sheet-native/src/BottomSheet.editorConfig.ts
  packages/pluggableWidgets/bubble-chart-web/src/BubbleChart.editorConfig.ts
  packages/pluggableWidgets/carousel-web/src/Carousel.editorConfig.ts
  packages/pluggableWidgets/color-picker-web/src/ColorPicker.editorConfig.ts
  packages/pluggableWidgets/column-chart-native/src/ColumnChart.editorConfig.ts
  packages/pluggableWidgets/column-chart-web/src/ColumnChart.editorConfig.ts
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-dropdown-filter-web/src/DatagridDropdownFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-number-filter-web/src/DatagridNumberFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-text-filter-web/src/DatagridTextFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-web/src/Datagrid.editorConfig.ts
  packages/pluggableWidgets/document-viewer-web/src/DocumentViewer.editorConfig.ts
  packages/pluggableWidgets/gallery-web/src/Gallery.editorConfig.ts
  packages/pluggableWidgets/heatmap-chart-web/src/HeatMap.editorConfig.ts
  packages/pluggableWidgets/image-native/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-web/src/Image.editorConfig.ts
  packages/pluggableWidgets/line-chart-native/src/LineChart.editorConfig.ts
  packages/pluggableWidgets/line-chart-web/src/LineChart.editorConfig.ts
  packages/pluggableWidgets/maps-native/src/Maps.editorConfig.ts
  packages/pluggableWidgets/maps-web/src/Maps.editorConfig.ts
  packages/pluggableWidgets/pie-doughnut-chart-web/src/PieChart.editorConfig.ts
  packages/pluggableWidgets/popup-menu-native/src/PopupMenu.editorConfig.ts
  packages/pluggableWidgets/popup-menu-web/src/PopupMenu.editorConfig.ts
  packages/pluggableWidgets/progress-bar-web/src/ProgressBar.editorConfig.ts
  packages/pluggableWidgets/progress-circle-web/src/ProgressCircle.editorConfig.ts
  packages/pluggableWidgets/radio-buttons-native/src/RadioButtons.editorConfig.ts
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.editorConfig.ts
  packages/pluggableWidgets/rating-web/src/StarRating.editorConfig.ts
  packages/pluggableWidgets/rich-text-web/src/RichText.editorConfig.ts
  packages/pluggableWidgets/scroll-container-web/src/ScrollContainer.editorConfig.ts
  packages/pluggableWidgets/sidebar-toggle-web/src/SidebarToggle.editorConfig.ts
  packages/pluggableWidgets/sidebar-web/src/Sidebar.editorConfig.ts
  packages/pluggableWidgets/slider-web/src/Slider.editorConfig.ts
  packages/pluggableWidgets/switch-native/src/Switch.editorConfig.ts
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorConfig.ts
  packages/pluggableWidgets/time-series-chart-web/typings/TimeSeriesProps.d.ts
  packages/pluggableWidgets/timeline-web/src/Timeline.editorConfig.ts
  packages/pluggableWidgets/tooltip-web/src/Tooltip.editorConfig.ts
  packages/pluggableWidgets/tree-node-web/src/TreeNode.editorConfig.ts
  packages/pluggableWidgets/video-player-web/src/VideoPlayer.editorConfig.ts
  packages/tools/piw-utils-internal/src/typings/PageEditor.ts
  packages/tools/piw-utils-internal/src/utils/__tests__/PageEditorUtils.spec.ts
  packages/tools/piw-utils-internal/src/utils/index.ts
  packages/tools/pluggable-widgets-tools/jest.config.js
  packages/tools/pluggable-widgets-tools/src/index.ts
  packages/tools/pluggable-widgets-tools/src/utils/PageEditorUtils.ts
  packages/tools/pluggable-widgets-tools/src/utils/__tests__/PageEditorUtils.spec.ts
  packages/tools/pluggable-widgets-tools/src/utils/index.ts
  packages/tools/pluggable-widgets-tools/src/utils/typings/PageEditor.ts
  packages/tools/pluggable-widgets-tools/src/utils/typings/index.ts
Labels: Web, Native, PWA, Cross-Platform

#1570 chore(): update changelog and bump module version
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/package.json
  packages/pluggableWidgets/datagrid-text-filter-web/src/package.xml
Labels: Web

#1573 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-dropdown-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-number-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-text-filter-web/CHANGELOG.md
Labels: Web

#1572 chore(pluggable-widgets-tools): bump version
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: Cross-Platform

#1575 Pluggable Widgets Tools: Merge release to master
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
Labels: Cross-Platform

#1574 [WC-1255] Move web actions
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
  packages/jsActions/nanoflow-actions-web/CHANGELOG.md
  packages/jsActions/nanoflow-actions-web/package.json
  packages/jsActions/nanoflow-actions-web/src/ReadCookie.ts
  packages/jsActions/nanoflow-actions-web/src/ScrollToClass.ts
  packages/jsActions/nanoflow-actions-web/src/SetCookie.ts
  packages/jsActions/nanoflow-actions-web/src/SetFavicon.ts
  packages/modules/web-actions/package.json
Labels: Web, Native, PWA

#1579 chore: update PR template
  .github/pull_request_template.md
Labels: Cross-Platform

#1514 [NC-708] generic permission action
  package-lock.json
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/mobile-resources-native/src/permissions/RequestGenericPermission.ts
  packages/jsActions/mobile-resources-native/typings/RequestGenericPermission.d.ts
Labels: Native

#1576 chore: add pwt release action
  .github/workflows/CreatePWTRelease.yml
  package.json
  packages/tools/release-utils-internal/src/changelog-parser/parser/module/module.pegjs
  packages/tools/release-utils-internal/src/changelog-parser/parser/widget/widget.pegjs
  packages/tools/release-utils-internal/src/git.ts
  packages/tools/release-utils-internal/src/github.ts
  packages/tools/release-utils-internal/src/index.ts
  packages/tools/release-utils-internal/src/module-release.ts
  scripts/release/createPWTRelease.ts
  scripts/release/createWidgetReleaseV2.ts
Labels: Cross-Platform

#1578 chore: add .yml formatting
  .github/workflows/AtlasBuildTest.yml
  .github/workflows/AtlasReleaseThemeFiles.yml
  .github/workflows/Build.yml
  .github/workflows/CreateWebRelease.yml
  .github/workflows/DataWidgetsSlackNotify.yml
  .github/workflows/MarketplaceRelease.yml
  .github/workflows/NativeAutomatedTestsAndroid.yml
  .github/workflows/PublishDockerImage.yml
  .github/workflows/PublishNpm.yml
  .github/workflows/PullRequestLabeler.yml
  .github/workflows/Release.yml
  .github/workflows/ScriptTests.yml
  .github/workflows/ShaCheck.yml
  .github/workflows/UnitTests.yml
  .github/workflows/UpdateContentOverview.yml
  .github/workflows/WebAutomatedTests.yml
  .github/workflows/WeeklyWebAutomatedTests.yml
  .prettierignore
  package.json
  packages/tools/pluggable-widgets-tools/scripts/m2ee.yml
  prettier.config.js
Labels: Cross-Platform

#1589 Color-picker-web specific test for Firefox
  packages/pluggableWidgets/color-picker-web/cypress/integration/ColorPicker.spec.js
Labels: Web

#1585 [WC-1276]: Refactor charts scripts
  package.json
  packages/pluggableWidgets/area-chart-web/README.md
  packages/pluggableWidgets/area-chart-web/package.json
  packages/pluggableWidgets/area-chart-web/tsconfig.json
  packages/pluggableWidgets/bar-chart-web/README.md
  packages/pluggableWidgets/bar-chart-web/package.json
  packages/pluggableWidgets/bar-chart-web/tsconfig.json
  packages/pluggableWidgets/bubble-chart-web/README.md
  packages/pluggableWidgets/bubble-chart-web/package.json
  packages/pluggableWidgets/bubble-chart-web/tsconfig.json
  packages/pluggableWidgets/column-chart-web/README.md
  packages/pluggableWidgets/column-chart-web/package.json
  packages/pluggableWidgets/column-chart-web/tsconfig.json
  packages/pluggableWidgets/heatmap-chart-web/README.md
  packages/pluggableWidgets/heatmap-chart-web/package.json
  packages/pluggableWidgets/heatmap-chart-web/tsconfig.json
  packages/pluggableWidgets/line-chart-web/README.md
  packages/pluggableWidgets/line-chart-web/package.json
  packages/pluggableWidgets/line-chart-web/tsconfig.json
  packages/pluggableWidgets/pie-doughnut-chart-web/README.md
  packages/pluggableWidgets/pie-doughnut-chart-web/package.json
  packages/pluggableWidgets/pie-doughnut-chart-web/tsconfig.json
  packages/pluggableWidgets/time-series-chart-web/README.md
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/tsconfig.json
  packages/shared/charts/package.json
  packages/shared/charts/rollup.config.js
  packages/shared/charts/scripts/build.ts
  packages/shared/charts/scripts/release.ts
  packages/shared/charts/src/rollup/index.js
  packages/shared/charts/tsconfig.json
Labels: Web

#1592 Add retries to color picker web e2e test
  configs/e2e/cypress/cypress.config.js
  packages/pluggableWidgets/color-picker-web/cypress/integration/ColorPicker.spec.js
Labels: Web

#1590 [WC-1277] cssUrlTransform in PW tools inserts backslashes on Windows
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
Labels: Cross-Platform

#1587 [WC-1274]: Nanoflow commons feedback
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/src/client/HasServerConnection.ts
  packages/jsActions/nanoflow-actions-native/src/datetime/AddMilliseconds.ts
  packages/jsActions/nanoflow-actions-native/src/datetime/AddTime.ts
  packages/jsActions/nanoflow-actions-native/src/geolocation/GetStraightLineDistance.ts
  packages/jsActions/nanoflow-actions-native/src/other/Base64Decode.ts
  packages/jsActions/nanoflow-actions-native/src/other/Base64DecodeToImage.ts
  packages/jsActions/nanoflow-actions-native/src/other/Base64Encode.ts
Labels: Native

#1598 chore: fix typescript and PWT issues
  package-lock.json
  packages/jsActions/nanoflow-actions-hybrid/package.json
  packages/modules/atlas-core/package.json
  packages/modules/chart-widgets/package.json
  packages/shared/charts/package.json
  packages/theming/atlas/package.json
  packages/tools/custom-widgets-utils-internal/package.json
  packages/tools/piw-native-utils-internal/package.json
  packages/tools/piw-utils-internal/package.json
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/release-utils-internal/package.json
  packages/tools/release-utils-internal/src/github.ts
  scripts/data/package.json
Labels: Atlas, Web, Native, Hybrid, Cross-Platform

#1588 [WC-1274]: Web actions feedback
  packages/jsActions/nanoflow-actions-web/CHANGELOG.md
  packages/jsActions/nanoflow-actions-web/package.json
  packages/jsActions/nanoflow-actions-web/src/ScrollToClass.ts
  packages/jsActions/nanoflow-actions-web/src/SetFavicon.ts
Labels: Web, PWA

#1600 Pluggable Widgets Tools v9.13.4: Update changelog
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
Labels: Cross-Platform

#1601 [WC-1274] Update js actions according to feedback
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
  packages/jsActions/nanoflow-actions-native/src/client/IsConnectedToServer.ts
  packages/jsActions/nanoflow-actions-web/src/SetCookie.ts
Labels: Web, Native, PWA

#1606 chore(): switch to contributor API for publishing
  .github/workflows/MarketplaceRelease.yml
  scripts/release/marketplaceRelease.js
Labels: Cross-Platform

#1603 Fix flaky rich text e2e test
  packages/pluggableWidgets/rich-text-web/cypress/integration/RichText.spec.js
Labels: Web

#1599 [WC-1094]: fix styling of react-popper arrow
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
  packages/pluggableWidgets/tooltip-web/package.json
  packages/pluggableWidgets/tooltip-web/src/components/Tooltip.tsx
  packages/pluggableWidgets/tooltip-web/src/package.xml
  packages/pluggableWidgets/tooltip-web/src/ui/Tooltip.scss
Labels: Web

#1609 fix: use UUID from new response shape
  scripts/release/marketplaceRelease.js
Labels: Cross-Platform

#1610 Tooltip: Updating changelogs
  packages/pluggableWidgets/tooltip-web/CHANGELOG.md
Labels: Web

#1612 fix: wrap gh cli params with single quotes
  scripts/release/module-automation/commons.js
Labels: Cross-Platform

#1614 [WC-1274]: Update web-actions changelog
  packages/jsActions/nanoflow-actions-web/CHANGELOG.md
  packages/modules/web-actions/CHANGELOG.md
Labels: Web, PWA

#1616 chore(): add MK release trigger for web-actions
  .github/workflows/MarketplaceRelease.yml
Labels: Cross-Platform
