Repository mendix/widgets-resources, pull requests merged in 2022-02, with the labels that each got.

#1266 [NC-410] Add e2e tests for color picker
  packages/pluggableWidgets/color-picker-native/detox.config.js
  packages/pluggableWidgets/color-picker-native/e2e/images/android/31/pixel/Color picker renders correctly after change 1-snap.png
  packages/pluggableWidgets/color-picker-native/e2e/images/ios/15.2/iPhone 13/Color picker renders correctly after change 1-snap.png
  packages/pluggableWidgets/color-picker-native/e2e/specs/ColorPicker.spec.ts
  packages/pluggableWidgets/color-picker-native/package.json
  packages/pluggableWidgets/color-picker-native/tsconfig.json
Labels: test, Native

#1231 Adding more Flex alignment options
  packages/theming/atlas/src/themesource/atlas_core/web/_variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_helper-classes.scss
  packages/theming/atlas/src/themesource/atlas_core/web/design-properties.json
Labels: enhancement, Atlas, Web, External

#1272 [WC-1006]: Change maps screenshot threshold
  packages/pluggableWidgets/maps-web/tests/e2e/specs/google.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/here.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/mapbox.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/openstreet.spec.ts
Labels: test, Web

#1273 Update Atlas Core changelogs & Mendix versions
  configs/e2e/mendix-versions.json
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
Labels: documentation, Cross-Platform

#1267 [WC-975]: use client resolutions instead of inner to fix offscreen position
  packages/pluggableWidgets/popup-menu-web/CHANGELOG.md
  packages/pluggableWidgets/popup-menu-web/package.json
  packages/pluggableWidgets/popup-menu-web/src/package.xml
  packages/pluggableWidgets/popup-menu-web/src/utils/document.ts
Labels: enhancement, Web

#1277 [NC] Automation: add logging (to be reverted)
  scripts/release/createNativeModules.js
  scripts/release/module-automation/commons.js
Labels: bug, Native

#1262 [NC] Include react-native-star-rating dependency as lib with source
  package-lock.json
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/package.json
  packages/pluggableWidgets/image-native/src/package.xml
  packages/pluggableWidgets/rating-native/CHANGELOG.md
  packages/pluggableWidgets/rating-native/package.json
  packages/pluggableWidgets/rating-native/src/Rating.tsx
  packages/pluggableWidgets/rating-native/src/lib/StarButton.tsx
  packages/pluggableWidgets/rating-native/src/lib/StarRating.tsx
  packages/pluggableWidgets/rating-native/src/package.xml
Labels: Native

#1279 fix(pluggable-widgets-tools): fix rollup & mendix lib versions
  package-lock.json
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/nanoflow-actions-native/package.json
  packages/jsActions/nanoflow-actions-web/package.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: bug, Cross-Platform

#1281 [NC] Automation: set file permission for write
  scripts/release/module-automation/commons.js
Labels: bug, Native

#1215 Add labels automatically to PRs
  .github/configs/labeler.yml
  .github/workflows/PullRequestLabeler.yml
Labels: enhancement, Cross-Platform, crafting

#1185 [NC-553] Native widgets dark structure preview
  packages/pluggableWidgets/activity-indicator-native/CHANGELOG.md
  packages/pluggableWidgets/activity-indicator-native/src/ActivityIndicator.editorConfig.ts
  packages/pluggableWidgets/animation-native/CHANGELOG.md
  packages/pluggableWidgets/animation-native/src/Animation.editorConfig.ts
  packages/pluggableWidgets/floating-action-button-native/CHANGELOG.md
  packages/pluggableWidgets/floating-action-button-native/src/FloatingActionButton.editorConfig.ts
  packages/pluggableWidgets/floating-action-button-native/src/assets/StructurePreviewFloatingActionButtonPrimaryDark.svg
  packages/pluggableWidgets/image-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/src/Image.editorConfig.ts
  packages/pluggableWidgets/image-native/src/Image.icon.png
  packages/pluggableWidgets/image-native/src/Image.tile.png
  packages/pluggableWidgets/image-native/src/assets/placeholder.svg
  packages/pluggableWidgets/image-native/src/assets/placeholderDark.svg
  packages/pluggableWidgets/listview-swipe-native/CHANGELOG.md
  packages/pluggableWidgets/listview-swipe-native/src/ListViewSwipe.editorConfig.ts
  packages/pluggableWidgets/pie-doughnut-chart-native/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-native/src/PieDoughnutChart.editorConfig.ts
  packages/pluggableWidgets/pie-doughnut-chart-native/src/assets/doughnut-w-labels-dark.svg
  packages/pluggableWidgets/pie-doughnut-chart-native/src/assets/doughnut-wo-labels-dark.svg
  packages/pluggableWidgets/pie-doughnut-chart-native/src/assets/pie-w-labels-dark.svg
  packages/pluggableWidgets/pie-doughnut-chart-native/src/assets/pie-wo-labels-dark.svg
  packages/pluggableWidgets/progress-circle-native/CHANGELOG.md
  packages/pluggableWidgets/progress-circle-native/src/ProgressCircle.editorConfig.ts
  packages/pluggableWidgets/progress-circle-native/src/assets/structure-preview-dark.svg
  packages/pluggableWidgets/progress-circle-native/src/assets/structure-preview.svg
  packages/pluggableWidgets/progress-circle-native/tsconfig.json
  packages/pluggableWidgets/qr-code-native/CHANGELOG.md
  packages/pluggableWidgets/qr-code-native/src/QRCode.editorConfig.ts
  packages/pluggableWidgets/qr-code-native/src/assets/StructurePreviewQRCodeDark.svg
  packages/pluggableWidgets/rating-native/CHANGELOG.md
  packages/pluggableWidgets/rating-native/src/Rating.editorConfig.ts
  packages/pluggableWidgets/rating-native/src/assets/StructurePreviewRatingEmpty-dark.svg
  packages/pluggableWidgets/rating-native/src/assets/StructurePreviewRatingFilled-dark.svg
  packages/pluggableWidgets/switch-native/CHANGELOG.md
  packages/pluggableWidgets/switch-native/src/Switch.editorConfig.ts
  packages/pluggableWidgets/switch-native/src/assets/checked-dark.svg
Labels: Native

#1268 chore: Update content data file
  data/content.json
Labels: Cross-Platform

#1290 [NC] Automation: use module.exports
  scripts/release/module-automation/commons.js
Labels: Cross-Platform

#1261 [NC-629] Improve chart widgets tests
  detox/src/helpers.ts
  package-lock.json
  packages/pluggableWidgets/activity-indicator-native/e2e/specs/ActivityIndicator.spec.ts
  packages/pluggableWidgets/background-image-native/e2e/specs/background-image.spec.ts
  packages/pluggableWidgets/badge-native/e2e/specs/Badge.spec.ts
  packages/pluggableWidgets/bar-chart-native/detox.config.js
  packages/pluggableWidgets/bar-chart-native/e2e/images/android/31/pixel/Bar chart renders correctly 1-snap.png
  packages/pluggableWidgets/bar-chart-native/e2e/images/ios/15.2/iPhone 13/Bar chart renders correctly 1-snap.png
  packages/pluggableWidgets/bar-chart-native/e2e/specs/BarChart.spec.ts
  packages/pluggableWidgets/bar-chart-native/package.json
  packages/pluggableWidgets/bar-chart-native/src/BarChart.tsx
  packages/pluggableWidgets/bar-chart-native/src/components/BarChart.tsx
  packages/pluggableWidgets/bar-chart-native/tsconfig.json
  packages/pluggableWidgets/floating-action-button-native/e2e/specs/FloatingActionButton.spec.ts
  packages/pluggableWidgets/line-chart-native/detox.config.js
  packages/pluggableWidgets/line-chart-native/e2e/images/android/31/pixel/Line chart renders correctly 1-snap.png
  packages/pluggableWidgets/line-chart-native/e2e/images/ios/15.2/iPhone 13/Line chart renders correctly 1-snap.png
  packages/pluggableWidgets/line-chart-native/e2e/specs/LineChart.spec.ts
  packages/pluggableWidgets/line-chart-native/package.json
  packages/pluggableWidgets/line-chart-native/src/LineChart.tsx
  packages/pluggableWidgets/line-chart-native/src/components/LineChart.tsx
  packages/pluggableWidgets/line-chart-native/tsconfig.json
  packages/pluggableWidgets/pie-doughnut-chart-native/detox.config.js
  packages/pluggableWidgets/pie-doughnut-chart-native/e2e/images/android/31/pixel/Pie-doughnut chart renders doughnut chart correctly 1-snap.png
  packages/pluggableWidgets/pie-doughnut-chart-native/e2e/images/android/31/pixel/Pie-doughnut chart renders pie chart correctly 1-snap.png
  packages/pluggableWidgets/pie-doughnut-chart-native/e2e/images/ios/15.2/iPhone 13/Pie-doughnut chart renders doughnut chart correctly 1-snap.png
  packages/pluggableWidgets/pie-doughnut-chart-native/e2e/images/ios/15.2/iPhone 13/Pie-doughnut chart renders pie chart correctly 1-snap.png
  packages/pluggableWidgets/pie-doughnut-chart-native/e2e/specs/PieDoughnutChart.spec.ts
  packages/pluggableWidgets/pie-doughnut-chart-native/package.json
  packages/pluggableWidgets/pie-doughnut-chart-native/src/PieDoughnutChart.tsx
  packages/pluggableWidgets/pie-doughnut-chart-native/src/__tests__/__snapshots__/PieDoughnutChart.spec.tsx.snap
  packages/pluggableWidgets/pie-doughnut-chart-native/src/components/PieDoughnutChart.tsx
  packages/pluggableWidgets/pie-doughnut-chart-native/tsconfig.json
  packages/pluggableWidgets/popup-menu-native/e2e/specs/PopupMenu.spec.ts
  packages/pluggableWidgets/range-slider-native/e2e/specs/RangeSlider.spec.ts
  packages/pluggableWidgets/rating-native/e2e/specs/Rating.spec.ts
Labels: test, Native

#1245 chore(): native module script update
  scripts/release/README.md
Labels: Cross-Platform

#1291 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
Labels: Native

#1217 [UIA-51] fix(notifications): incorrect truthy result in hasPermission check
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/src/notifications/HasNotificationPermission.ts
Labels: bug, Native

#1257 [NC] Prep for nanoflow commons release
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1286 [NC-637] Accordion tests
  packages/pluggableWidgets/accordion-native/CHANGELOG.md
  packages/pluggableWidgets/accordion-native/detox.config.js
  packages/pluggableWidgets/accordion-native/e2e/images/android/31/pixel/Accordion should allow custom items as group headers 1-snap.png
  packages/pluggableWidgets/accordion-native/e2e/images/android/31/pixel/Accordion should render custom icons correctly 1-snap.png
  packages/pluggableWidgets/accordion-native/e2e/images/ios/15.2/iPhone 13/Accordion should allow custom items as group headers 1-snap.png
  packages/pluggableWidgets/accordion-native/e2e/images/ios/15.2/iPhone 13/Accordion should render custom icons correctly 1-snap.png
  packages/pluggableWidgets/accordion-native/e2e/specs/Accordion.spec.ts
  packages/pluggableWidgets/accordion-native/package.json
  packages/pluggableWidgets/accordion-native/src/Accordion.tsx
  packages/pluggableWidgets/accordion-native/src/__tests__/Accordion.spec.tsx
  packages/pluggableWidgets/accordion-native/src/__tests__/__snapshots__/Accordion.spec.tsx.snap
  packages/pluggableWidgets/accordion-native/src/package.xml
  packages/pluggableWidgets/accordion-native/tsconfig.json
  packages/pluggableWidgets/datagrid-web/src/utils/__tests__/useCellRenderer.spec.ts
  packages/tools/piw-utils-internal/src/builders/DynamicActionValueBuilder.ts
  packages/tools/pluggable-widgets-tools/configs/rollup.config.js
  packages/tools/pluggable-widgets-tools/configs/rollup.config.native.js
Labels: Web, Native, Cross-Platform

#1265 [WC-915] Implement TimeSeries chart
  packages/pluggableWidgets/time-series-chart-web/CHANGELOG.md
  packages/pluggableWidgets/time-series-chart-web/README.md
  packages/pluggableWidgets/time-series-chart-web/package.json
  packages/pluggableWidgets/time-series-chart-web/rollup.config.js
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorConfig.ts
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.editorPreview.ts
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.icon.png
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.tile.png
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.tsx
  packages/pluggableWidgets/time-series-chart-web/src/TimeSeries.xml
  packages/pluggableWidgets/time-series-chart-web/src/__test__/TimeSeries.spec.tsx
  packages/pluggableWidgets/time-series-chart-web/src/package.xml
  packages/pluggableWidgets/time-series-chart-web/tsconfig.json
  packages/pluggableWidgets/time-series-chart-web/typings/TimeSeriesProps.d.ts
Labels: enhancement, Web

#1293 [NC] update manual NMR release steps
  README.md
Labels: documentation

#1276 [WTF-1022] Update pluggable widget tools for association property
  packages/tools/pluggable-widgets-tools/src/typings-generator/WidgetXml.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/index.spec.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/inputs/association.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/association.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generate.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generateClientTypes.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generatePreviewTypes.ts
Labels: enhancement, Cross-Platform

#1271 [WC-994] Date filter: add option for filter between dates
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.eot
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.svg
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.ttf
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.woff
  packages/modules/data-widgets/src/themesource/datawidgets/public/fonts/datagrid-filters.woff2
  packages/modules/data-widgets/src/themesource/datawidgets/web/DatePicker.scss
  packages/modules/data-widgets/src/themesource/datawidgets/web/datagrid-filters.scss
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.editorConfig.ts
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/DatagridDateFilter.xml
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/DatePicker.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/DatePicker.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
  packages/pluggableWidgets/datagrid-date-filter-web/src/utils/filters.ts
  packages/pluggableWidgets/datagrid-date-filter-web/typings/DatagridDateFilterProps.d.ts
  packages/tools/piw-utils-internal/src/assets/DataGridFilterIcons.ts
Labels: enhancement, Web

#1298 feat(pluggable-widgets-tools): update changelogs and package.json for association property
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
Labels: enhancement, Cross-Platform

#1296 [WC-967] Rich Text: implement getPreview function for "Structure mode"
  packages/pluggableWidgets/rich-text-web/src/RichText.editorConfig.ts
  packages/pluggableWidgets/rich-text-web/src/assets/rich-text-preview-dark.svg
  packages/pluggableWidgets/rich-text-web/src/assets/rich-text-preview-light.svg
  packages/pluggableWidgets/rich-text-web/tsconfig.json
Labels: enhancement, Web

#1302 Fix screenshot baseline for OpenStreet Maps spec
  packages/pluggableWidgets/maps-web/tests/e2e/screenshot-baseline/osmMaps--firefox.png
  packages/pluggableWidgets/maps-web/tests/e2e/specs/google.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/here.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/mapbox.spec.ts
  packages/pluggableWidgets/maps-web/tests/e2e/specs/openstreet.spec.ts
Labels: Web

#1301 [WC-986]: Slider and range slider studiou group feedback
  packages/pluggableWidgets/range-slider-web/package.json
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.editorConfig.ts
  packages/pluggableWidgets/range-slider-web/src/RangeSlider.xml
  packages/pluggableWidgets/range-slider-web/src/package.xml
  packages/pluggableWidgets/range-slider-web/typings/RangeSliderProps.d.ts
  packages/pluggableWidgets/slider-web/package.json
  packages/pluggableWidgets/slider-web/src/Slider.editorConfig.ts
  packages/pluggableWidgets/slider-web/src/Slider.xml
  packages/pluggableWidgets/slider-web/src/package.xml
  packages/pluggableWidgets/slider-web/typings/SliderProps.d.ts
Labels: enhancement, Web

#1300 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
Labels: Web

#1299 ColorPicker: Updating changelogs
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
Labels: Web

#1304 Update OSM static address
  packages/pluggableWidgets/maps-web/tests/e2e/screenshot-baseline/osmMaps--firefox.png
Labels: Web

#1285 chore: Update content data file
  data/content.json
Labels: Cross-Platform

#1308 [NC-430] web view tests
  detox/src/helpers.ts
  package.json
  packages/pluggableWidgets/accordion-native/e2e/specs/Accordion.spec.ts
  packages/pluggableWidgets/activity-indicator-native/e2e/specs/ActivityIndicator.spec.ts
  packages/pluggableWidgets/background-image-native/e2e/specs/background-image.spec.ts
  packages/pluggableWidgets/badge-native/e2e/specs/Badge.spec.ts
  packages/pluggableWidgets/bar-chart-native/e2e/specs/BarChart.spec.ts
  packages/pluggableWidgets/color-picker-native/e2e/specs/ColorPicker.spec.ts
  packages/pluggableWidgets/floating-action-button-native/e2e/specs/FloatingActionButton.spec.ts
  packages/pluggableWidgets/image-native/e2e/specs/Image.spec.ts
  packages/pluggableWidgets/line-chart-native/e2e/specs/LineChart.spec.ts
  packages/pluggableWidgets/pie-doughnut-chart-native/e2e/specs/PieDoughnutChart.spec.ts
  packages/pluggableWidgets/popup-menu-native/e2e/specs/PopupMenu.spec.ts
  packages/pluggableWidgets/progress-bar-native/e2e/specs/ProgressBar.spec.ts
  packages/pluggableWidgets/progress-circle-native/e2e/specs/ProgressCircle.spec.ts
  packages/pluggableWidgets/radio-buttons-native/e2e/images/android/31/pixel/Radio Buttons renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/android/31/pixel/Radio Buttons renders correctly when option changed 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/android/31/pixel/Radio Buttons should call on change when selected option changes 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/android/31/pixel/Radio Buttons should call on change when selected option changes 2-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/ios/15.2/iPhone 13/Radio Buttons renders correct initial appearance 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/ios/15.2/iPhone 13/Radio Buttons renders correctly when option changed 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/ios/15.2/iPhone 13/Radio Buttons should call on change when selected option changes 1-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/images/ios/15.2/iPhone 13/Radio Buttons should call on change when selected option changes 2-snap.png
  packages/pluggableWidgets/radio-buttons-native/e2e/specs/RadioButtons.spec.ts
  packages/pluggableWidgets/range-slider-native/e2e/specs/RangeSlider.spec.ts
  packages/pluggableWidgets/rating-native/e2e/specs/Rating.spec.ts
  packages/pluggableWidgets/repeater-native/e2e/specs/Repeater.spec.ts
  packages/pluggableWidgets/slider-native/e2e/specs/Slider.spec.ts
  packages/pluggableWidgets/switch-native/e2e/specs/Switch.spec.ts
  packages/pluggableWidgets/web-view-native/CHANGELOG.md
  packages/pluggableWidgets/web-view-native/detox.config.js
  packages/pluggableWidgets/web-view-native/e2e/images/android/31/pixel/Web view should open URL inline 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/images/android/31/pixel/Web view should send along custom user agent 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/images/android/31/pixel/Web view should show HTML content inline 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/images/android/31/pixel/Web view should show custom styling 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/images/ios/15.2/iPhone 13/Web view should open URL externally 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/images/ios/15.2/iPhone 13/Web view should open URL inline 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/images/ios/15.2/iPhone 13/Web view should send along custom user agent 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/images/ios/15.2/iPhone 13/Web view should show HTML content inline 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/images/ios/15.2/iPhone 13/Web view should show custom styling 1-snap.png
  packages/pluggableWidgets/web-view-native/e2e/specs/WebView.spec.ts
  packages/pluggableWidgets/web-view-native/package.json
  packages/pluggableWidgets/web-view-native/src/WebView.tsx
  packages/pluggableWidgets/web-view-native/src/__tests__/__snapshots__/WebView.spec.tsx.snap
  packages/pluggableWidgets/web-view-native/src/package.xml
  packages/pluggableWidgets/web-view-native/tsconfig.json
Labels: Native

#1309 [WC-1021] Fix RichText in firefox
  packages/pluggableWidgets/rich-text-web/rollup.config.js
  packages/pluggableWidgets/rich-text-web/src/RichText.tsx
  packages/pluggableWidgets/rich-text-web/src/components/MainEditor.tsx
  packages/pluggableWidgets/rich-text-web/src/components/RichText.tsx
Labels: bug, Web

#1314 [WC-1043] Add design-mode preview for RichText
  packages/pluggableWidgets/rich-text-web/src/RichText.editorPreview.tsx
  packages/pluggableWidgets/rich-text-web/src/ui/RichTextEditorPreview.scss
Labels: enhancement, Web

#1321 [NC] update minimum mx version for nmr and nc
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1328 Nanoflow Commons: Updating changelogs
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1326 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/accordion-native/CHANGELOG.md
  packages/pluggableWidgets/badge-native/CHANGELOG.md
  packages/pluggableWidgets/barcode-scanner-native/CHANGELOG.md
  packages/pluggableWidgets/color-picker-native/CHANGELOG.md
  packages/pluggableWidgets/progress-bar-native/CHANGELOG.md
  packages/pluggableWidgets/range-slider-native/CHANGELOG.md
  packages/pluggableWidgets/slider-native/CHANGELOG.md
  packages/pluggableWidgets/video-player-native/CHANGELOG.md
  packages/pluggableWidgets/web-view-native/CHANGELOG.md
Labels: Native

#1327 [NC] improve automation error message
  scripts/release/module-automation/commons.js
Labels: enhancement, Cross-Platform

#1323 feat(shared-charts): add cache mechanism
  .nvmrc
  packages/shared/charts/src/rollup/index.js
Labels: enhancement, Web

#1315 [WC-1010] RichText editor studio feedback
  packages/pluggableWidgets/rich-text-web/src/RichText.xml
  packages/pluggableWidgets/rich-text-web/typings/RichTextProps.d.ts
Labels: enhancement, Web

#1319 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1333 [WC-1047] Fix execution of web modules scripts
  package.json
  packages/modules/atlas-core/package.json
  packages/modules/atlas-core/scripts/build.ts
  packages/modules/atlas-web-content/package.json
  packages/modules/atlas-web-content/scripts/build.ts
  packages/modules/charts/package.json
  packages/modules/charts/scripts/build.js
  packages/modules/data-widgets/package.json
  packages/modules/data-widgets/scripts/build.js
  packages/shared/charts/package.json
  scripts/release/createWebModules.js
Labels: bug, Atlas, Web, Cross-Platform

#1334 fix: remove execution of shared/charts from build and release step
  package.json
Labels: bug

#1335 Fix video player and gallery screenshot baseline
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryContent--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryDateFilter--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryDropdownSort--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryNumberFilter--firefox.png
  packages/pluggableWidgets/gallery-web/tests/e2e/screenshot-baseline/galleryTextFilter--firefox.png
  packages/pluggableWidgets/video-player-web/tests/e2e/screenshot-baseline/videoPlayerExternalPoster--firefox.png
Labels: Web

#1258 [NC-462] Fix geolocation timeout issue
  package-lock.json
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
  packages/jsActions/nanoflow-actions-native/src/geolocation/GetCurrentLocation.ts
  packages/jsActions/nanoflow-actions-native/src/geolocation/GetCurrentLocationMinimumAccuracy.ts
  packages/jsActions/nanoflow-actions-native/src/geolocation/RequestLocationPermission.ts
  packages/jsActions/nanoflow-actions-native/typings/Geolocation.d.ts
Labels: bug, Native

#1339 Fix automation
  package-lock.json
  packages/tools/pluggable-widgets-tools/package.json
  scripts/release/module-automation/commons.js
Labels: bug, Cross-Platform

#1332 [WC-1046] widget generator double quote in user answers
  packages/tools/generator-widget/CHANGELOG.md
  packages/tools/generator-widget/generators/app/templates/packages/package_native.json.ejs
  packages/tools/generator-widget/generators/app/templates/packages/package_web.json.ejs
  packages/tools/generator-widget/package.json
Labels: bug

#1342 RichText: Updating changelogs
  packages/pluggableWidgets/rich-text-web/CHANGELOG.md
Labels: Web

#1317 [WC-1011] Color picker changes based on studio feedback
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
  packages/pluggableWidgets/color-picker-web/package.json
  packages/pluggableWidgets/color-picker-web/src/ColorPicker.editorConfig.ts
  packages/pluggableWidgets/color-picker-web/src/ColorPicker.xml
  packages/pluggableWidgets/color-picker-web/src/package.xml
  packages/pluggableWidgets/color-picker-web/typings/ColorPickerProps.d.ts
Labels: Web

#1343 Update mx-versions to use 9.11 and 8.18.16
  configs/e2e/mendix-versions.json
Labels: Web

#1331 [WC-1000] Use calc for calculations with mixing units
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
  packages/modules/atlas-web-content/CHANGELOG.md
  packages/modules/atlas-web-content/package.json
  packages/theming/atlas/src/theme/web/custom-variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/_variables.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/helpers/_tab-container.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_badge.scss
  packages/theming/atlas/src/themesource/atlas_core/web/core/widgets/_button.scss
  packages/theming/atlas/src/themesource/atlas_core/web/layouts/_layout-atlas-responsive.scss
  packages/theming/atlas/src/themesource/atlas_web_content/web/buildingblocks/_wizard.scss
Labels: enhancement, Atlas, Web, Cross-Platform

#1347 ColorPicker: Updating changelogs
  packages/pluggableWidgets/color-picker-web/CHANGELOG.md
Labels: Web

#1344 feat: only record videos when tests fail
  configs/e2e/cypress/cypress.json
  package-lock.json
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/scripts/e2e.cypress.js
Labels: enhancement, Web, Cross-Platform

#1346 Atlas Web Content: Updating changelogs
  packages/modules/atlas-web-content/CHANGELOG.md
Labels: Atlas, Web
