Repository mendix/widgets-resources, pull requests merged in 2022-09, with the labels that each got.

#1560 [WTF-1194] Update PW tools to generate typings for linked association property
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
  packages/tools/pluggable-widgets-tools/package.json
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/index.spec.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/inputs/list-association.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/__tests__/outputs/list-association.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generate.ts
  packages/tools/pluggable-widgets-tools/src/typings-generator/generateClientTypes.ts
Labels: Cross-Platform

#1580 [WC-1260] language selector
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
  packages/pluggableWidgets/language-selector-web/README.md
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.editorConfig.ts
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.editorPreview.tsx
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.icon.dark.png
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.icon.png
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.tile.dark.png
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.tile.png
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.tsx
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.xml
  packages/pluggableWidgets/language-selector-web/src/assets/arrow_dark.svg
  packages/pluggableWidgets/language-selector-web/src/assets/arrow_light.svg
  packages/pluggableWidgets/language-selector-web/src/components/LanguageSwitcher.tsx
  packages/pluggableWidgets/language-selector-web/src/components/__tests__/LanguageSwitcher.spec.tsx
  packages/pluggableWidgets/language-selector-web/src/components/__tests__/__snapshots__/LanguageSwitcher.spec.tsx.snap
  packages/pluggableWidgets/language-selector-web/src/package.xml
  packages/pluggableWidgets/language-selector-web/src/ui/LanguageSelector.scss
  packages/pluggableWidgets/language-selector-web/src/utils/document.ts
  packages/pluggableWidgets/language-selector-web/tsconfig.json
  packages/pluggableWidgets/language-selector-web/typings/LanguageSelectorProps.d.ts
  packages/pluggableWidgets/language-selector-web/typings/gobal.d.ts
Labels: Web

#1618 [WC-1256]: data-widgets version bump to 2.5.5
  packages/modules/data-widgets/package.json
Labels: Web

#1619 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-web/CHANGELOG.md
Labels: Web

#1608 [NC-736] Fix client error in console with carousel native widget
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
  packages/pluggableWidgets/carousel-native/package.json
  packages/pluggableWidgets/carousel-native/src/Carousel.tsx
  packages/pluggableWidgets/carousel-native/src/package.xml
Labels: Native

#1623 Pluggable Widgets Tools v9.17.0: Update changelog
  packages/tools/pluggable-widgets-tools/CHANGELOG.md
Labels: Cross-Platform

#1624 [WC-1289] internal feedback for language selector
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.editorConfig.ts
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.editorPreview.tsx
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.xml
  packages/pluggableWidgets/language-selector-web/src/assets/arrow_black.svg
  packages/pluggableWidgets/language-selector-web/src/assets/arrow_dark.svg
  packages/pluggableWidgets/language-selector-web/src/assets/arrow_light.svg
  packages/pluggableWidgets/language-selector-web/src/components/LanguageSwitcher.tsx
  packages/pluggableWidgets/language-selector-web/src/components/__tests__/__snapshots__/LanguageSwitcher.spec.tsx.snap
  packages/pluggableWidgets/language-selector-web/src/ui/LanguageSelector.scss
Labels: Web

#1625 [WC-1284]: update plotly and upgrade all the packages
  package-lock.json
  package.json
  packages/pluggableWidgets/popup-menu-native/package.json
  packages/pluggableWidgets/qr-code-native/package.json
  packages/pluggableWidgets/rich-text-web/package.json
  packages/shared/charts/package.json
  scripts/data/package.json
Labels: Web, Native, Cross-Platform

#1630 [NC-339]: handle if successive action sheets are opened
  packages/pluggableWidgets/bottom-sheet-native/CHANGELOG.md
  packages/pluggableWidgets/bottom-sheet-native/package.json
  packages/pluggableWidgets/bottom-sheet-native/src/components/CustomModalSheet.tsx
  packages/pluggableWidgets/bottom-sheet-native/src/package.xml
Labels: Native

#1629 [NC-792]: Remove gif files from native widgets
  packages/pluggableWidgets/animation-native/CHANGELOG.md
  packages/pluggableWidgets/animation-native/README.md
  packages/pluggableWidgets/animation-native/assets/Animation Native.png
  packages/pluggableWidgets/animation-native/assets/Native Animation.png
  packages/pluggableWidgets/animation-native/assets/attention.gif
  packages/pluggableWidgets/animation-native/assets/bounce-entrances.gif
  packages/pluggableWidgets/animation-native/assets/bounce-exits.gif
  packages/pluggableWidgets/animation-native/assets/fading-entrances.gif
  packages/pluggableWidgets/animation-native/assets/fading-exits.gif
  packages/pluggableWidgets/animation-native/assets/flippers.gif
  packages/pluggableWidgets/animation-native/assets/light-speed.gif
  packages/pluggableWidgets/animation-native/assets/sliding-entrances.gif
  packages/pluggableWidgets/animation-native/assets/sliding-exits.gif
  packages/pluggableWidgets/animation-native/assets/zooming-entrances.gif
  packages/pluggableWidgets/animation-native/assets/zooming-exits.gif
  packages/pluggableWidgets/animation-native/package.json
  packages/pluggableWidgets/animation-native/src/package.xml
  packages/pluggableWidgets/bottom-sheet-native/CHANGELOG.md
  packages/pluggableWidgets/bottom-sheet-native/README.md
  packages/pluggableWidgets/image-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/README.md
  packages/pluggableWidgets/image-native/package.json
  packages/pluggableWidgets/image-native/src/package.xml
  packages/pluggableWidgets/intro-screen-native/CHANGELOG.md
  packages/pluggableWidgets/intro-screen-native/README.md
  packages/pluggableWidgets/intro-screen-native/assets/above.gif
  packages/pluggableWidgets/intro-screen-native/assets/between.gif
  packages/pluggableWidgets/intro-screen-native/assets/custom_styles.gif
  packages/pluggableWidgets/intro-screen-native/package.json
  packages/pluggableWidgets/intro-screen-native/src/package.xml
  packages/pluggableWidgets/listview-swipe-native/CHANGELOG.md
  packages/pluggableWidgets/listview-swipe-native/README.md
  packages/pluggableWidgets/listview-swipe-native/assets/buttons.gif
  packages/pluggableWidgets/listview-swipe-native/assets/collapse.gif
  packages/pluggableWidgets/listview-swipe-native/assets/reset.gif
  packages/pluggableWidgets/listview-swipe-native/assets/toggle.gif
  packages/pluggableWidgets/listview-swipe-native/package.json
  packages/pluggableWidgets/listview-swipe-native/src/package.xml
  packages/pluggableWidgets/pie-doughnut-chart-native/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-native/README.md
  packages/pluggableWidgets/pie-doughnut-chart-native/package.json
  packages/pluggableWidgets/pie-doughnut-chart-native/src/package.xml
  packages/pluggableWidgets/repeater-native/CHANGELOG.md
  packages/pluggableWidgets/repeater-native/README.md
  packages/pluggableWidgets/repeater-native/package.json
  packages/pluggableWidgets/repeater-native/src/package.xml
Labels: Native

#1631 WC-1285: add Language selector to atlas-core
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
  packages/modules/atlas-core/scripts/build.ts
Labels: Atlas, Cross-Platform

#1635 [NC-794]: Update readme file
  packages/pluggableWidgets/video-player-native/CHANGELOG.md
  packages/pluggableWidgets/video-player-native/README.md
  packages/pluggableWidgets/video-player-native/package.json
  packages/pluggableWidgets/video-player-native/src/package.xml
Labels: Native

#1622 [NC-2]: add file download jsAction
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/jsActions/mobile-resources-native/src/file-download/DownloadFile.ts
Labels: Native

#1640 Native Mobile Resources: Updating changelogs
  packages/jsActions/mobile-resources-native/CHANGELOG.md
  packages/jsActions/mobile-resources-native/package.json
  packages/pluggableWidgets/animation-native/CHANGELOG.md
  packages/pluggableWidgets/bottom-sheet-native/CHANGELOG.md
  packages/pluggableWidgets/carousel-native/CHANGELOG.md
  packages/pluggableWidgets/image-native/CHANGELOG.md
  packages/pluggableWidgets/intro-screen-native/CHANGELOG.md
  packages/pluggableWidgets/listview-swipe-native/CHANGELOG.md
  packages/pluggableWidgets/pie-doughnut-chart-native/CHANGELOG.md
  packages/pluggableWidgets/repeater-native/CHANGELOG.md
  packages/pluggableWidgets/video-player-native/CHANGELOG.md
Labels: Native

#1613 Nanoflow Commons: Updating changelogs
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/package.json
Labels: Native

#1641 [WC-1288]:Language selector editorpreview text
  packages/modules/atlas-core/package.json
  packages/pluggableWidgets/language-selector-web/package.json
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.editorPreview.tsx
Labels: Atlas, Web, Cross-Platform

#1644 [WC-1288]: add changelog message for language selector
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
Labels: Web

#1645 LanguageSelector: Updating changelogs
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
Labels: Web

#1643 [WC-1305]: Fix module import in Base64 js actions
  packages/jsActions/nanoflow-actions-native/CHANGELOG.md
  packages/jsActions/nanoflow-actions-native/src/other/Base64Decode.ts
  packages/jsActions/nanoflow-actions-native/src/other/Base64DecodeToImage.ts
  packages/jsActions/nanoflow-actions-native/src/other/Base64Encode.ts
Labels: Native

#1646 chore: add language-selector to atlas-core script
  packages/modules/atlas-core/scripts/build.ts
  scripts/release/createWebModules.js
Labels: Atlas, Cross-Platform

#1648 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1637 [NC-502]: add error style to datepicker dropdown and referenceselector
  packages/modules/atlas-core/CHANGELOG.md
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/datepicker.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/dropdown.ts
  packages/theming/atlas/src/themesource/atlas_core/native/core/widgets/referenceselector.ts
  packages/theming/atlas/src/themesource/atlas_core/native/types/widgets.d.ts
Labels: Atlas, Cross-Platform

#1649 [NC-502]: update atlas core changelog
  packages/modules/atlas-core/CHANGELOG.md
  packages/modules/atlas-core/package.json
Labels: Atlas, Cross-Platform

#1650 [WC-1320]: Language Selector id and path issues
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
  packages/pluggableWidgets/language-selector-web/src/LanguageSelector.xml
  packages/pluggableWidgets/language-selector-web/src/package.xml
Labels: Web

#1651 LanguageSelector: Updating changelogs
  packages/pluggableWidgets/language-selector-web/CHANGELOG.md
Labels: Web

#1652 Atlas Core: Updating changelogs
  packages/modules/atlas-core/CHANGELOG.md
Labels: Atlas, Cross-Platform

#1654 [WC-1321] Date filter causing multiple requests
  packages/modules/data-widgets/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/package.json
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/FilterComponent.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/components/__tests__/FilterComponent.spec.tsx
  packages/pluggableWidgets/datagrid-date-filter-web/src/package.xml
Labels: Web

#1655 Data Widgets: Updating changelogs
  packages/modules/data-widgets/CHANGELOG.md
  packages/pluggableWidgets/datagrid-date-filter-web/CHANGELOG.md
Labels: Web
